# Points

In [26]:
library(tidyverse)
source("Lap Wrangling/source/points.r")

In [28]:
point_data <- read_csv("https://raw.githubusercontent.com/TaylorOglow/Formula_1/main/season_model")

point_data

Rows: 440 Columns: 11

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): .metric, .estimator, Driver, Team
dbl (7): Round, .estimate, race_time_milliseconds, race_time_mins, race_time...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    Round .metric .estimator .estimate  race_time_milliseconds race_time_mins
1   16    rmse    standard    8244.506  4659130                 77.65216
2   10    rmse    standard   14043.819  4998205                 83.30341
3   11    rmse    standard    5168.355  5029589                 83.82648
4   14    rmse    standard   17945.357  5055526                 84.25876
5   18    rmse    standard    1278.865  5070250                 84.50417
6    4    rmse    standard    7670.133  5082756                 84.71260
7   12    rmse    standard   11788.912  5232990                 87.21650
8    3    rmse    standard    2046.781  5234982                 87.24970
9   15    rmse    standard    4132.673  5372088                 89.53480
10   9    rmse    standard    7528.361  5451845                 90.86409
11  21    rmse    standard    6893.849  5452530                 90.87550
12   5    rmse    standard    5597.871  5471889                 91.19814
13   2    rmse    standard    7198.483  5486508                 91.44180
14   8    rmse    standard    2726.053  5603737                 93.39562
15   1    rmse    standard   11985.714  5636770                 93.94617
16   6    rmse    standard    2742.303  5643311                 94.05519
17  19    rmse    standard    6645.083  5663513                 94.39188
18  20    rmse    standard    5214.576  5809021                 96.81702
19  13    rmse    standard    5954.046  5818550                 96.97584
20  22    rmse    standard   10503.913  6050207                100.83678
21   7    rmse    standard    4323.829  6071795                101.19658
22  17    rmse    standard    5775.354  6466997                107.78328
23  16    rmse    standard   16408.494  4684994                 78.08324
24  10    rmse    standard   14280.686  5032382                 83.87304
25  11    rmse    standard    9221.062  5050575                 84.17625
26  14    rmse    standard   27475.117  5069739                 84.49565
27  18    rmse    standard    2085.169  5120590                 85.34317
28  12    rmse    standard    4822.671  5233547                 87.22578
29   3    rmse    standard    4584.735  5248133                 87.46888
30   4    rmse    standard   17186.285  5317189                 88.61981
⋮   ⋮     ⋮       ⋮          ⋮          ⋮                      ⋮
411  8    rmse    standard   195646.602 6062587                101.04312
412  5    rmse    standard     6361.365 6063162                101.05269
413 20    rmse    standard     8880.491 6122383                102.03972
414 13    rmse    standard   262644.301 6170783                102.84639
415 22    rmse    standard     6752.566 6244377                104.07295
416 21    rmse    standard   161236.954 6456041                107.60069
417  7    rmse    standard    10811.812 6472766                107.87943
418 17    rmse    standard    20133.431 7242167                120.70279
419 16    rmse    standard    15827.547 5131675                 85.52791
420 11    rmse    standard    10216.814 5226659                 87.11098
421 18    rmse    standard     8422.057 5362294                 89.37157
422 12    rmse    standard    15982.109 5407123                 90.11872
423 14    rmse    standard    19262.394 5502406                 91.70676
424 10    rmse    standard    21706.577 5546973                 92.44955
425  9    rmse    standard     7500.387 5675997                 94.59994
426 15    rmse    standard     1543.996 5718513                 95.30855
427  3    rmse    standard    11064.350 5738717                 95.64529
428  2    rmse    standard     7671.708 5826284                 97.10473
429  4    rmse    standard    20114.552 5880181                 98.00302
430  6    rmse    standard     9298.735 5904985                 98.41642
431 19    rmse    standard     5166.413 5912140                 98.53567
432  1    rmse    standard    14317.896 5922126                 98.70211
433  5    rmse    standard     6315.402 6064609                101.07682
434  8    rmse    standard    22265.825 6109101                101.81835
435 20    rmse    standard     6191.390 6124838                102.08064
436 13    rmse    standard    11381.998 6221508                103.69181
437 22    rmse    standard     4695.724 6263385                104.38975
438  7    rmse    standard    12363.503 6536707                108.94511
439 21    rmse    standard    23688.074 6771402                112.85670
440 17    rmse    standard    19178.034 7483396                124.72327
    race_time_hrs Driver           Team            Finish Points
1   1.294203      Lewis Hamilton   Mercedes        1      25
2   1.388390      Charles Leclerc  Ferrari         1      25
3   1.397108      Max Verstappen   Red Bull Racing 1      25
4   1.404313      Charles Leclerc  Ferrari         1      25
5   1.408403      Alexander Albon  Williams        1      25
6   1.411877      Kevin Magnussen  Haas F1 Team    1      25
7   1.453608      Lewis Hamilton   Mercedes        1      25
8   1.454162      Pierre Gasly     AlphaTauri      1      25
9   1.492247      Max Verstappen   Red Bull Racing 1      25
10  1.514402      Sebastian Vettel Aston Martin    1      25
11  1.514592      Charles Leclerc  Ferrari         1      25
12  1.519969      Yuki Tsunoda     AlphaTauri      1      25
13  1.524030      Alexander Albon  Williams        1      25
14  1.556594      Max Verstappen   Red Bull Racing 1      25
15  1.565770      Charles Leclerc  Ferrari         1      25
16  1.567586      Lando Norris     McLaren         1      25
17  1.573198      Max Verstappen   Red Bull Racing 1      25
18  1.613617      Alexander Albon  Williams        1      25
19  1.616264      Charles Leclerc  Ferrari         1      25
20  1.680613      Alexander Albon  Williams        1      25
21  1.686610      Yuki Tsunoda     AlphaTauri      1      25
22  1.796388      George Russell   Mercedes        1      25
23  1.301387      Charles Leclerc  Ferrari         2      18
24  1.397884      Alexander Albon  Williams        2      18
25  1.402938      Sebastian Vettel Aston Martin    2      18
26  1.408261      Lance Stroll     Aston Martin    2      18
27  1.422386      Charles Leclerc  Ferrari         2      18
28  1.453763      Lando Norris     McLaren         2      18
29  1.457815      Alexander Albon  Williams        2      18
30  1.476997      Alexander Albon  Williams        2      18
⋮   ⋮             ⋮                ⋮               ⋮      ⋮
411 1.684052      Fernando Alonso  Alpine          19     0
412 1.684212      Max Verstappen   Red Bull Racing 19     0
413 1.700662      Nicholas Latfifi Williams        19     0
414 1.714106      Nicholas Latfifi Williams        19     0
415 1.734549      Mick Schumacher  Haas F1 Team    19     0
416 1.793345      Sergio Pérez     Red Bull Racing 19     0
417 1.797991      Fernando Alonso  Alpine          19     0
418 2.011713      Lance Stroll     Aston Martin    19     0
419 1.425465      Max Verstappen   Red Bull Racing 20     0
420 1.451850      Nicholas Latfifi Williams        20     0
421 1.489526      Fernando Alonso  Alpine          20     0
422 1.501979      Fernando Alonso  Alpine          20     0
423 1.528446      Daniel Ricciardo McLaren         20     0
424 1.540826      Sebastian Vettel Aston Martin    20     0
425 1.576666      Lando Norris     McLaren         20     0
426 1.588476      Kevin Magnussen  Haas F1 Team    20     0
427 1.594088      Sergio Pérez     Red Bull Racing 20     0
428 1.618412      Mick Schumacher  Haas F1 Team    20     0
429 1.633384      Mick Schumacher  Haas F1 Team    20     0
430 1.640274      Fernando Alonso  Alpine          20     0
431 1.642261      Fernando Alonso  Alpine          20     0
432 1.645035      Zhou Guanyu      Alfa Romeo      20     0
433 1.684614      Alexander Albon  Williams        20     0
434 1.696973      Esteban Ocon     Alpine          20     0
435 1.701344      Mick Schumacher  Haas F1 Team    20     0
436 1.728197      Lewis Hamilton   Mercedes        20     0
437 1.739829      Nicholas Latfifi Williams        20     0
438 1.815752      Kevin Magnussen  Haas F1 Team    20     0
439 1.880945      Valtteri Bottas  Alfa Romeo      20     0
440 2.078721      Esteban Ocon     Alpine          20     0

In [29]:
season_points <- data.frame(Points_UTR = character(), Round = double(), Driver = character(), stringsAsFactors=FALSE) 

season_points

     Points_UTR Round Driver

## Drivers' World Championship

In [30]:
driver_points <- point_data %>% 
                filter(Driver == "Alexander Albon") %>%
                arrange(by = Round)  

name <- "Alexander Albon"

get_points()

points

   Points_UTR Round Driver
1   25         1    Alexander Albon
2   25         2    Alexander Albon
3   43         3    Alexander Albon
4   61         4    Alexander Albon
5   61         5    Alexander Albon
6   76         6    Alexander Albon
7   76         7    Alexander Albon
8   94         8    Alexander Albon
9  104         9    Alexander Albon
10 122        10    Alexander Albon
11 122        11    Alexander Albon
12 122        12    Alexander Albon
13 140        13    Alexander Albon
14 140        14    Alexander Albon
15 140        15    Alexander Albon
16 140        16    Alexander Albon
17 141        17    Alexander Albon
18 166        18    Alexander Albon
19 184        19    Alexander Albon
20 209        20    Alexander Albon
21 210        21    Alexander Albon
22 235        22    Alexander Albon

In [31]:
driver_points <- point_data %>% 
                filter(Driver == "Carlos Sainz Jr.") %>%
                arrange(by = Round)  

name <- "Carlos Sainz Jr."

get_points()


points

   Points_UTR Round Driver
1   1          1    Carlos Sainz Jr.
2   1          2    Carlos Sainz Jr.
3   1          3    Carlos Sainz Jr.
4   3          4    Carlos Sainz Jr.
5  11          5    Carlos Sainz Jr.
6  11          6    Carlos Sainz Jr.
7  11          7    Carlos Sainz Jr.
8  11          8    Carlos Sainz Jr.
9  15          9    Carlos Sainz Jr.
10 15         10    Carlos Sainz Jr.
11 15         11    Carlos Sainz Jr.
12 15         12    Carlos Sainz Jr.
13 15         13    Carlos Sainz Jr.
14 15         14    Carlos Sainz Jr.
15 17         15    Carlos Sainz Jr.
16 18         16    Carlos Sainz Jr.
17 18         17    Carlos Sainz Jr.
18 18         18    Carlos Sainz Jr.
19 19         19    Carlos Sainz Jr.
20 19         20    Carlos Sainz Jr.
21 19         21    Carlos Sainz Jr.
22 25         22    Carlos Sainz Jr.

In [32]:
driver_points <- point_data %>% 
                filter(Driver == "Charles Leclerc") %>%
                arrange(by = Round)  

name <- "Charles Leclerc"

get_points()


points

   Points_UTR Round Driver
1   35         1    Charles Leclerc
2   35         2    Charles Leclerc
3   39         3    Charles Leclerc
4   49         4    Charles Leclerc
5   61         5    Charles Leclerc
6   69         6    Charles Leclerc
7   73         7    Charles Leclerc
8   79         8    Charles Leclerc
9   94         9    Charles Leclerc
10 119        10    Charles Leclerc
11 119        11    Charles Leclerc
12 119        12    Charles Leclerc
13 144        13    Charles Leclerc
14 169        14    Charles Leclerc
15 179        15    Charles Leclerc
16 197        16    Charles Leclerc
17 209        17    Charles Leclerc
18 227        18    Charles Leclerc
19 239        19    Charles Leclerc
20 243        20    Charles Leclerc
21 268        21    Charles Leclerc
22 278        22    Charles Leclerc

In [33]:
driver_points <- point_data %>% 
                filter(Driver == "Daniel Ricciardo") %>%
                arrange(by = Round)  

name <- "Daniel Ricciardo"

get_points()


points

   Points_UTR Round Driver
1  10          1    Daniel Ricciardo
2  10          2    Daniel Ricciardo
3  10          3    Daniel Ricciardo
4  18          4    Daniel Ricciardo
5  18          5    Daniel Ricciardo
6  18          6    Daniel Ricciardo
7  18          7    Daniel Ricciardo
8  28          8    Daniel Ricciardo
9  28          9    Daniel Ricciardo
10 28         10    Daniel Ricciardo
11 40         11    Daniel Ricciardo
12 46         12    Daniel Ricciardo
13 50         13    Daniel Ricciardo
14 50         14    Daniel Ricciardo
15 50         15    Daniel Ricciardo
16 65         16    Daniel Ricciardo
17 71         17    Daniel Ricciardo
18 75         18    Daniel Ricciardo
19 77         19    Daniel Ricciardo
20 79         20    Daniel Ricciardo
21 79         21    Daniel Ricciardo
22 83         22    Daniel Ricciardo

In [34]:
driver_points <- point_data %>% 
                filter(Driver == "Esteban Ocon") %>%
                arrange(by = Round)  

name <- "Esteban Ocon"

get_points()


points

   Points_UTR Round Driver
1   0          1    Esteban Ocon
2   0          2    Esteban Ocon
3   0          3    Esteban Ocon
4   0          4    Esteban Ocon
5   0          5    Esteban Ocon
6   0          6    Esteban Ocon
7   8          7    Esteban Ocon
8   8          8    Esteban Ocon
9   8          9    Esteban Ocon
10  9         10    Esteban Ocon
11  9         11    Esteban Ocon
12  9         12    Esteban Ocon
13  9         13    Esteban Ocon
14  9         14    Esteban Ocon
15 10         15    Esteban Ocon
16 10         16    Esteban Ocon
17 10         17    Esteban Ocon
18 10         18    Esteban Ocon
19 10         19    Esteban Ocon
20 10         20    Esteban Ocon
21 10         21    Esteban Ocon
22 10         22    Esteban Ocon

In [35]:
driver_points <- point_data %>% 
                filter(Driver == "Fernando Alonso") %>%
                arrange(by = Round)  

name <- "Fernando Alonso"

get_points()


points

   Points_UTR Round Driver
1  15          1    Fernando Alonso
2  15          2    Fernando Alonso
3  15          3    Fernando Alonso
4  15          4    Fernando Alonso
5  33          5    Fernando Alonso
6  33          6    Fernando Alonso
7  33          7    Fernando Alonso
8  33          8    Fernando Alonso
9  33          9    Fernando Alonso
10 33         10    Fernando Alonso
11 33         11    Fernando Alonso
12 33         12    Fernando Alonso
13 33         13    Fernando Alonso
14 33         14    Fernando Alonso
15 37         15    Fernando Alonso
16 37         16    Fernando Alonso
17 37         17    Fernando Alonso
18 37         18    Fernando Alonso
19 37         19    Fernando Alonso
20 37         20    Fernando Alonso
21 37         21    Fernando Alonso
22 37         22    Fernando Alonso

In [36]:
driver_points <- point_data %>% 
                filter(Driver == "George Russell") %>%
                arrange(by = Round)  

name <- "George Russell"

get_points()


points

   Points_UTR Round Driver
1   0          1    George Russell
2   0          2    George Russell
3   0          3    George Russell
4  12          4    George Russell
5  12          5    George Russell
6  12          6    George Russell
7  14          7    George Russell
8  22          8    George Russell
9  23          9    George Russell
10 23         10    George Russell
11 25         11    George Russell
12 26         12    George Russell
13 28         13    George Russell
14 43         14    George Russell
15 43         15    George Russell
16 43         16    George Russell
17 68         17    George Russell
18 74         18    George Russell
19 74         19    George Russell
20 74         20    George Russell
21 82         21    George Russell
22 82         22    George Russell

In [37]:
driver_points <- point_data %>% 
                filter(Driver == "Kevin Magnussen") %>%
                arrange(by = Round)  

name <- "Kevin Magnussen"

get_points()


points

   Points_UTR Round Driver
1  15          1    Kevin Magnussen
2  15          2    Kevin Magnussen
3  15          3    Kevin Magnussen
4  40          4    Kevin Magnussen
5  40          5    Kevin Magnussen
6  40          6    Kevin Magnussen
7  40          7    Kevin Magnussen
8  40          8    Kevin Magnussen
9  40          9    Kevin Magnussen
10 40         10    Kevin Magnussen
11 40         11    Kevin Magnussen
12 40         12    Kevin Magnussen
13 40         13    Kevin Magnussen
14 44         14    Kevin Magnussen
15 44         15    Kevin Magnussen
16 50         16    Kevin Magnussen
17 50         17    Kevin Magnussen
18 50         18    Kevin Magnussen
19 50         19    Kevin Magnussen
20 50         20    Kevin Magnussen
21 50         21    Kevin Magnussen
22 50         22    Kevin Magnussen

In [38]:
driver_points <- point_data %>% 
                filter(Driver == "Lance Stroll") %>%
                arrange(by = Round)  

name <- "Lance Stroll"

get_points()


points

   Points_UTR Round Driver
1   8          1    Lance Stroll
2   8          2    Lance Stroll
3   8          3    Lance Stroll
4   8          4    Lance Stroll
5   8          5    Lance Stroll
6   8          6    Lance Stroll
7   9          7    Lance Stroll
8  10          8    Lance Stroll
9  10          9    Lance Stroll
10 12         10    Lance Stroll
11 27         11    Lance Stroll
12 29         12    Lance Stroll
13 30         13    Lance Stroll
14 48         14    Lance Stroll
15 48         15    Lance Stroll
16 52         16    Lance Stroll
17 52         17    Lance Stroll
18 52         18    Lance Stroll
19 52         19    Lance Stroll
20 52         20    Lance Stroll
21 67         21    Lance Stroll
22 67         22    Lance Stroll

In [39]:
driver_points <- point_data %>% 
                filter(Driver == "Lando Norris") %>%
                arrange(by = Round)  

name <- "Lando Norris"

get_points()


points

   Points_UTR Round Driver
1    0         1    Lando Norris
2    0         2    Lando Norris
3   10         3    Lando Norris
4   16         4    Lando Norris
5   20         5    Lando Norris
6   45         6    Lando Norris
7   60         7    Lando Norris
8   75         8    Lando Norris
9   75         9    Lando Norris
10  90        10    Lando Norris
11  91        11    Lando Norris
12 109        12    Lando Norris
13 115        13    Lando Norris
14 117        14    Lando Norris
15 123        15    Lando Norris
16 123        16    Lando Norris
17 125        17    Lando Norris
18 140        18    Lando Norris
19 150        19    Lando Norris
20 160        20    Lando Norris
21 170        21    Lando Norris
22 178        22    Lando Norris

In [40]:
driver_points <- point_data %>% 
                filter(Driver == "Lewis Hamilton") %>%
                arrange(by = Round)  

name <- "Lewis Hamilton"

get_points()


points

   Points_UTR Round Driver
1   36         1    Lewis Hamilton
2   36         2    Lewis Hamilton
3   48         3    Lewis Hamilton
4   49         4    Lewis Hamilton
5   59         5    Lewis Hamilton
6   77         6    Lewis Hamilton
7   77         7    Lewis Hamilton
8   79         8    Lewis Hamilton
9   91         9    Lewis Hamilton
10  91        10    Lewis Hamilton
11 101        11    Lewis Hamilton
12 126        12    Lewis Hamilton
13 126        13    Lewis Hamilton
14 138        14    Lewis Hamilton
15 156        15    Lewis Hamilton
16 181        16    Lewis Hamilton
17 185        17    Lewis Hamilton
18 197        18    Lewis Hamilton
19 212        19    Lewis Hamilton
20 224        20    Lewis Hamilton
21 224        21    Lewis Hamilton
22 236        22    Lewis Hamilton

In [41]:
driver_points <- point_data %>% 
                filter(Driver == "Max Verstappen") %>%
                arrange(by = Round)  

name <- "Max Verstappen"

get_points()


points

   Points_UTR Round Driver
1    8         1    Max Verstappen
2    8         2    Max Verstappen
3   14         3    Max Verstappen
4   14         4    Max Verstappen
5   14         5    Max Verstappen
6   20         6    Max Verstappen
7   30         7    Max Verstappen
8   55         8    Max Verstappen
9   73         9    Max Verstappen
10  77        10    Max Verstappen
11 102        11    Max Verstappen
12 117        12    Max Verstappen
13 125        13    Max Verstappen
14 135        14    Max Verstappen
15 160        15    Max Verstappen
16 160        16    Max Verstappen
17 178        17    Max Verstappen
18 180        18    Max Verstappen
19 205        19    Max Verstappen
20 223        20    Max Verstappen
21 223        21    Max Verstappen
22 238        22    Max Verstappen

In [42]:
driver_points <- point_data %>% 
                filter(Driver == "Mick Schumacher") %>%
                arrange(by = Round)  

name <- "Mick Schumacher"

get_points()


points

   Points_UTR Round Driver
1   0          1    Mick Schumacher
2   0          2    Mick Schumacher
3   0          3    Mick Schumacher
4   0          4    Mick Schumacher
5  15          5    Mick Schumacher
6  19          6    Mick Schumacher
7  25          7    Mick Schumacher
8  25          8    Mick Schumacher
9  25          9    Mick Schumacher
10 25         10    Mick Schumacher
11 25         11    Mick Schumacher
12 25         12    Mick Schumacher
13 25         13    Mick Schumacher
14 25         14    Mick Schumacher
15 25         15    Mick Schumacher
16 25         16    Mick Schumacher
17 25         17    Mick Schumacher
18 25         18    Mick Schumacher
19 25         19    Mick Schumacher
20 25         20    Mick Schumacher
21 27         21    Mick Schumacher
22 27         22    Mick Schumacher

In [43]:
driver_points <- point_data %>% 
                filter(Driver == "Nicholas Latfifi") %>%
                arrange(by = Round)  

name <- "Nicholas Latfifi"

get_points()


points

   Points_UTR Round Driver
1   0          1    Nicholas Latfifi
2   0          2    Nicholas Latfifi
3   0          3    Nicholas Latfifi
4  15          4    Nicholas Latfifi
5  15          5    Nicholas Latfifi
6  27          6    Nicholas Latfifi
7  45          7    Nicholas Latfifi
8  45          8    Nicholas Latfifi
9  45          9    Nicholas Latfifi
10 57         10    Nicholas Latfifi
11 57         11    Nicholas Latfifi
12 57         12    Nicholas Latfifi
13 57         13    Nicholas Latfifi
14 57         14    Nicholas Latfifi
15 57         15    Nicholas Latfifi
16 57         16    Nicholas Latfifi
17 57         17    Nicholas Latfifi
18 57         18    Nicholas Latfifi
19 57         19    Nicholas Latfifi
20 57         20    Nicholas Latfifi
21 61         21    Nicholas Latfifi
22 61         22    Nicholas Latfifi

In [44]:
driver_points <- point_data %>% 
                filter(Driver == "Pierre Gasly") %>%
                arrange(by = Round)  

name <- "Pierre Gasly"

get_points()


points

   Points_UTR Round Driver
1    3         1    Pierre Gasly
2    3         2    Pierre Gasly
3   28         3    Pierre Gasly
4   28         4    Pierre Gasly
5   29         5    Pierre Gasly
6   39         6    Pierre Gasly
7   51         7    Pierre Gasly
8   51         8    Pierre Gasly
9   57         9    Pierre Gasly
10  65        10    Pierre Gasly
11  65        11    Pierre Gasly
12  77        12    Pierre Gasly
13  92        13    Pierre Gasly
14  92        14    Pierre Gasly
15 104        15    Pierre Gasly
16 116        16    Pierre Gasly
17 126        17    Pierre Gasly
18 126        18    Pierre Gasly
19 126        19    Pierre Gasly
20 126        20    Pierre Gasly
21 144        21    Pierre Gasly
22 144        22    Pierre Gasly

In [45]:
driver_points <- point_data %>% 
                filter(Driver == "Sebastian Vettel") %>%
                arrange(by = Round)  

name <- "Sebastian Vettel"

get_points()


points

   Points_UTR Round Driver
1   10         1    Sebastian Vettel
2   10         2    Sebastian Vettel
3   25         3    Sebastian Vettel
4   25         4    Sebastian Vettel
5   25         5    Sebastian Vettel
6   26         6    Sebastian Vettel
7   26         7    Sebastian Vettel
8   30         8    Sebastian Vettel
9   55         9    Sebastian Vettel
10  55        10    Sebastian Vettel
11  73        11    Sebastian Vettel
12  81        12    Sebastian Vettel
13  93        13    Sebastian Vettel
14  99        14    Sebastian Vettel
15  99        15    Sebastian Vettel
16 107        16    Sebastian Vettel
17 122        17    Sebastian Vettel
18 130        18    Sebastian Vettel
19 138        19    Sebastian Vettel
20 153        20    Sebastian Vettel
21 153        21    Sebastian Vettel
22 155        22    Sebastian Vettel

In [46]:
driver_points <- point_data %>% 
                filter(Driver == "Sergio Pérez") %>%
                arrange(by = Round)  

name <- "Sergio Pérez"

get_points()


points

   Points_UTR Round Driver
1   0          1    Sergio Pérez
2   0          2    Sergio Pérez
3   0          3    Sergio Pérez
4   4          4    Sergio Pérez
5  10          5    Sergio Pérez
6  10          6    Sergio Pérez
7  10          7    Sergio Pérez
8  10          8    Sergio Pérez
9  10          9    Sergio Pérez
10 10         10    Sergio Pérez
11 10         11    Sergio Pérez
12 14         12    Sergio Pérez
13 14         13    Sergio Pérez
14 15         14    Sergio Pérez
15 23         15    Sergio Pérez
16 25         16    Sergio Pérez
17 25         17    Sergio Pérez
18 25         18    Sergio Pérez
19 25         19    Sergio Pérez
20 26         20    Sergio Pérez
21 26         21    Sergio Pérez
22 26         22    Sergio Pérez

In [47]:
driver_points <- point_data %>% 
                filter(Driver == "Valtteri Bottas") %>%
                arrange(by = Round)  

name <- "Valtteri Bottas"

get_points()


points

   Points_UTR Round Driver
1   12         1    Valtteri Bottas
2   12         2    Valtteri Bottas
3   20         3    Valtteri Bottas
4   20         4    Valtteri Bottas
5   22         5    Valtteri Bottas
6   24         6    Valtteri Bottas
7   24         7    Valtteri Bottas
8   24         8    Valtteri Bottas
9   26         9    Valtteri Bottas
10  26        10    Valtteri Bottas
11  34        11    Valtteri Bottas
12  44        12    Valtteri Bottas
13  54        13    Valtteri Bottas
14  62        14    Valtteri Bottas
15  77        15    Valtteri Bottas
16  77        16    Valtteri Bottas
17  77        17    Valtteri Bottas
18  87        18    Valtteri Bottas
19  93        19    Valtteri Bottas
20 101        20    Valtteri Bottas
21 101        21    Valtteri Bottas
22 119        22    Valtteri Bottas

In [48]:
driver_points <- point_data %>% 
                filter(Driver == "Yuki Tsunoda") %>%
                arrange(by = Round)  

name <- "Yuki Tsunoda"

get_points()


points

   Points_UTR Round Driver
1  12          1    Yuki Tsunoda
2  12          2    Yuki Tsunoda
3  14          3    Yuki Tsunoda
4  14          4    Yuki Tsunoda
5  39          5    Yuki Tsunoda
6  39          6    Yuki Tsunoda
7  64          7    Yuki Tsunoda
8  64          8    Yuki Tsunoda
9  64          9    Yuki Tsunoda
10 70         10    Yuki Tsunoda
11 76         11    Yuki Tsunoda
12 76         12    Yuki Tsunoda
13 76         13    Yuki Tsunoda
14 76         14    Yuki Tsunoda
15 76         15    Yuki Tsunoda
16 86         16    Yuki Tsunoda
17 86         17    Yuki Tsunoda
18 86         18    Yuki Tsunoda
19 86         19    Yuki Tsunoda
20 86         20    Yuki Tsunoda
21 92         21    Yuki Tsunoda
22 92         22    Yuki Tsunoda

In [49]:
driver_points <- point_data %>% 
                filter(Driver == "Zhou Guanyu") %>%
                arrange(by = Round)  

name <- "Zhou Guanyu"

get_points()


points

   Points_UTR Round Driver
1  12          1    Zhou Guanyu
2  12          2    Zhou Guanyu
3  13          3    Zhou Guanyu
4  13          4    Zhou Guanyu
5  13          5    Zhou Guanyu
6  13          6    Zhou Guanyu
7  13          7    Zhou Guanyu
8  25          8    Zhou Guanyu
9  33          9    Zhou Guanyu
10 43         10    Zhou Guanyu
11 47         11    Zhou Guanyu
12 47         12    Zhou Guanyu
13 47         13    Zhou Guanyu
14 47         14    Zhou Guanyu
15 47         15    Zhou Guanyu
16 47         16    Zhou Guanyu
17 55         17    Zhou Guanyu
18 56         18    Zhou Guanyu
19 60         19    Zhou Guanyu
20 66         20    Zhou Guanyu
21 78         21    Zhou Guanyu
22 79         22    Zhou Guanyu

In [51]:
write_csv(season_points, "point_trend.csv")