# Points

In [47]:
library(tidyverse)
source("Lap Wrangling/source/points.r")

In [48]:
points <- read_csv("https://raw.githubusercontent.com/TaylorOglow/Formula_1/main/season_model")

Parsed with column specification:
cols(
  Round = col_double(),
  .metric = col_character(),
  .estimator = col_character(),
  .estimate = col_double(),
  race_time_milliseconds = col_double(),
  race_time_mins = col_double(),
  race_time_hrs = col_double(),
  Driver = col_character(),
  Team = col_character(),
  Finish = col_double(),
  Points = col_double()
)

## Drivers' World Championship

In [49]:
Albon <- points1 %>% 
                filter(Driver == "Alexander Albon") %>%
                arrange(by = Round)  

name <- "Alexander Albon"

get_points()


points

   Points_UTR Round Driver
1   25         1    Alexander Albon
2   25         2    Alexander Albon
3   43         3    Alexander Albon
4   61         4    Alexander Albon
5   61         5    Alexander Albon
6   76         6    Alexander Albon
7   76         7    Alexander Albon
8   94         8    Alexander Albon
9  104         9    Alexander Albon
10 122        10    Alexander Albon
11 122        11    Alexander Albon
12 122        12    Alexander Albon
13 140        13    Alexander Albon
14 140        14    Alexander Albon
15 140        15    Alexander Albon
16 140        16    Alexander Albon
17 141        17    Alexander Albon
18 166        18    Alexander Albon
19 184        19    Alexander Albon
20 209        20    Alexander Albon
21 210        21    Alexander Albon
22 235        22    Alexander Albon

In [50]:
Sainz <- points1 %>% 
                filter(Driver == "Carlos Sainz Jr.") %>%
                arrange(by = Round)  

name <- "Carlos Sainz Jr."

get_points()


points

   Points_UTR Round Driver
1   25         1    Carlos Sainz Jr.
2   25         2    Carlos Sainz Jr.
3   43         3    Carlos Sainz Jr.
4   61         4    Carlos Sainz Jr.
5   61         5    Carlos Sainz Jr.
6   76         6    Carlos Sainz Jr.
7   76         7    Carlos Sainz Jr.
8   94         8    Carlos Sainz Jr.
9  104         9    Carlos Sainz Jr.
10 122        10    Carlos Sainz Jr.
11 122        11    Carlos Sainz Jr.
12 122        12    Carlos Sainz Jr.
13 140        13    Carlos Sainz Jr.
14 140        14    Carlos Sainz Jr.
15 140        15    Carlos Sainz Jr.
16 140        16    Carlos Sainz Jr.
17 141        17    Carlos Sainz Jr.
18 166        18    Carlos Sainz Jr.
19 184        19    Carlos Sainz Jr.
20 209        20    Carlos Sainz Jr.
21 210        21    Carlos Sainz Jr.
22 235        22    Carlos Sainz Jr.

In [51]:
Leclerc <- points1 %>% 
                filter(Driver == "Charles Leclerc") %>%
                arrange(by = Round)  

name <- "Charles Leclerc"

get_points()


points

   Points_UTR Round Driver
1   25         1    Charles Leclerc
2   25         2    Charles Leclerc
3   43         3    Charles Leclerc
4   61         4    Charles Leclerc
5   61         5    Charles Leclerc
6   76         6    Charles Leclerc
7   76         7    Charles Leclerc
8   94         8    Charles Leclerc
9  104         9    Charles Leclerc
10 122        10    Charles Leclerc
11 122        11    Charles Leclerc
12 122        12    Charles Leclerc
13 140        13    Charles Leclerc
14 140        14    Charles Leclerc
15 140        15    Charles Leclerc
16 140        16    Charles Leclerc
17 141        17    Charles Leclerc
18 166        18    Charles Leclerc
19 184        19    Charles Leclerc
20 209        20    Charles Leclerc
21 210        21    Charles Leclerc
22 235        22    Charles Leclerc

In [52]:
Ricciardo <- points1 %>% 
                filter(Driver == "Daniel Ricciardo") %>%
                arrange(by = Round)  

name <- "Daniel Ricciardo"

get_points()


points

   Points_UTR Round Driver
1   25         1    Daniel Ricciardo
2   25         2    Daniel Ricciardo
3   43         3    Daniel Ricciardo
4   61         4    Daniel Ricciardo
5   61         5    Daniel Ricciardo
6   76         6    Daniel Ricciardo
7   76         7    Daniel Ricciardo
8   94         8    Daniel Ricciardo
9  104         9    Daniel Ricciardo
10 122        10    Daniel Ricciardo
11 122        11    Daniel Ricciardo
12 122        12    Daniel Ricciardo
13 140        13    Daniel Ricciardo
14 140        14    Daniel Ricciardo
15 140        15    Daniel Ricciardo
16 140        16    Daniel Ricciardo
17 141        17    Daniel Ricciardo
18 166        18    Daniel Ricciardo
19 184        19    Daniel Ricciardo
20 209        20    Daniel Ricciardo
21 210        21    Daniel Ricciardo
22 235        22    Daniel Ricciardo

In [53]:
Ocon <- points1 %>% 
                filter(Driver == "Esteban Ocon") %>%
                arrange(by = Round)  

name <- "Esteban Ocon"

get_points()


points

   Points_UTR Round Driver
1   25         1    Esteban Ocon
2   25         2    Esteban Ocon
3   43         3    Esteban Ocon
4   61         4    Esteban Ocon
5   61         5    Esteban Ocon
6   76         6    Esteban Ocon
7   76         7    Esteban Ocon
8   94         8    Esteban Ocon
9  104         9    Esteban Ocon
10 122        10    Esteban Ocon
11 122        11    Esteban Ocon
12 122        12    Esteban Ocon
13 140        13    Esteban Ocon
14 140        14    Esteban Ocon
15 140        15    Esteban Ocon
16 140        16    Esteban Ocon
17 141        17    Esteban Ocon
18 166        18    Esteban Ocon
19 184        19    Esteban Ocon
20 209        20    Esteban Ocon
21 210        21    Esteban Ocon
22 235        22    Esteban Ocon

In [54]:
Alonso <- points1 %>% 
                filter(Driver == "Fernando Alonso") %>%
                arrange(by = Round)  

name <- "Fernando Alonso"

get_points()


points

   Points_UTR Round Driver
1   25         1    Fernando Alonso
2   25         2    Fernando Alonso
3   43         3    Fernando Alonso
4   61         4    Fernando Alonso
5   61         5    Fernando Alonso
6   76         6    Fernando Alonso
7   76         7    Fernando Alonso
8   94         8    Fernando Alonso
9  104         9    Fernando Alonso
10 122        10    Fernando Alonso
11 122        11    Fernando Alonso
12 122        12    Fernando Alonso
13 140        13    Fernando Alonso
14 140        14    Fernando Alonso
15 140        15    Fernando Alonso
16 140        16    Fernando Alonso
17 141        17    Fernando Alonso
18 166        18    Fernando Alonso
19 184        19    Fernando Alonso
20 209        20    Fernando Alonso
21 210        21    Fernando Alonso
22 235        22    Fernando Alonso

In [55]:
Russell <- points1 %>% 
                filter(Driver == "George Russell") %>%
                arrange(by = Round)  

name <- "George Russell"

get_points()


points

   Points_UTR Round Driver
1   25         1    George Russell
2   25         2    George Russell
3   43         3    George Russell
4   61         4    George Russell
5   61         5    George Russell
6   76         6    George Russell
7   76         7    George Russell
8   94         8    George Russell
9  104         9    George Russell
10 122        10    George Russell
11 122        11    George Russell
12 122        12    George Russell
13 140        13    George Russell
14 140        14    George Russell
15 140        15    George Russell
16 140        16    George Russell
17 141        17    George Russell
18 166        18    George Russell
19 184        19    George Russell
20 209        20    George Russell
21 210        21    George Russell
22 235        22    George Russell

In [56]:
Magnussen <- points1 %>% 
                filter(Driver == "Kevin Magnussen") %>%
                arrange(by = Round)  

name <- "Kevin Magnussen"

get_points()


points

   Points_UTR Round Driver
1   25         1    Kevin Magnussen
2   25         2    Kevin Magnussen
3   43         3    Kevin Magnussen
4   61         4    Kevin Magnussen
5   61         5    Kevin Magnussen
6   76         6    Kevin Magnussen
7   76         7    Kevin Magnussen
8   94         8    Kevin Magnussen
9  104         9    Kevin Magnussen
10 122        10    Kevin Magnussen
11 122        11    Kevin Magnussen
12 122        12    Kevin Magnussen
13 140        13    Kevin Magnussen
14 140        14    Kevin Magnussen
15 140        15    Kevin Magnussen
16 140        16    Kevin Magnussen
17 141        17    Kevin Magnussen
18 166        18    Kevin Magnussen
19 184        19    Kevin Magnussen
20 209        20    Kevin Magnussen
21 210        21    Kevin Magnussen
22 235        22    Kevin Magnussen

In [57]:
Stroll <- points1 %>% 
                filter(Driver == "Lance Stroll") %>%
                arrange(by = Round)  

name <- "Lance Stroll"

get_points()


points

   Points_UTR Round Driver
1   25         1    Lance Stroll
2   25         2    Lance Stroll
3   43         3    Lance Stroll
4   61         4    Lance Stroll
5   61         5    Lance Stroll
6   76         6    Lance Stroll
7   76         7    Lance Stroll
8   94         8    Lance Stroll
9  104         9    Lance Stroll
10 122        10    Lance Stroll
11 122        11    Lance Stroll
12 122        12    Lance Stroll
13 140        13    Lance Stroll
14 140        14    Lance Stroll
15 140        15    Lance Stroll
16 140        16    Lance Stroll
17 141        17    Lance Stroll
18 166        18    Lance Stroll
19 184        19    Lance Stroll
20 209        20    Lance Stroll
21 210        21    Lance Stroll
22 235        22    Lance Stroll

In [58]:
Norris <- points1 %>% 
                filter(Driver == "Lando Norris") %>%
                arrange(by = Round)  

name <- "Lando Norris"

get_points()


points

   Points_UTR Round Driver
1   25         1    Lando Norris
2   25         2    Lando Norris
3   43         3    Lando Norris
4   61         4    Lando Norris
5   61         5    Lando Norris
6   76         6    Lando Norris
7   76         7    Lando Norris
8   94         8    Lando Norris
9  104         9    Lando Norris
10 122        10    Lando Norris
11 122        11    Lando Norris
12 122        12    Lando Norris
13 140        13    Lando Norris
14 140        14    Lando Norris
15 140        15    Lando Norris
16 140        16    Lando Norris
17 141        17    Lando Norris
18 166        18    Lando Norris
19 184        19    Lando Norris
20 209        20    Lando Norris
21 210        21    Lando Norris
22 235        22    Lando Norris

In [59]:
Hamilton <- points1 %>% 
                filter(Driver == "Lewis Hamilton") %>%
                arrange(by = Round)  

name <- "Lewis Hamilton"

get_points()


points

   Points_UTR Round Driver
1   25         1    Lewis Hamilton
2   25         2    Lewis Hamilton
3   43         3    Lewis Hamilton
4   61         4    Lewis Hamilton
5   61         5    Lewis Hamilton
6   76         6    Lewis Hamilton
7   76         7    Lewis Hamilton
8   94         8    Lewis Hamilton
9  104         9    Lewis Hamilton
10 122        10    Lewis Hamilton
11 122        11    Lewis Hamilton
12 122        12    Lewis Hamilton
13 140        13    Lewis Hamilton
14 140        14    Lewis Hamilton
15 140        15    Lewis Hamilton
16 140        16    Lewis Hamilton
17 141        17    Lewis Hamilton
18 166        18    Lewis Hamilton
19 184        19    Lewis Hamilton
20 209        20    Lewis Hamilton
21 210        21    Lewis Hamilton
22 235        22    Lewis Hamilton

In [60]:
Verstappen <- points1 %>% 
                filter(Driver == "Max Verstappen") %>%
                arrange(by = Round)  

name <- "Max Verstappen"

get_points()


points

   Points_UTR Round Driver
1   25         1    Max Verstappen
2   25         2    Max Verstappen
3   43         3    Max Verstappen
4   61         4    Max Verstappen
5   61         5    Max Verstappen
6   76         6    Max Verstappen
7   76         7    Max Verstappen
8   94         8    Max Verstappen
9  104         9    Max Verstappen
10 122        10    Max Verstappen
11 122        11    Max Verstappen
12 122        12    Max Verstappen
13 140        13    Max Verstappen
14 140        14    Max Verstappen
15 140        15    Max Verstappen
16 140        16    Max Verstappen
17 141        17    Max Verstappen
18 166        18    Max Verstappen
19 184        19    Max Verstappen
20 209        20    Max Verstappen
21 210        21    Max Verstappen
22 235        22    Max Verstappen

In [61]:
Schumacher <- points1 %>% 
                filter(Driver == "Mick Schumacher") %>%
                arrange(by = Round)  

name <- "Mick Schumacher"

get_points()


points

   Points_UTR Round Driver
1   25         1    Mick Schumacher
2   25         2    Mick Schumacher
3   43         3    Mick Schumacher
4   61         4    Mick Schumacher
5   61         5    Mick Schumacher
6   76         6    Mick Schumacher
7   76         7    Mick Schumacher
8   94         8    Mick Schumacher
9  104         9    Mick Schumacher
10 122        10    Mick Schumacher
11 122        11    Mick Schumacher
12 122        12    Mick Schumacher
13 140        13    Mick Schumacher
14 140        14    Mick Schumacher
15 140        15    Mick Schumacher
16 140        16    Mick Schumacher
17 141        17    Mick Schumacher
18 166        18    Mick Schumacher
19 184        19    Mick Schumacher
20 209        20    Mick Schumacher
21 210        21    Mick Schumacher
22 235        22    Mick Schumacher

In [62]:
Latfifi <- points1 %>% 
                filter(Driver == "Nicholas Latfifi") %>%
                arrange(by = Round)  

name <- "Nicholas Latfifi"

get_points()


points

   Points_UTR Round Driver
1   25         1    Nicholas Latfifi
2   25         2    Nicholas Latfifi
3   43         3    Nicholas Latfifi
4   61         4    Nicholas Latfifi
5   61         5    Nicholas Latfifi
6   76         6    Nicholas Latfifi
7   76         7    Nicholas Latfifi
8   94         8    Nicholas Latfifi
9  104         9    Nicholas Latfifi
10 122        10    Nicholas Latfifi
11 122        11    Nicholas Latfifi
12 122        12    Nicholas Latfifi
13 140        13    Nicholas Latfifi
14 140        14    Nicholas Latfifi
15 140        15    Nicholas Latfifi
16 140        16    Nicholas Latfifi
17 141        17    Nicholas Latfifi
18 166        18    Nicholas Latfifi
19 184        19    Nicholas Latfifi
20 209        20    Nicholas Latfifi
21 210        21    Nicholas Latfifi
22 235        22    Nicholas Latfifi

In [63]:
Gasly <- points1 %>% 
                filter(Driver == "Pierre Gasly") %>%
                arrange(by = Round)  

name <- "Pierre Gasly"

get_points()


points

   Points_UTR Round Driver
1   25         1    Pierre Gasly
2   25         2    Pierre Gasly
3   43         3    Pierre Gasly
4   61         4    Pierre Gasly
5   61         5    Pierre Gasly
6   76         6    Pierre Gasly
7   76         7    Pierre Gasly
8   94         8    Pierre Gasly
9  104         9    Pierre Gasly
10 122        10    Pierre Gasly
11 122        11    Pierre Gasly
12 122        12    Pierre Gasly
13 140        13    Pierre Gasly
14 140        14    Pierre Gasly
15 140        15    Pierre Gasly
16 140        16    Pierre Gasly
17 141        17    Pierre Gasly
18 166        18    Pierre Gasly
19 184        19    Pierre Gasly
20 209        20    Pierre Gasly
21 210        21    Pierre Gasly
22 235        22    Pierre Gasly

In [64]:
Vettel <- points1 %>% 
                filter(Driver == "Sebastian Vettel") %>%
                arrange(by = Round)  

name <- "Sebastian Vettel"

get_points()


points

   Points_UTR Round Driver
1   25         1    Sebastian Vettel
2   25         2    Sebastian Vettel
3   43         3    Sebastian Vettel
4   61         4    Sebastian Vettel
5   61         5    Sebastian Vettel
6   76         6    Sebastian Vettel
7   76         7    Sebastian Vettel
8   94         8    Sebastian Vettel
9  104         9    Sebastian Vettel
10 122        10    Sebastian Vettel
11 122        11    Sebastian Vettel
12 122        12    Sebastian Vettel
13 140        13    Sebastian Vettel
14 140        14    Sebastian Vettel
15 140        15    Sebastian Vettel
16 140        16    Sebastian Vettel
17 141        17    Sebastian Vettel
18 166        18    Sebastian Vettel
19 184        19    Sebastian Vettel
20 209        20    Sebastian Vettel
21 210        21    Sebastian Vettel
22 235        22    Sebastian Vettel

In [65]:
Pérez <- points1 %>% 
                filter(Driver == "Sergio Pérez") %>%
                arrange(by = Round)  

name <- "Sergio Pérez"

get_points()


points

   Points_UTR Round Driver
1   25         1    Sergio Pérez
2   25         2    Sergio Pérez
3   43         3    Sergio Pérez
4   61         4    Sergio Pérez
5   61         5    Sergio Pérez
6   76         6    Sergio Pérez
7   76         7    Sergio Pérez
8   94         8    Sergio Pérez
9  104         9    Sergio Pérez
10 122        10    Sergio Pérez
11 122        11    Sergio Pérez
12 122        12    Sergio Pérez
13 140        13    Sergio Pérez
14 140        14    Sergio Pérez
15 140        15    Sergio Pérez
16 140        16    Sergio Pérez
17 141        17    Sergio Pérez
18 166        18    Sergio Pérez
19 184        19    Sergio Pérez
20 209        20    Sergio Pérez
21 210        21    Sergio Pérez
22 235        22    Sergio Pérez

In [66]:
Bottas <- points1 %>% 
                filter(Driver == "Valtteri Bottas") %>%
                arrange(by = Round)  

name <- "Valtteri Bottas"

get_points()


points

   Points_UTR Round Driver
1   25         1    Valtteri Bottas
2   25         2    Valtteri Bottas
3   43         3    Valtteri Bottas
4   61         4    Valtteri Bottas
5   61         5    Valtteri Bottas
6   76         6    Valtteri Bottas
7   76         7    Valtteri Bottas
8   94         8    Valtteri Bottas
9  104         9    Valtteri Bottas
10 122        10    Valtteri Bottas
11 122        11    Valtteri Bottas
12 122        12    Valtteri Bottas
13 140        13    Valtteri Bottas
14 140        14    Valtteri Bottas
15 140        15    Valtteri Bottas
16 140        16    Valtteri Bottas
17 141        17    Valtteri Bottas
18 166        18    Valtteri Bottas
19 184        19    Valtteri Bottas
20 209        20    Valtteri Bottas
21 210        21    Valtteri Bottas
22 235        22    Valtteri Bottas

In [67]:
Tsunoda <- points1 %>% 
                filter(Driver == "Yuki Tsunoda") %>%
                arrange(by = Round)  

name <- "Yuki Tsunoda"

get_points()


points

   Points_UTR Round Driver
1   25         1    Yuki Tsunoda
2   25         2    Yuki Tsunoda
3   43         3    Yuki Tsunoda
4   61         4    Yuki Tsunoda
5   61         5    Yuki Tsunoda
6   76         6    Yuki Tsunoda
7   76         7    Yuki Tsunoda
8   94         8    Yuki Tsunoda
9  104         9    Yuki Tsunoda
10 122        10    Yuki Tsunoda
11 122        11    Yuki Tsunoda
12 122        12    Yuki Tsunoda
13 140        13    Yuki Tsunoda
14 140        14    Yuki Tsunoda
15 140        15    Yuki Tsunoda
16 140        16    Yuki Tsunoda
17 141        17    Yuki Tsunoda
18 166        18    Yuki Tsunoda
19 184        19    Yuki Tsunoda
20 209        20    Yuki Tsunoda
21 210        21    Yuki Tsunoda
22 235        22    Yuki Tsunoda

In [68]:
Guanyu <- points1 %>% 
                filter(Driver == "Zhou Guanyu") %>%
                arrange(by = Round)  

name <- "Zhou Guanyu"

get_points()


points

   Points_UTR Round Driver
1   25         1    Zhou Guanyu
2   25         2    Zhou Guanyu
3   43         3    Zhou Guanyu
4   61         4    Zhou Guanyu
5   61         5    Zhou Guanyu
6   76         6    Zhou Guanyu
7   76         7    Zhou Guanyu
8   94         8    Zhou Guanyu
9  104         9    Zhou Guanyu
10 122        10    Zhou Guanyu
11 122        11    Zhou Guanyu
12 122        12    Zhou Guanyu
13 140        13    Zhou Guanyu
14 140        14    Zhou Guanyu
15 140        15    Zhou Guanyu
16 140        16    Zhou Guanyu
17 141        17    Zhou Guanyu
18 166        18    Zhou Guanyu
19 184        19    Zhou Guanyu
20 209        20    Zhou Guanyu
21 210        21    Zhou Guanyu
22 235        22    Zhou Guanyu