# Charles Leclerc

<img src="https://www.formula1.com/content/fom-website/en/drivers/charles-leclerc/_jcr_content/image.img.1920.medium.jpg/1646818893219.jpg" width="300">

### Team: Red Bull Racing

<img src ="https://www.formula1.com/content/fom-website/en/drivers/charles-leclerc/_jcr_content/helmet.img.png/1646824728203.png" width="200">

In [1]:
library (tidyverse)
library (tidymodels)
source("source/master_functions.r")
source("source/regression.r")
set.seed(620)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

Warning message:
“package ‘tidyr’ was built under R version 4.1.2”
Warning message:
“package ‘readr’ was built under R version 4.1.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Registered S3 method overwritten by 'tune':
  method                   from
  required_pkgs.model_spec parsnip

── Attaching packages ────────────────────────────────────── tidymodels 0.1.3 ──

✔ broom        0.7.12     ✔ rsample      0.1.1
✔ dials        0.1.0      ✔ tune         0.1.6
✔ infer        1.0.0      ✔ workflows    0.2.4
✔ modeldata    0.1.1      ✔ workflowsets 0.1.0
✔ parsnip      0.1.7      ✔ yardstick    0.0.9
✔ recipes      0.1.17

Warning message:
“package ‘broom’ was built under R version 4.1.2”
Warning message:
“package ‘dials’ was built under R version 4.1.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [ ]:
initialize_master()

In [9]:
# Filtering Lap Data For 2022 Drivers

lap_data <- lap_times %>%
            filter(driverId %in% driver_ids) %>%
            filter(raceId %in% race_ids)

# Filtering Lap Data For Individual Driver

lec_laps <- lap_data %>%
            filter(driverId == 844)

# Season Analysis

In [10]:
###* IMPORTANT NOTE: NUMEROUS ERRORS FOUND IN DATA AND MUST BE REVIEWED


#######################################################  BAHRAIN 

cl_bahrain <- lec_laps %>%
                filter(raceId %in% bahrain_race_ID) 

cl_bahrain_clean <- cl_bahrain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>% 
                        filter(raceId != 1045)

cl_bahrain_clean_ID <- cl_bahrain_clean %>%
                        pull(raceId)


 ### SPLITTING DATA

cl_bahrain_races <- lec_laps %>%
                    filter(raceId %in% cl_bahrain_clean_ID)

formulaone_split <- initial_split(cl_bahrain_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [11]:
######################################################  Saudi Arabia 

cl_saudi <- lec_laps %>%
                filter(raceId %in% saudi_race_ID) 

cl_saudi_clean <- cl_saudi %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cl_saudi_clean_ID <- cl_saudi_clean %>%
                        pull(raceId)

### SPLITTING DATA

cl_saudi_races <- lec_laps %>%
                    filter(raceId %in% cl_saudi_clean_ID)

formulaone_split <- initial_split(cl_saudi_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

In [12]:
######################################################  Australia 

cl_aus <- lec_laps %>%
                filter(raceId %in% aus_race_ID) 

cl_aus_clean <- cl_aus %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cl_aus_clean_ID <- cl_aus_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_aus_races <- lec_laps %>%
                    filter(raceId %in% cl_aus_clean_ID)

formulaone_split <- initial_split(cl_aus_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [13]:
#4. Italy - Imola

cl_imola <- lec_laps %>%
                filter(raceId %in% imola_race_ID) 

cl_imola_clean <- cl_imola %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cl_imola_clean_ID <- cl_imola_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_imola_races <- lec_laps %>%
                    filter(raceId %in% cl_imola_clean_ID)

formulaone_split <- initial_split(cl_imola_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [14]:
#6. Spain

cl_spain <- lec_laps %>%
                filter(raceId %in% spain_race_ID) 

cl_spain_clean <- cl_spain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>% 
                        filter(n != 38)
cl_spain_clean

cl_spain_clean_ID <- cl_spain_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_spain_races <- lec_laps %>%
                    filter(raceId %in% cl_spain_clean_ID)

formulaone_split <- initial_split(cl_spain_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

  raceId n
1 1014   66
2 1055   66
3  993   64

In [15]:
#7. Monaco

cl_monaco <- lec_laps %>%
                filter(raceId %in% monaco_race_ID) 

cl_monaco_clean <- cl_monaco %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>% 
                        filter(n != 16)

cl_monaco_clean_ID <- cl_monaco_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_monaco_races <- lec_laps %>%
                    filter(raceId %in% cl_monaco_clean_ID)

formulaone_split <- initial_split(cl_monaco_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 3 breaks instead.”

In [39]:
#8. Azerbaijan

cl_azerbaijan <- lec_laps %>%
                filter(raceId %in% azerbaijan_race_ID) 

cl_azerbaijan_clean <- cl_azerbaijan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cl_azerbaijan_clean_ID <- cl_azerbaijan_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_azerbaijan_races <- lec_laps %>%
                    filter(raceId %in% cl_azerbaijan_clean_ID)

formulaone_split <- initial_split(cl_azerbaijan_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [17]:
#9. Canada

cl_canada <- lec_laps %>%
                filter(raceId %in% canada_race_ID) 

cl_canada_clean <- cl_canada %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cl_canada_clean_ID <- cl_canada_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_canada_races <- lec_laps %>%
                    filter(raceId %in% cl_canada_clean_ID)

formulaone_split <- initial_split(cl_canada_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

  raceId n
1 1016   70
2  995   67

In [18]:
#10. UK

cl_uk <- lec_laps %>%
                filter(raceId %in% uk_race_ID) 

cl_uk_clean <- cl_uk %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter(n != 18)

cl_uk_clean_ID <- cl_uk_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_uk_races <- lec_laps %>%
                    filter(raceId %in% cl_uk_clean_ID)

formulaone_split <- initial_split(cl_uk_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

  raceId n
1 1019   52
2 1034   52
3 1035   52
4 1061   52

In [19]:
#11. Austria

cl_austria <- lec_laps %>%
                filter(raceId %in% austria_race_ID) 

cl_austria_clean <- cl_austria %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter (n != 4)
cl_austria_clean

cl_austria_clean_ID <- cl_austria_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_austria_races <- lec_laps %>%
                    filter(raceId %in% cl_austria_clean_ID)

formulaone_split <- initial_split(cl_austria_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

  raceId n
1 1018   71
2 1031   71
3 1060   71
4  997   70
5 1058   70

In [20]:
#12. France

cl_france <- lec_laps %>%
                filter(raceId %in% france_race_ID) 

cl_france_clean <- cl_france %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cl_france_clean
cl_france_clean_ID <- cl_france_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_france_races <- lec_laps %>%
                    filter(raceId %in% cl_france_clean_ID)

formulaone_split <- initial_split(cl_france_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

  raceId n
1  996   53
2 1017   53
3 1059   52

In [21]:
#13. Hungary

cl_hungary <- lec_laps %>%
                filter(raceId %in% hungary_race_ID) 

cl_hungary_clean <- cl_hungary %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cl_hungary_clean
cl_hungary_clean_ID <- cl_hungary_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_hungary_races <- lec_laps %>%
                    filter(raceId %in% cl_hungary_clean_ID)

formulaone_split <- initial_split(cl_hungary_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

  raceId n
1 1021   70
2 1033   69

In [22]:
#14. Belgium

cl_belgium <- lec_laps %>%
                filter(raceId %in% belgium_race_ID) 

cl_belgium_clean <- cl_belgium %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>% 
                        filter(n != 1)
cl_belgium_clean

cl_belgium_clean_ID <- cl_belgium_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_belgium_races <- lec_laps %>%
                    filter(raceId %in% cl_belgium_clean_ID)

formulaone_split <- initial_split(cl_belgium_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

  raceId n
1 1022   44
2 1037   44

In [25]:
#15. Netherlands

cl_netherlands <- lec_laps %>%
                filter(raceId %in% netherlands_race_ID) 

cl_netherlands_clean <- cl_netherlands %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cl_netherlands_clean
cl_netherlands_clean_ID <- cl_netherlands_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_netherlands_races <- lec_laps %>%
                    filter(raceId %in% cl_netherlands_clean_ID)

formulaone_split <- initial_split(cl_netherlands_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

  raceId n
1 1064   71

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 3 breaks instead.”

In [26]:
#16. Italy - Monza

cl_monza <- lec_laps %>%
                filter(raceId %in% monza_race_ID) 

cl_monza_clean <- cl_monza %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter(n != 23)

cl_monza_clean_ID <- cl_monza_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_monza_races <- lec_laps %>%
                    filter(raceId %in% cl_monza_clean_ID)

formulaone_split <- initial_split(cl_monza_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [38]:
#17. Singapore

cl_singapore <- lec_laps %>%
                filter(raceId %in% singapore_race_ID) 

cl_singapore_clean <- cl_singapore %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cl_singapore_clean_ID <- cl_singapore_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_singapore_races <- lec_laps %>%
                    filter(raceId %in% cl_singapore_clean_ID)

formulaone_split <- initial_split(cl_singapore_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [28]:
#18. Japan

cl_japan <- lec_laps %>%
                filter(raceId %in% japan_race_ID) 

cl_japan_clean <- cl_japan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter(n != 38)

cl_japan_clean_ID <- cl_japan_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_japan_races <- lec_laps %>%
                    filter(raceId %in% cl_japan_clean_ID)

formulaone_split <- initial_split(cl_japan_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

   raceId driverId lap position time     milliseconds
1  1026   844       6  18       01:34:00  94705
2  1026   844      20   7       01:35:00  95193
3  1026   844      27  11       01:33:00  93687
4  1026   844      28  11       01:33:00  93973
5  1026   844      29  11       01:34:00  94248
6  1026   844      30   9       01:34:00  94724
7  1026   844      32   8       01:34:00  94194
8  1026   844      33   7       01:34:00  94022
9  1026   844      35   6       01:33:00  93160
10 1026   844      36   6       01:32:00  92794
11 1026   844      38   6       01:33:00  93293
12 1026   844      39   6       01:33:00  93311
13 1026   844      40   6       01:33:00  93579
14 1026   844      42   6       01:33:00  93471
15 1026   844      43   6       01:33:00  93858
16 1026   844      44   6       01:33:00  93799
17 1026   844      48   6       01:31:00  91611
18 1026   844      50   6       01:34:00  94190
19 1026   844      51   6       01:35:00  95133
20 1026   844       1   3       01:37:00  97570
21 1026   844       3   4       01:36:00  96624
22 1026   844       4  20       02:01:00 121142
23 1026   844       7  17       01:35:00  95658
24 1026   844       9  16       01:35:00  95977
25 1026   844      10  16       01:37:00  97379
26 1026   844      12  15       01:36:00  96978
27 1026   844      14  13       01:36:00  96009
28 1026   844      15  12       01:36:00  96718
29 1026   844      16  12       01:35:00  95812
30 1026   844      17  12       01:37:00  97155
31 1026   844      18  11       01:35:00  95660
32 1026   844      24   7       01:35:00  95980
33 1026   844      25   7       01:39:00  99203
34 1026   844      26  12       01:53:00 113364
35 1026   844      34   6       01:35:00  95362
36 1026   844      46   6       01:36:00  96816
37 1026   844      47   6       01:55:00 115048

   raceId driverId lap position time     milliseconds
1  1026   844       2   3       01:35:00 95314
2  1026   844       5  18       01:34:00 94170
3  1026   844       8  17       01:35:00 95647
4  1026   844      11  15       01:36:00 96921
5  1026   844      13  14       01:36:00 96975
6  1026   844      19   9       01:35:00 95276
7  1026   844      21   7       01:35:00 95373
8  1026   844      22   7       01:35:00 95332
9  1026   844      23   7       01:35:00 95425
10 1026   844      31   8       01:34:00 94949
11 1026   844      37   6       01:32:00 92785
12 1026   844      41   6       01:33:00 93573
13 1026   844      45   6       01:35:00 95286
14 1026   844      49   6       01:33:00 93305

In [29]:
#19. USA, Austin

cl_austin <- lec_laps %>%
                filter(raceId %in% austin_race_ID) 

cl_austin_clean <- cl_austin %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter( n!= 31)


cl_austin_clean_ID <- cl_austin_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_austin_races <- lec_laps %>%
                    filter(raceId %in% cl_austin_clean_ID)

formulaone_split <- initial_split(cl_austin_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

  raceId n
1 1028   56
2 1069   56

In [34]:
#20. Mexico

cl_mexico <- lec_laps %>%
                filter(raceId %in% mexico_race_ID) 

cl_mexico_clean <- cl_mexico %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cl_mexico_clean_ID <- cl_mexico_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_mexico_races <- lec_laps %>%
                    filter(raceId %in% cl_mexico_clean_ID)

formulaone_split <- initial_split(cl_mexico_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

  raceId n
1 1027   71
2 1070   71
3 1007   69

In [36]:
#21. Brazil

cl_brazil <- lec_laps %>%
                filter(raceId %in% brazil_race_ID) 

cl_brazil_clean <- cl_brazil %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cl_brazil_clean_ID <- cl_brazil_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_brazil_races <- lec_laps %>%
                    filter(raceId %in% cl_brazil_clean_ID)

formulaone_split <- initial_split(cl_brazil_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [37]:
#22. UAE

cl_uae <- lec_laps %>%
                filter(raceId %in% uae_race_ID) 

cl_uae_clean <- cl_uae %>%
                        group_by(raceId) %>% 
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cl_uae_clean_ID <- cl_uae_clean %>%
                        pull(raceId)


### SPLITTING DATA

cl_uae_races <- lec_laps %>%
                    filter(raceId %in% cl_uae_clean_ID)

formulaone_split <- initial_split(cl_bahrain_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

  raceId n
1 1073   58
2 1009   55
3 1030   55
4 1047   54