# Carlos Sainz
<img src="https://www.formula1.com/content/fom-website/en/drivers/carlos-sainz/_jcr_content/image.img.1920.medium.jpg/1646818866749.jpg" width="300">

### Team: Ferrari

<img src ="https://www.formula1.com/content/fom-website/en/drivers/charles-leclerc/_jcr_content/helmet.img.png/1646824728203.png" width="200">

In [2]:
library (tidyverse)
library (tidymodels)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

Warning message:
“package ‘tidyr’ was built under R version 4.1.2”
Warning message:
“package ‘readr’ was built under R version 4.1.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Registered S3 method overwritten by 'tune':
  method                   from
  required_pkgs.model_spec parsnip

── Attaching packages ────────────────────────────────────── tidymodels 0.1.3 ──

✔ broom        0.7.12     ✔ rsample      0.1.1
✔ dials        0.1.0      ✔ tune         0.1.6
✔ infer        1.0.0      ✔ workflows    0.2.4
✔ modeldata    0.1.1      ✔ workflowsets 0.1.0
✔ parsnip      0.1.7      ✔ yardstick    0.0.9
✔ recipes      0.1.17

Warning message:
“package ‘broom’ was built under R version 4.1.2”
Warning message:
“package ‘dials’ was built under R version 4.1.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [3]:
# Reading dataset files

circuits <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/circuits.csv")

constructor_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_standings.csv") 

constructor_results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_results.csv") 
    
constructors <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructors.csv")

drivers <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/drivers.csv")

driver_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv")

lap_times <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv") 

pit_stops <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/pit_stops.csv")
           
qualifying <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/qualifying.csv") 

results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv") 

races <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/races.csv") 

status <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/status.csv")

Rows: 79 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (6): circuitRef, name, location, country, alt, url
dbl (3): circuitId, lat, lng


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 12716 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): positionText
dbl (6): constructorStandingsId, raceId, constructorId, points, position, wins


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 11950 Columns: 5

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): status
dbl (4): constructorResultsId, raceId, constructorId, points


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 211 Columns: 5

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): constructorRef, name, nationality, url
dbl (1): constructorId


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 854 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): driverRef, number, code, forename, surname, nationality, url
dbl  (1): driverId
date (1): dob


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 33394 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): positionText
dbl (6): driverStandingsId, raceId, driverId, points, position, wins


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 514592 Columns: 6

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl  (5): raceId, driverId, lap, position, milliseconds
time (1): time


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 8828 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): duration
dbl  (5): raceId, driverId, stop, lap, milliseconds
time (1): time


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 9135 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): q1, q2, q3
dbl (6): qualifyId, raceId, driverId, constructorId, number, position


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Warning message:
“One or more parsing issues, see `problems()` for details”
Rows: 25399 Columns: 18

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (8): position, positionText, time, milliseconds, fastestLap, rank, fast...
dbl (10): resultId, raceId, driverId, constructorId, number, grid, positionO...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 1080 Columns: 8

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): name, time, url
dbl  (4): raceId, year, round, circuitId
date (1): date


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 137 Columns: 2

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): status
dbl (1): statusId


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [4]:
# Filtering 2022 GP circuits 

# Vector of 2022 GP locations

locations_2022 <- c("Sakhir", "Jeddah", "Melbourne", "Imola", "Miami", "Montmeló", "Monte-Carlo", "Baku", "Montreal", "Silverstone", "Spielberg", 
                    "Le Castellet", "Budapest", "Spa", "Zandvoort", "Monza", "Sochi", "Marina Bay", "Suzuka", "Austin", "Mexico City", "São Paulo", "Abu Dhabi")

# Filtering circuit data set by locations vector 

circuits_2022 <- circuits %>% 
           filter(location %in% locations_2022) %>%
           filter(name != "A1-Ring") %>%
           select(circuitId:alt)


# Extracting 2022 circuit ID's 


circuit_ids <- circuits_2022 %>%
              pull(circuitId)

# Extracting 2022 circuit name and ID's


circuits_IDS <- circuits_2022 %>%
                select(circuitId, name, country, location) %>% 
                arrange(country)

In [5]:
# Filtering 2022 Constructors

team_names <- c("Alfa Romeo", "AlphaTauri", "Alpine F1 Team", "Aston Martin", "Ferrari", 
                "Haas F1 Team", "McLaren", "Mercedes", "Red Bull", "Williams")

teams_2022 <- constructors %>%
                 filter(name %in% team_names)

# Extracting 2022 Constructor ID's

constructor_ids <- teams_2022 %>%
              pull(constructorId)

In [6]:
# Filtering 2022 Drivers

driver_surnames <- c("Hamilton", "Russell", "Albon", "Zhou", "Bottas", "Gasly", "Tsunoda", "Alonso", "Ocon", "Vettel", "Stroll", 
                     "Leclerc", "Sainz", "Magnussen", "Schumacher", "Ricciardo", "Norris", "Verstappen", "Pérez", "Latifi")
 
drivers_2022 <- drivers %>%
                filter(surname %in% driver_surnames) %>%
                filter(!(forename %in% c("Ralf", "Michael", "Jos", "Duncan", "Jan")))

# Extracting Driver IDS

driver_ids <- drivers_2022 %>%
              pull(driverId)

# Extracting Driver Codes

driver_codes <- drivers_2022 %>%
              pull(code)

# Combining IDS and Codes

driver_id_code <- data.frame(driver_ids, driver_codes)

In [7]:
#### Filtering Race Data for 2022 Races

past_2022_races <- races %>%
                    filter(circuitId %in% circuit_ids) %>%
                    filter(year != "2022")

##### Extracting Race ID's

race_ids <- past_2022_races %>%
            pull(raceId)


##### Filtering Race Data For All 23 Circuits

#############################################

bahrain <- past_2022_races %>% 
            filter(circuitId == 3) %>%
            arrange(desc(year))

bahrain_race_ID <- bahrain %>%
                pull(raceId)

#############################################

sa <- past_2022_races %>% 
            filter(circuitId == 77) %>%
            arrange(desc(year))

saudi_race_ID <- sa %>%
                pull(raceId)

#############################################

aus <- past_2022_races %>% 
            filter(circuitId == 1) %>%
            arrange(desc(year))

aus_race_ID <- aus %>%
                pull(raceId)

#############################################

imola <- past_2022_races %>% 
            filter(circuitId == 21) %>%
            arrange(desc(year))

imola_race_ID <- imola %>%
                pull(raceId)

#############################################

miami <- past_2022_races %>% 
            filter(circuitId == 79) %>%
            arrange(desc(year))

miami_race_ID <- miami %>%
                pull(raceId)

#############################################

spain <- past_2022_races %>% 
            filter(circuitId == 4) %>%
            arrange(desc(year))

spain_race_ID <- spain %>%
                pull(raceId)

#############################################

monaco <- past_2022_races %>% 
            filter(circuitId == 6) %>%
            arrange(desc(year))

monaco_race_ID <- monaco %>%
                pull(raceId)

#############################################

azerbaijan <- past_2022_races %>% 
            filter(circuitId == 73) %>%
            arrange(desc(year))

azerbaijan_race_ID <- azerbaijan %>%
                pull(raceId)

#############################################

canada <- past_2022_races %>% 
            filter(circuitId == 7) %>%
            arrange(desc(year))

canada_race_ID <- canada %>%
                pull(raceId)

#############################################

uk <- past_2022_races %>% 
            filter(circuitId == 9) %>%
            arrange(desc(year))


uk_race_ID <- uk %>%
                pull(raceId)

#############################################

austria <- past_2022_races %>% 
            filter(circuitId == 70) %>%
            arrange(desc(year))


austria_race_ID <- austria %>%
                pull(raceId)

#############################################

france <- past_2022_races %>% 
            filter(circuitId == 34) %>%
            arrange(desc(year))


france_race_ID <- france %>%
                pull(raceId)

#############################################

hungary <- past_2022_races %>% 
            filter(circuitId == 11) %>%
            arrange(desc(year))


hungary_race_ID <- hungary %>%
                pull(raceId)

#############################################

belgium <- past_2022_races %>% 
            filter(circuitId == 13) %>%
            arrange(desc(year))


belgium_race_ID <- belgium %>%
                pull(raceId)

#############################################

netherlands <- past_2022_races %>% 
            filter(circuitId == 39) %>%
            arrange(desc(year))


netherlands_race_ID <- netherlands %>%
                pull(raceId)

#############################################

monza <- past_2022_races %>% 
            filter(circuitId == 14) %>%
            arrange(desc(year))

monza_race_ID <- monza %>%
                pull(raceId)

#############################################

singapore <- past_2022_races %>% 
            filter(circuitId == 15) %>%
            arrange(desc(year))

singapore_race_ID <- singapore %>%
                pull(raceId)

#############################################

japan <- past_2022_races %>% 
            filter(circuitId == 22) %>%
            arrange(desc(year))

japan_race_ID <- japan %>%
                pull(raceId)

#############################################

austin <- past_2022_races %>% 
            filter(circuitId == 69) %>%
            arrange(desc(year))

austin_race_ID <- austin %>%
                pull(raceId)

#############################################

mexico <- past_2022_races %>% 
            filter(circuitId == 32) %>%
            arrange(desc(year))

mexico_race_ID <- mexico %>%
                pull(raceId)

#############################################

brazil <- past_2022_races %>% 
            filter(circuitId == 18) %>%
            arrange(desc(year))

brazil_race_ID <- brazil %>%
                pull(raceId)

#############################################

uae <- past_2022_races %>% 
            filter(circuitId == 24) %>%
            arrange(desc(year))

uae_race_ID <- uae %>%
                pull(raceId)

In [8]:
# Filtering Lap Data For 2022 Drivers

lap_data <- lap_times %>%
            filter(driverId %in% driver_ids) %>%
            filter(raceId %in% race_ids)

# Filtering Lap Data For Individual Driver

sai_laps <- lap_data %>%
            filter(driverId == 832)

# Season Analysis

In [9]:
#1.  BAHRAIN 

cs_bahrain <- sai_laps %>%
                filter(raceId %in% bahrain_race_ID) 

cs_bahrain_clean <- cs_bahrain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
cs_bahrain_clean
cs_bahrain_clean_ID <- cs_bahrain_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_bahrain_races <- sai_laps %>%
                    filter(raceId %in% cs_bahrain_clean_ID)

cs_bahrain_split <- initial_split(cs_bahrain_races, prop = 0.75, strata = milliseconds)

cs_bahrain_train <- training(cs_bahrain_split)

cs_bahrain_test <- testing(cs_bahrain_split) 


### USING DATA

cs_bahrain_lap_times <- cs_bahrain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_bahrain_avg_race_time <- cs_bahrain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1 1046   87
2 1045   57
3  990   56
4 1052   56
5 1011   53
6  929   29
7  949   29
8  971   12

In [10]:
#2. Saudi Arabia

cs_saudi <- sai_laps %>%
                filter(raceId %in% saudi_race_ID) 

cs_saudi_clean <- cs_saudi %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cs_saudi_clean
cs_saudi_clean_ID <- cs_saudi_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_saudi_races <- sai_laps %>%
                    filter(raceId %in% cs_saudi_clean_ID)

cs_saudi_split <- initial_split(cs_saudi_races, prop = 0.75, strata = milliseconds)

cs_saudi_train <- training(cs_saudi_split)

cs_saudi_test <- testing(cs_saudi_split) 


### USING DATA

cs_saudi_lap_times <- cs_saudi_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_saudi_avg_race_time <- cs_saudi_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1 1072   50

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

In [11]:
#3. Australia

cs_aus <- sai_laps %>%
                filter(raceId %in% aus_race_ID) 

cs_aus_clean <- cs_aus %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cs_aus_clean
cs_aus_clean_ID <- cs_aus_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_aus_races <- sai_laps %>%
                    filter(raceId %in% cs_aus_clean_ID)

cs_aus_split <- initial_split(cs_aus_races, prop = 0.75, strata = milliseconds)

cs_aus_train <- training(cs_aus_split)

cs_aus_test <- testing(cs_aus_split) 


### USING DATA

cs_aus_lap_times <- cs_aus_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_aus_avg_race_time <- cs_aus_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1  989   58
2  926   57
3  948   57
4  969   56
5 1010    9

In [12]:
#4. Italy, Imola

cs_imola <- sai_laps %>%
                filter(raceId %in% imola_race_ID) 

cs_imola_clean <- cs_imola %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cs_imola_clean
cs_imola_clean_ID <- cs_imola_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_imola_races <- sai_laps %>%
                    filter(raceId %in% cs_imola_clean_ID)

cs_imola_split <- initial_split(cs_imola_races, prop = 0.75, strata = milliseconds)

cs_imola_train <- training(cs_imola_split)

cs_imola_test <- testing(cs_imola_split) 


### USING DATA

cs_imola_lap_times <- cs_imola_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_imola_avg_race_time <- cs_imola_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1 1043   63
2 1053   63

In [13]:
#6. Spain

cs_spain <- sai_laps %>%
                filter(raceId %in% spain_race_ID) 

cs_spain_clean <- cs_spain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cs_spain_clean
cs_spain_clean_ID <- cs_spain_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_spain_races <- sai_laps %>%
                    filter(raceId %in% cs_spain_clean_ID)

cs_spain_split <- initial_split(cs_spain_races, prop = 0.75, strata = milliseconds)

cs_spain_train <- training(cs_spain_split)

cs_spain_test <- testing(cs_spain_split) 


### USING DATA

cs_spain_lap_times <- cs_spain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_spain_avg_race_time <- cs_spain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1  952   66
2 1014   66
3 1055   66
4  930   65
5  973   65
6  993   65
7 1036   65

In [14]:
#7. Monaco

cs_monaco <- sai_laps %>%
                filter(raceId %in% monaco_race_ID) 

cs_monaco_clean <- cs_monaco %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cs_monaco_clean
cs_monaco_clean_ID <- cs_monaco_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_monaco_races <- sai_laps %>%
                    filter(raceId %in% cs_monaco_clean_ID)

cs_monaco_split <- initial_split(cs_monaco_races, prop = 0.75, strata = milliseconds)

cs_monaco_train <- training(cs_monaco_split)

cs_monaco_test <- testing(cs_monaco_split) 


### USING DATA

cs_monaco_lap_times <- cs_monaco_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_monaco_avg_race_time <- cs_monaco_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1  931   78
2  974   78
3  994   78
4 1015   78
5 1056   78
6  953   77

In [15]:
#8. Azerbaijan

cs_azerbaijan <- sai_laps %>%
                filter(raceId %in% azerbaijan_race_ID) 

cs_azerbaijan_clean <- cs_azerbaijan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cs_azerbaijan_clean
cs_azerbaijan_clean_ID <- cs_azerbaijan_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_azerbaijan_races <- sai_laps %>%
                    filter(raceId %in% cs_azerbaijan_clean_ID)

cs_azerbaijan_split <- initial_split(cs_azerbaijan_races, prop = 0.75, strata = milliseconds)

cs_azerbaijan_train <- training(cs_azerbaijan_split)

cs_azerbaijan_test <- testing(cs_azerbaijan_split) 


### USING DATA

cs_azerbaijan_lap_times <- cs_azerbaijan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_azerbaijan_avg_race_time <- cs_azerbaijan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1  976   51
2  992   51
3 1013   51
4 1057   51
5  955   31

In [16]:
#9. Canada

cs_canada <- sai_laps %>%
                filter(raceId %in% canada_race_ID) 

cs_canada_clean <- cs_canada %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cs_canada_clean
cs_canada_clean_ID <- cs_canada_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_canada_races <- sai_laps %>%
                    filter(raceId %in% cs_canada_clean_ID)

cs_canada_split <- initial_split(cs_canada_races, prop = 0.75, strata = milliseconds)

cs_canada_train <- training(cs_canada_split)

cs_canada_test <- testing(cs_canada_split) 


### USING DATA

cs_canada_lap_times <- cs_canada_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_canada_avg_race_time <- cs_canada_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1  932   69
2  954   69
3 1016   69
4  995   67

In [17]:
#10. Great Britain

cs_uk <- sai_laps %>%
                filter(raceId %in% uk_race_ID) 

cs_uk_clean <- cs_uk %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cs_uk_clean_ID <- cs_uk_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_uk_races <- sai_laps %>%
                    filter(raceId %in% cs_uk_clean_ID)

cs_uk_split <- initial_split(cs_uk_races, prop = 0.75, strata = milliseconds)

cs_uk_train <- training(cs_uk_split)

cs_uk_test <- testing(cs_uk_split) 


### USING DATA

cs_uk_lap_times <- cs_uk_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_uk_avg_race_time <- cs_uk_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [18]:
#11. Austria

cs_austria <- sai_laps %>%
                filter(raceId %in% austria_race_ID) 

cs_austria_clean <- cs_austria %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cs_austria_clean_ID <- cs_austria_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_austria_races <- sai_laps %>%
                    filter(raceId %in% cs_austria_clean_ID)

cs_austria_split <- initial_split(cs_austria_races, prop = 0.75, strata = milliseconds)

cs_austria_train <- training(cs_austria_split)

cs_austria_test <- testing(cs_austria_split) 


### USING DATA

cs_austria_lap_times <- cs_austria_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_austria_avg_race_time <- cs_austria_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [19]:
#12. France

cs_france <- sai_laps %>%
                filter(raceId %in% france_race_ID) 

cs_france_clean <- cs_france %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cs_france_clean
cs_france_clean_ID <- cs_france_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_france_races <- sai_laps %>%
                    filter(raceId %in% cs_france_clean_ID)

cs_france_split <- initial_split(cs_france_races, prop = 0.75, strata = milliseconds)

cs_france_train <- training(cs_france_split)

cs_france_test <- testing(cs_france_split) 


### USING DATA

cs_france_lap_times <- cs_france_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_france_avg_race_time <- cs_france_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1  996   53
2 1017   53
3 1059   53

In [20]:
#13. Hungary

cs_hungary <- sai_laps %>%
                filter(raceId %in% hungary_race_ID) 

cs_hungary_clean <- cs_hungary %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
                     

cs_hungary_clean_ID <- cs_hungary_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_hungary_races <- sai_laps %>%
                    filter(raceId %in% cs_hungary_clean_ID)

cs_hungary_split <- initial_split(cs_hungary_races, prop = 0.75, strata = milliseconds)

cs_hungary_train <- training(cs_hungary_split)

cs_hungary_test <- testing(cs_hungary_split) 


### USING DATA

cs_hungary_lap_times <- cs_hungary_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_hungary_avg_race_time <- cs_hungary_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [21]:
#14. Belgium

cs_belgium <- sai_laps %>%
                filter(raceId %in% belgium_race_ID) 

cs_belgium_clean <- cs_belgium %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cs_belgium_clean
cs_belgium_clean_ID <- cs_belgium_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_belgium_races <- sai_laps %>%
                    filter(raceId %in% cs_belgium_clean_ID)

cs_belgium_split <- initial_split(cs_belgium_races, prop = 0.75, strata = milliseconds)

cs_belgium_train <- training(cs_belgium_split)

cs_belgium_test <- testing(cs_belgium_split) 


### USING DATA

cs_belgium_lap_times <- cs_belgium_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_belgium_avg_race_time <- cs_belgium_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1  980   44
2 1001   43
3  937   32
4  960    1
5 1022    1
6 1063    1

In [22]:
#15. Netherlands

cs_netherlands <- sai_laps %>%
                filter(raceId %in% netherlands_race_ID) 

cs_netherlands_clean <- cs_netherlands %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cs_netherlands_clean
cs_netherlands_clean_ID <- cs_netherlands_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_netherlands_races <- sai_laps %>%
                    filter(raceId %in% cs_netherlands_clean_ID)

cs_netherlands_split <- initial_split(cs_netherlands_races, prop = 0.75, strata = milliseconds)

cs_netherlands_train <- training(cs_netherlands_split)

cs_netherlands_test <- testing(cs_netherlands_split) 


### USING DATA

cs_netherlands_lap_times <- cs_netherlands_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_netherlands_avg_race_time <- cs_netherlands_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1 1064   71

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 3 breaks instead.”

In [31]:
#16. Italy, Monza

cs_monza <- sai_laps %>%
                filter(raceId %in% monza_race_ID) 

cs_monza_clean <- cs_monza %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))

cs_monza_clean_ID <- cs_monza_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_monza_races <- sai_laps %>%
                    filter(raceId %in% cs_monza_clean_ID)

cs_monza_split <- initial_split(cs_monza_races, prop = 0.75, strata = milliseconds)

cs_monza_train <- training(cs_monza_split)

cs_monza_test <- testing(cs_monza_split) 


### USING DATA

cs_monza_lap_times <- cs_monza_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_monza_avg_race_time <- cs_monza_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [24]:
#17. Singapore

cs_singapore <- sai_laps %>%
                filter(raceId %in% singapore_race_ID) 

cs_singapore_clean <- cs_singapore %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cs_singapore_clean_ID <- cs_singapore_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_singapore_races <- sai_laps %>%
                    filter(raceId %in% cs_singapore_clean_ID)

cs_singapore_split <- initial_split(cs_singapore_races, prop = 0.75, strata = milliseconds)

cs_singapore_train <- training(cs_singapore_split)

cs_singapore_test <- testing(cs_singapore_split) 


### USING DATA

cs_singapore_lap_times <- cs_singapore_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_singapore_avg_race_time <- cs_singapore_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [25]:
#18. Japan

cs_japan <- sai_laps %>%
                filter(raceId %in% japan_race_ID) 

cs_japan_clean <- cs_japan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cs_japan_clean_ID <- cs_japan_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_japan_races <- sai_laps %>%
                    filter(raceId %in% cs_japan_clean_ID)

cs_japan_split <- initial_split(cs_japan_races, prop = 0.75, strata = milliseconds)

cs_japan_train <- training(cs_japan_split)

cs_japan_test <- testing(cs_japan_split) 


### USING DATA

cs_japan_lap_times <- cs_japan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_japan_avg_race_time <- cs_japan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [26]:
#19. USA, Austin

cs_austin <- sai_laps %>%
                filter(raceId %in% austin_race_ID) 

cs_austin_clean <- cs_austin %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cs_austin_clean_ID <- cs_austin_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_austin_races <- sai_laps %>%
                    filter(raceId %in% cs_austin_clean_ID)

cs_austin_split <- initial_split(cs_austin_races, prop = 0.75, strata = milliseconds)

cs_austin_train <- training(cs_austin_split)

cs_austin_test <- testing(cs_austin_split) 


### USING DATA

cs_austin_lap_times <- cs_austin_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_austin_avg_race_time <- cs_austin_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [29]:
#20. Mexico

cs_mexico <- sai_laps %>%
                filter(raceId %in% mexico_race_ID) 

cs_mexico_clean <- cs_mexico %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cs_mexico_clean_ID <- cs_mexico_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_mexico_races <- sai_laps %>%
                    filter(raceId %in% cs_mexico_clean_ID)

cs_mexico_split <- initial_split(cs_mexico_races, prop = 0.75, strata = milliseconds)

cs_mexico_train <- training(cs_mexico_split)

cs_mexico_test <- testing(cs_mexico_split) 


### USING DATA

cs_mexico_lap_times <- cs_mexico_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_mexico_avg_race_time <- cs_mexico_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [30]:
#21. Brazil

cs_brazil <- sai_laps %>%
                filter(raceId %in% brazil_race_ID) 

cs_brazil_clean <- cs_brazil %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

cs_brazil_clean_ID <- cs_brazil_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_brazil_races <- sai_laps %>%
                    filter(raceId %in% cs_brazil_clean_ID)

cs_brazil_split <- initial_split(cs_brazil_races, prop = 0.75, strata = milliseconds)

cs_brazil_train <- training(cs_brazil_split)

cs_brazil_test <- testing(cs_brazil_split) 


### USING DATA

cs_brazil_lap_times <- cs_brazil_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_brazil_avg_race_time <- cs_brazil_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [ ]:
#22. Abu Dhabi

cs_uae <- sai_laps %>%
                filter(raceId %in% uae_race_ID) 

cs_uae_clean <- cs_uae %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
cs_uae_clean
cs_uae_clean_ID <- cs_uae_clean %>%
                        pull(raceId)


### SPLITTING DATA

cs_uae_races <- sai_laps %>%
                    filter(raceId %in% cs_uae_clean_ID)

cs_uae_split <- initial_split(cs_uae_races, prop = 0.75, strata = milliseconds)

cs_uae_train <- training(cs_uae_split)

cs_uae_test <- testing(cs_uae_split) 


### USING DATA

cs_uae_lap_times <- cs_uae_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

cs_uae_avg_race_time <- cs_uae_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)