# Fernando Alonso

<img src="https://www.formula1.com/content/fom-website/en/drivers/fernando-alonso/_jcr_content/image.img.1920.medium.jpg/1641808424475.jpg" width="300">

### Team: Alpine

<img src ="https://www.formula1.com/content/fom-website/en/drivers/fernando-alonso/_jcr_content/helmet.img.png/1617101187829.png" width="200">

In [1]:
library (tidyverse)
library (tidymodels)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

Warning message:
“package ‘tidyr’ was built under R version 4.1.2”
Warning message:
“package ‘readr’ was built under R version 4.1.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Registered S3 method overwritten by 'tune':
  method                   from
  required_pkgs.model_spec parsnip

── Attaching packages ────────────────────────────────────── tidymodels 0.1.3 ──

✔ broom        0.7.12     ✔ rsample      0.1.1
✔ dials        0.1.0      ✔ tune         0.1.6
✔ infer        1.0.0      ✔ workflows    0.2.4
✔ modeldata    0.1.1      ✔ workflowsets 0.1.0
✔ parsnip      0.1.7      ✔ yardstick    0.0.9
✔ recipes      0.1.17

Warning message:
“package ‘broom’ was built under R version 4.1.2”
Warning message:
“package ‘dials’ was built under R version 4.1.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [2]:
# Reading dataset files

circuits <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/circuits.csv")

constructor_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_standings.csv") 

constructor_results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_results.csv") 
    
constructors <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructors.csv")

drivers <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/drivers.csv")

driver_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv")

lap_times <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv") 

pit_stops <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/pit_stops.csv")
           
qualifying <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/qualifying.csv") 

results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv") 

races <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/races.csv") 

status <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/status.csv")

Rows: 79 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (6): circuitRef, name, location, country, alt, url
dbl (3): circuitId, lat, lng


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 12716 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): positionText
dbl (6): constructorStandingsId, raceId, constructorId, points, position, wins


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 11950 Columns: 5

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): status
dbl (4): constructorResultsId, raceId, constructorId, points


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 211 Columns: 5

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): constructorRef, name, nationality, url
dbl (1): constructorId


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 854 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): driverRef, number, code, forename, surname, nationality, url
dbl  (1): driverId
date (1): dob


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 33394 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): positionText
dbl (6): driverStandingsId, raceId, driverId, points, position, wins


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 514592 Columns: 6

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl  (5): raceId, driverId, lap, position, milliseconds
time (1): time


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 8828 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): duration
dbl  (5): raceId, driverId, stop, lap, milliseconds
time (1): time


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 9135 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): q1, q2, q3
dbl (6): qualifyId, raceId, driverId, constructorId, number, position


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Warning message:
“One or more parsing issues, see `problems()` for details”
Rows: 25399 Columns: 18

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (8): position, positionText, time, milliseconds, fastestLap, rank, fast...
dbl (10): resultId, raceId, driverId, constructorId, number, grid, positionO...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 1080 Columns: 8

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): name, time, url
dbl  (4): raceId, year, round, circuitId
date (1): date


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 137 Columns: 2

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): status
dbl (1): statusId


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
# Filtering 2022 GP circuits 

# Vector of 2022 GP locations

locations_2022 <- c("Sakhir", "Jeddah", "Melbourne", "Imola", "Miami", "Montmeló", "Monte-Carlo", "Baku", "Montreal", "Silverstone", "Spielberg", 
                    "Le Castellet", "Budapest", "Spa", "Zandvoort", "Monza", "Sochi", "Marina Bay", "Suzuka", "Austin", "Mexico City", "São Paulo", "Abu Dhabi")

# Filtering circuit data set by locations vector 

circuits_2022 <- circuits %>% 
           filter(location %in% locations_2022) %>%
           filter(name != "A1-Ring") %>%
           select(circuitId:alt)


# Extracting 2022 circuit ID's 


circuit_ids <- circuits_2022 %>%
              pull(circuitId)

# Extracting 2022 circuit name and ID's


circuits_IDS <- circuits_2022 %>%
                select(circuitId, name, country, location) %>% 
                arrange(country)

In [4]:
# Filtering 2022 Constructors

team_names <- c("Alfa Romeo", "AlphaTauri", "Alpine F1 Team", "Aston Martin", "Ferrari", 
                "Haas F1 Team", "McLaren", "Mercedes", "Red Bull", "Williams")

teams_2022 <- constructors %>%
                 filter(name %in% team_names)

# Extracting 2022 Constructor ID's

constructor_ids <- teams_2022 %>%
              pull(constructorId)

In [5]:
# Filtering 2022 Drivers

driver_surnames <- c("Hamilton", "Russell", "Albon", "Zhou", "Bottas", "Gasly", "Tsunoda", "Alonso", "Ocon", "Vettel", "Stroll", 
                     "Leclerc", "Sainz", "Magnussen", "Schumacher", "Ricciardo", "Norris", "Verstappen", "Pérez", "Latifi")
 
drivers_2022 <- drivers %>%
                filter(surname %in% driver_surnames) %>%
                filter(!(forename %in% c("Ralf", "Michael", "Jos", "Duncan", "Jan")))

# Extracting Driver IDS

driver_ids <- drivers_2022 %>%
              pull(driverId)

# Extracting Driver Codes

driver_codes <- drivers_2022 %>%
              pull(code)

# Combining IDS and Codes

driver_id_code <- data.frame(driver_ids, driver_codes)

In [6]:
#### Filtering Race Data for 2022 Races

past_2022_races <- races %>%
                    filter(circuitId %in% circuit_ids) %>%
                    filter(year != "2022")

##### Extracting Race ID's

race_ids <- past_2022_races %>%
            pull(raceId)


##### Filtering Race Data For All 23 Circuits

#############################################

bahrain <- past_2022_races %>% 
            filter(circuitId == 3) %>%
            arrange(desc(year))

bahrain_race_ID <- bahrain %>%
                pull(raceId)

#############################################

sa <- past_2022_races %>% 
            filter(circuitId == 77) %>%
            arrange(desc(year))

saudi_race_ID <- sa %>%
                pull(raceId)

#############################################

aus <- past_2022_races %>% 
            filter(circuitId == 1) %>%
            arrange(desc(year))

aus_race_ID <- aus %>%
                pull(raceId)

#############################################

imola <- past_2022_races %>% 
            filter(circuitId == 21) %>%
            arrange(desc(year))

imola_race_ID <- imola %>%
                pull(raceId)

#############################################

miami <- past_2022_races %>% 
            filter(circuitId == 79) %>%
            arrange(desc(year))

miami_race_ID <- miami %>%
                pull(raceId)

#############################################

spain <- past_2022_races %>% 
            filter(circuitId == 4) %>%
            arrange(desc(year))

spain_race_ID <- spain %>%
                pull(raceId)

#############################################

monaco <- past_2022_races %>% 
            filter(circuitId == 6) %>%
            arrange(desc(year))

monaco_race_ID <- monaco %>%
                pull(raceId)

#############################################

azerbaijan <- past_2022_races %>% 
            filter(circuitId == 73) %>%
            arrange(desc(year))

azerbaijan_race_ID <- azerbaijan %>%
                pull(raceId)

#############################################

canada <- past_2022_races %>% 
            filter(circuitId == 7) %>%
            arrange(desc(year))

canada_race_ID <- canada %>%
                pull(raceId)

#############################################

uk <- past_2022_races %>% 
            filter(circuitId == 9) %>%
            arrange(desc(year))


uk_race_ID <- uk %>%
                pull(raceId)

#############################################

austria <- past_2022_races %>% 
            filter(circuitId == 70) %>%
            arrange(desc(year))


austria_race_ID <- austria %>%
                pull(raceId)

#############################################

france <- past_2022_races %>% 
            filter(circuitId == 34) %>%
            arrange(desc(year))


france_race_ID <- france %>%
                pull(raceId)

#############################################

hungary <- past_2022_races %>% 
            filter(circuitId == 11) %>%
            arrange(desc(year))


hungary_race_ID <- hungary %>%
                pull(raceId)

#############################################

belgium <- past_2022_races %>% 
            filter(circuitId == 13) %>%
            arrange(desc(year))


belgium_race_ID <- belgium %>%
                pull(raceId)

#############################################

netherlands <- past_2022_races %>% 
            filter(circuitId == 39) %>%
            arrange(desc(year))


netherlands_race_ID <- netherlands %>%
                pull(raceId)

#############################################

monza <- past_2022_races %>% 
            filter(circuitId == 14) %>%
            arrange(desc(year))

monza_race_ID <- monza %>%
                pull(raceId)

#############################################

singapore <- past_2022_races %>% 
            filter(circuitId == 15) %>%
            arrange(desc(year))

singapore_race_ID <- singapore %>%
                pull(raceId)

#############################################

japan <- past_2022_races %>% 
            filter(circuitId == 22) %>%
            arrange(desc(year))

japan_race_ID <- japan %>%
                pull(raceId)

#############################################

austin <- past_2022_races %>% 
            filter(circuitId == 69) %>%
            arrange(desc(year))

austin_race_ID <- austin %>%
                pull(raceId)

#############################################

mexico <- past_2022_races %>% 
            filter(circuitId == 32) %>%
            arrange(desc(year))

mexico_race_ID <- mexico %>%
                pull(raceId)

#############################################

brazil <- past_2022_races %>% 
            filter(circuitId == 18) %>%
            arrange(desc(year))

brazil_race_ID <- brazil %>%
                pull(raceId)

#############################################

uae <- past_2022_races %>% 
            filter(circuitId == 24) %>%
            arrange(desc(year))

uae_race_ID <- uae %>%
                pull(raceId)

In [8]:
# Filtering Lap Data For 2022 Drivers

lap_data <- lap_times %>%
            filter(driverId %in% driver_ids) %>%
            filter(raceId %in% race_ids)

# Filtering Lap Data For Individual Driver

alo_laps <- lap_data %>%
            filter(driverId == 4)

In [9]:
#### Fernando Alonso


######################################################  BAHRAIN 

fa_bahrain <- alo_laps %>%
                filter(raceId %in% bahrain_race_ID) 

fa_bahrain_clean <- fa_bahrain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
fa_bahrain_clean
fa_bahrain_clean_ID <- fa_bahrain_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_bahrain_races <- alo_laps %>%
                    filter(raceId %in% fa_bahrain_clean_ID)

fa_bahrain_split <- initial_split(fa_bahrain_races, prop = 0.75, strata = milliseconds)

fa_bahrain_train <- training(fa_bahrain_split)

fa_bahrain_test <- testing(fa_bahrain_split) 


### USING DATA

fa_bahrain_lap_times <- fa_bahrain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_bahrain_avg_race_time <- fa_bahrain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Saudi Arabia

fa_saudi <- alo_laps %>%
                filter(raceId %in% saudi_race_ID) 

fa_saudi_clean <- fa_saudi %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
fa_saudi_clean
fa_saudi_clean_ID <- fa_saudi_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_saudi_races <- alo_laps %>%
                    filter(raceId %in% fa_saudi_clean_ID)

fa_saudi_split <- initial_split(fa_saudi_races, prop = 0.75, strata = milliseconds)

fa_saudi_train <- training(fa_saudi_split)

fa_saudi_test <- testing(fa_saudi_split) 


### USING DATA

fa_saudi_lap_times <- fa_saudi_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_saudi_avg_race_time <- fa_saudi_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Australia

fa_aus <- alo_laps %>%
                filter(raceId %in% aus_race_ID) 

fa_aus_clean <- fa_aus %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
fa_aus_clean
fa_aus_clean_ID <- fa_aus_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_aus_races <- alo_laps %>%
                    filter(raceId %in% fa_aus_clean_ID)

fa_aus_split <- initial_split(fa_aus_races, prop = 0.75, strata = milliseconds)

fa_aus_train <- training(fa_aus_split)

fa_aus_test <- testing(fa_aus_split) 


### USING DATA

fa_aus_lap_times <- fa_aus_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_aus_avg_race_time <- fa_aus_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Italy, Imola

fa_imola <- alo_laps %>%
                filter(raceId %in% imola_race_ID) 

fa_imola_clean <- fa_imola %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
fa_imola_clean
fa_imola_clean_ID <- fa_imola_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_imola_races <- alo_laps %>%
                    filter(raceId %in% fa_imola_clean_ID)

fa_imola_split <- initial_split(fa_imola_races, prop = 0.75, strata = milliseconds)

fa_imola_train <- training(fa_imola_split)

fa_imola_test <- testing(fa_imola_split) 


### USING DATA

fa_imola_lap_times <- fa_imola_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_imola_avg_race_time <- fa_imola_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Spain

fa_spain <- alo_laps %>%
                filter(raceId %in% spain_race_ID) 

fa_spain_clean <- fa_spain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
fa_spain_clean
fa_spain_clean_ID <- fa_spain_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_spain_races <- alo_laps %>%
                    filter(raceId %in% fa_spain_clean_ID)

fa_spain_split <- initial_split(fa_spain_races, prop = 0.75, strata = milliseconds)

fa_spain_train <- training(fa_spain_split)

fa_spain_test <- testing(fa_spain_split) 


### USING DATA

fa_spain_lap_times <- fa_spain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_spain_avg_race_time <- fa_spain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################   Monaco

fa_monaco <- alo_laps %>%
                filter(raceId %in% monaco_race_ID) 

fa_monaco_clean <- fa_monaco %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
fa_monaco_clean
fa_monaco_clean_ID <- fa_monaco_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_monaco_races <- alo_laps %>%
                    filter(raceId %in% fa_monaco_clean_ID)

fa_monaco_split <- initial_split(fa_monaco_races, prop = 0.75, strata = milliseconds)

fa_monaco_train <- training(fa_monaco_split)

fa_monaco_test <- testing(fa_monaco_split) 


### USING DATA

fa_monaco_lap_times <- fa_monaco_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_monaco_avg_race_time <- fa_monaco_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Azerbaijan

fa_azerbaijan <- alo_laps %>%
                filter(raceId %in% azerbaijan_race_ID) 

fa_azerbaijan_clean <- fa_azerbaijan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
fa_azerbaijan_clean
fa_azerbaijan_clean_ID <- fa_azerbaijan_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_azerbaijan_races <- alo_laps %>%
                    filter(raceId %in% fa_azerbaijan_clean_ID)

fa_azerbaijan_split <- initial_split(fa_azerbaijan_races, prop = 0.75, strata = milliseconds)

fa_azerbaijan_train <- training(fa_azerbaijan_split)

fa_azerbaijan_test <- testing(fa_azerbaijan_split) 


### USING DATA

fa_azerbaijan_lap_times <- fa_azerbaijan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_azerbaijan_avg_race_time <- fa_azerbaijan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Canada

fa_canada <- alo_laps %>%
                filter(raceId %in% canada_race_ID) 

fa_canada_clean <- fa_canada %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
fa_canada_clean
fa_canada_clean_ID <- fa_canada_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_canada_races <- alo_laps %>%
                    filter(raceId %in% fa_canada_clean_ID)

fa_canada_split <- initial_split(fa_canada_races, prop = 0.75, strata = milliseconds)

fa_canada_train <- training(fa_canada_split)

fa_canada_test <- testing(fa_canada_split) 


### USING DATA

fa_canada_lap_times <- fa_canada_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_canada_avg_race_time <- fa_canada_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Great Britain

fa_uk <- alo_laps %>%
                filter(raceId %in% uk_race_ID) 

fa_uk_clean <- fa_uk %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

fa_uk_clean_ID <- fa_uk_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_uk_races <- alo_laps %>%
                    filter(raceId %in% fa_uk_clean_ID)

fa_uk_split <- initial_split(fa_uk_races, prop = 0.75, strata = milliseconds)

fa_uk_train <- training(fa_uk_split)

fa_uk_test <- testing(fa_uk_split) 


### USING DATA

fa_uk_lap_times <- fa_uk_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_uk_avg_race_time <- fa_uk_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Austria

fa_austria <- alo_laps %>%
                filter(raceId %in% austria_race_ID) 

fa_austria_clean <- fa_austria %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

fa_austria_clean_ID <- fa_austria_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_austria_races <- alo_laps %>%
                    filter(raceId %in% fa_austria_clean_ID)

fa_austria_split <- initial_split(fa_austria_races, prop = 0.75, strata = milliseconds)

fa_austria_train <- training(fa_austria_split)

fa_austria_test <- testing(fa_austria_split) 


### USING DATA

fa_austria_lap_times <- fa_austria_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_austria_avg_race_time <- fa_austria_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  France

fa_france <- alo_laps %>%
                filter(raceId %in% france_race_ID) 

fa_france_clean <- fa_france %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
fa_france_clean
fa_france_clean_ID <- fa_france_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_france_races <- alo_laps %>%
                    filter(raceId %in% fa_france_clean_ID)

fa_france_split <- initial_split(fa_france_races, prop = 0.75, strata = milliseconds)

fa_france_train <- training(fa_france_split)

fa_france_test <- testing(fa_france_split) 


### USING DATA

fa_france_lap_times <- fa_france_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_france_avg_race_time <- fa_france_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Hungary

fa_hungary <- alo_laps %>%
                filter(raceId %in% hungary_race_ID) 

fa_hungary_clean <- fa_hungary %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
                     

fa_hungary_clean_ID <- fa_hungary_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_hungary_races <- alo_laps %>%
                    filter(raceId %in% fa_hungary_clean_ID)

fa_hungary_split <- initial_split(fa_hungary_races, prop = 0.75, strata = milliseconds)

fa_hungary_train <- training(fa_hungary_split)

fa_hungary_test <- testing(fa_hungary_split) 


### USING DATA

fa_hungary_lap_times <- fa_hungary_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_hungary_avg_race_time <- fa_hungary_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Belgium

fa_belgium <- alo_laps %>%
                filter(raceId %in% belgium_race_ID) 

fa_belgium_clean <- fa_belgium %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
fa_belgium_clean
fa_belgium_clean_ID <- fa_belgium_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_belgium_races <- alo_laps %>%
                    filter(raceId %in% fa_belgium_clean_ID)

fa_belgium_split <- initial_split(fa_belgium_races, prop = 0.75, strata = milliseconds)

fa_belgium_train <- training(fa_belgium_split)

fa_belgium_test <- testing(fa_belgium_split) 


### USING DATA

fa_belgium_lap_times <- fa_belgium_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_belgium_avg_race_time <- fa_belgium_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Netherlands

fa_netherlands <- alo_laps %>%
                filter(raceId %in% netherlands_race_ID) 

fa_netherlands_clean <- fa_netherlands %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
fa_netherlands_clean
fa_netherlands_clean_ID <- fa_netherlands_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_netherlands_races <- alo_laps %>%
                    filter(raceId %in% fa_netherlands_clean_ID)

fa_netherlands_split <- initial_split(fa_netherlands_races, prop = 0.75, strata = milliseconds)

fa_netherlands_train <- training(fa_netherlands_split)

fa_netherlands_test <- testing(fa_netherlands_split) 


### USING DATA

fa_netherlands_lap_times <- fa_netherlands_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_netherlands_avg_race_time <- fa_netherlands_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Italy, Monza

fa_monza <- alo_laps %>%
                filter(raceId %in% monza_race_ID) 

fa_monza_clean <- fa_monza %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
fa_monza_clean
fa_monza_clean_ID <- fa_monza_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_monza_races <- alo_laps %>%
                    filter(raceId %in% fa_monza_clean_ID)

fa_monza_split <- initial_split(fa_monza_races, prop = 0.75, strata = milliseconds)

fa_monza_train <- training(fa_monza_split)

fa_monza_test <- testing(fa_monza_split) 


### USING DATA

fa_monza_lap_times <- fa_monza_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_monza_avg_race_time <- fa_monza_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Singapore

fa_singapore <- alo_laps %>%
                filter(raceId %in% singapore_race_ID) 

fa_singapore_clean <- fa_singapore %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

fa_singapore_clean_ID <- fa_singapore_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_singapore_races <- alo_laps %>%
                    filter(raceId %in% fa_singapore_clean_ID)

fa_singapore_split <- initial_split(fa_singapore_races, prop = 0.75, strata = milliseconds)

fa_singapore_train <- training(fa_singapore_split)

fa_singapore_test <- testing(fa_singapore_split) 


### USING DATA

fa_singapore_lap_times <- fa_singapore_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_singapore_avg_race_time <- fa_singapore_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Japan

fa_japan <- alo_laps %>%
                filter(raceId %in% japan_race_ID) 

fa_japan_clean <- fa_japan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
fa_japan_clean_ID <- fa_japan_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_japan_races <- alo_laps %>%
                    filter(raceId %in% fa_japan_clean_ID)

fa_japan_split <- initial_split(fa_japan_races, prop = 0.75, strata = milliseconds)

fa_japan_train <- training(fa_japan_split)

fa_japan_test <- testing(fa_japan_split) 


### USING DATA

fa_japan_lap_times <- fa_japan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_japan_avg_race_time <- fa_japan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  USA, Austin

fa_austin <- alo_laps %>%
                filter(raceId %in% austin_race_ID) 

fa_austin_clean <- fa_austin %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

fa_austin_clean_ID <- fa_austin_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_austin_races <- alo_laps %>%
                    filter(raceId %in% fa_austin_clean_ID)

fa_austin_split <- initial_split(fa_austin_races, prop = 0.75, strata = milliseconds)

fa_austin_train <- training(fa_austin_split)

fa_austin_test <- testing(fa_austin_split) 


### USING DATA

fa_austin_lap_times <- fa_austin_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_austin_avg_race_time <- fa_austin_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Mexico

fa_mexico <- alo_laps %>%
                filter(raceId %in% mexico_race_ID) 

fa_mexico_clean <- fa_mexico %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

fa_mexico_clean_ID <- fa_mexico_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_mexico_races <- alo_laps %>%
                    filter(raceId %in% fa_mexico_clean_ID)

fa_mexico_split <- initial_split(fa_mexico_races, prop = 0.75, strata = milliseconds)

fa_mexico_train <- training(fa_mexico_split)

fa_mexico_test <- testing(fa_mexico_split) 


### USING DATA

fa_mexico_lap_times <- fa_mexico_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_mexico_avg_race_time <- fa_mexico_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Brazil

fa_brazil <- alo_laps %>%
                filter(raceId %in% brazil_race_ID) 

fa_brazil_clean <- fa_brazil %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

fa_brazil_clean_ID <- fa_brazil_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_brazil_races <- alo_laps %>%
                    filter(raceId %in% fa_brazil_clean_ID)

fa_brazil_split <- initial_split(fa_brazil_races, prop = 0.75, strata = milliseconds)

fa_brazil_train <- training(fa_brazil_split)

fa_brazil_test <- testing(fa_brazil_split) 


### USING DATA

fa_brazil_lap_times <- fa_brazil_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_brazil_avg_race_time <- fa_brazil_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Abu Dhabi

fa_uae <- alo_laps %>%
                filter(raceId %in% uae_race_ID) 

fa_uae_clean <- fa_uae %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
fa_uae_clean
fa_uae_clean_ID <- fa_uae_clean %>%
                        pull(raceId)


### SPLITTING DATA

fa_uae_races <- alo_laps %>%
                    filter(raceId %in% fa_uae_clean_ID)

fa_uae_split <- initial_split(fa_uae_races, prop = 0.75, strata = milliseconds)

fa_uae_train <- training(fa_uae_split)

fa_uae_test <- testing(fa_uae_split) 


### USING DATA

fa_uae_lap_times <- fa_uae_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

fa_uae_avg_race_time <- fa_uae_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

   raceId n
1     4   57
2    20   57
3    38   57
4    53   57
5    73   57
6    92   57
7   863   57
8   883   57
9   902   57
10  929   56
11  990   56
12  971   54
13  337   49
14 1052   32

  raceId n
1 1072   49

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

   raceId n
1    1    58
2   18    58
3   36    58
4   90    58
5  108    58
6  338    58
7  841    58
8  860    58
9  880    58
10 989    58
11  55    57
12  71    57
13 900    57
14 141    56
15 969    50
16 948    16

  raceId n
1 1053   63
2   56   62
3   74   62
4   93   62
5  111   62
6  144    5

   raceId n
1     5   66
2    58   66
3    75   66
4    94   66
5   341   66
6   864   66
7   884   66
8   904   66
9    39   65
10  112   65
11  845   65
12  993   65
13 1055   65
14  973   64
15  145   63
16  952   45
17   21   34
18  930   26

   raceId n
1     6   78
2    40   78
3    59   78
4    76   78
5   114   78
6   342   78
7   846   78
8   865   78
9   885   78
10  905   78
11  953   78
12 1056   77
13   23   75
14  147   54
15  994   52
16   95   41
17  931   41

  raceId n
1  976   51
2  992   51
3 1057   51
4  955   42

   raceId n
1   41    70
2   61    70
3  115    70
4  344    70
5  866    70
6  886    70
7  906    70
8  954    69
9  975    66
10  24    44
11  97    44
12 932    44
13 995    40
14  78    38
15 847    36
16 148     7

  raceId n
1 1059   53
2  996   50

   raceId n
1    30   44
2    49   44
3    86   44
4   852   44
5   891   44
6   911   44
7   960   44
8   937   42
9   349   37
10   12   26
11  980   25
12  103   11
13 1063    1

  raceId n
1 1064   71

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 3 breaks instead.”

   raceId n
1    13   53
2    31   53
3    48   53
4    85   53
5   350   53
6   853   53
7   872   53
8   892   53
9  1065   53
10  121   52
11  961   52
12  155   51
13  981   50
14  938   47
15   67   43
16  104   40
17  912   28
18 1002    9

   raceId n
1  1073   58
2    17   55
3   355   55
4   858   55
5   877   55
6   897   55
7   918   55
8   968   55
9   988   54
10 1009   54
11  945   53