# George Russell

<img src="https://www.formula1.com/content/fom-website/en/drivers/george-russell/_jcr_content/image.img.1920.medium.jpg/1646750994602.jpg" width="300">

### Team: Mercedes

<img src ="https://www.formula1.com/content/fom-website/en/drivers/george-russell/_jcr_content/helmet.img.png/1646824823304.png" width="200">

In [2]:
library (tidyverse)
library (tidymodels)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

Warning message:
“package ‘tidyr’ was built under R version 4.1.2”
Warning message:
“package ‘readr’ was built under R version 4.1.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Registered S3 method overwritten by 'tune':
  method                   from
  required_pkgs.model_spec parsnip

── Attaching packages ────────────────────────────────────── tidymodels 0.1.3 ──

✔ broom        0.7.12     ✔ rsample      0.1.1
✔ dials        0.1.0      ✔ tune         0.1.6
✔ infer        1.0.0      ✔ workflows    0.2.4
✔ modeldata    0.1.1      ✔ workflowsets 0.1.0
✔ parsnip      0.1.7      ✔ yardstick    0.0.9
✔ recipes      0.1.17

Warning message:
“package ‘broom’ was built under R version 4.1.2”
Warning message:
“package ‘dials’ was built under R version 4.1.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [3]:
# Reading dataset files

circuits <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/circuits.csv")

constructor_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_standings.csv") 

constructor_results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_results.csv") 
    
constructors <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructors.csv")

drivers <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/drivers.csv")

driver_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv")

lap_times <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv") 

pit_stops <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/pit_stops.csv")
           
qualifying <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/qualifying.csv") 

results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv") 

races <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/races.csv") 

status <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/status.csv")

Rows: 79 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (6): circuitRef, name, location, country, alt, url
dbl (3): circuitId, lat, lng


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 12716 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): positionText
dbl (6): constructorStandingsId, raceId, constructorId, points, position, wins


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 11950 Columns: 5

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): status
dbl (4): constructorResultsId, raceId, constructorId, points


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 211 Columns: 5

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): constructorRef, name, nationality, url
dbl (1): constructorId


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 854 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): driverRef, number, code, forename, surname, nationality, url
dbl  (1): driverId
date (1): dob


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 33394 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): positionText
dbl (6): driverStandingsId, raceId, driverId, points, position, wins


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 514592 Columns: 6

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl  (5): raceId, driverId, lap, position, milliseconds
time (1): time


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 8828 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): duration
dbl  (5): raceId, driverId, stop, lap, milliseconds
time (1): time


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 9135 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): q1, q2, q3
dbl (6): qualifyId, raceId, driverId, constructorId, number, position


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Warning message:
“One or more parsing issues, see `problems()` for details”
Rows: 25399 Columns: 18

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (8): position, positionText, time, milliseconds, fastestLap, rank, fast...
dbl (10): resultId, raceId, driverId, constructorId, number, grid, positionO...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 1080 Columns: 8

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): name, time, url
dbl  (4): raceId, year, round, circuitId
date (1): date


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 137 Columns: 2

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): status
dbl (1): statusId


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [4]:
# Filtering 2022 GP circuits 

# Vector of 2022 GP locations

locations_2022 <- c("Sakhir", "Jeddah", "Melbourne", "Imola", "Miami", "Montmeló", "Monte-Carlo", "Baku", "Montreal", "Silverstone", "Spielberg", 
                    "Le Castellet", "Budapest", "Spa", "Zandvoort", "Monza", "Sochi", "Marina Bay", "Suzuka", "Austin", "Mexico City", "São Paulo", "Abu Dhabi")

# Filtering circuit data set by locations vector 

circuits_2022 <- circuits %>% 
           filter(location %in% locations_2022) %>%
           filter(name != "A1-Ring") %>%
           select(circuitId:alt)


# Extracting 2022 circuit ID's 


circuit_ids <- circuits_2022 %>%
              pull(circuitId)

# Extracting 2022 circuit name and ID's


circuits_IDS <- circuits_2022 %>%
                select(circuitId, name, country, location) %>% 
                arrange(country)

In [5]:
# Filtering 2022 Constructors

team_names <- c("Alfa Romeo", "AlphaTauri", "Alpine F1 Team", "Aston Martin", "Ferrari", 
                "Haas F1 Team", "McLaren", "Mercedes", "Red Bull", "Williams")

teams_2022 <- constructors %>%
                 filter(name %in% team_names)

# Extracting 2022 Constructor ID's

constructor_ids <- teams_2022 %>%
              pull(constructorId)

In [6]:
# Filtering 2022 Drivers

driver_surnames <- c("Hamilton", "Russell", "Albon", "Zhou", "Bottas", "Gasly", "Tsunoda", "Alonso", "Ocon", "Vettel", "Stroll", 
                     "Leclerc", "Sainz", "Magnussen", "Schumacher", "Ricciardo", "Norris", "Verstappen", "Pérez", "Latifi")
 
drivers_2022 <- drivers %>%
                filter(surname %in% driver_surnames) %>%
                filter(!(forename %in% c("Ralf", "Michael", "Jos", "Duncan", "Jan")))

# Extracting Driver IDS

driver_ids <- drivers_2022 %>%
              pull(driverId)

# Extracting Driver Codes

driver_codes <- drivers_2022 %>%
              pull(code)

# Combining IDS and Codes

driver_id_code <- data.frame(driver_ids, driver_codes)

In [7]:
#### Filtering Race Data for 2022 Races

past_2022_races <- races %>%
                    filter(circuitId %in% circuit_ids) %>%
                    filter(year != "2022")

##### Extracting Race ID's

race_ids <- past_2022_races %>%
            pull(raceId)


##### Filtering Race Data For All 23 Circuits

#############################################

bahrain <- past_2022_races %>% 
            filter(circuitId == 3) %>%
            arrange(desc(year))

bahrain_race_ID <- bahrain %>%
                pull(raceId)

#############################################

sa <- past_2022_races %>% 
            filter(circuitId == 77) %>%
            arrange(desc(year))

saudi_race_ID <- sa %>%
                pull(raceId)

#############################################

aus <- past_2022_races %>% 
            filter(circuitId == 1) %>%
            arrange(desc(year))

aus_race_ID <- aus %>%
                pull(raceId)

#############################################

imola <- past_2022_races %>% 
            filter(circuitId == 21) %>%
            arrange(desc(year))

imola_race_ID <- imola %>%
                pull(raceId)

#############################################

miami <- past_2022_races %>% 
            filter(circuitId == 79) %>%
            arrange(desc(year))

miami_race_ID <- miami %>%
                pull(raceId)

#############################################

spain <- past_2022_races %>% 
            filter(circuitId == 4) %>%
            arrange(desc(year))

spain_race_ID <- spain %>%
                pull(raceId)

#############################################

monaco <- past_2022_races %>% 
            filter(circuitId == 6) %>%
            arrange(desc(year))

monaco_race_ID <- monaco %>%
                pull(raceId)

#############################################

azerbaijan <- past_2022_races %>% 
            filter(circuitId == 73) %>%
            arrange(desc(year))

azerbaijan_race_ID <- azerbaijan %>%
                pull(raceId)

#############################################

canada <- past_2022_races %>% 
            filter(circuitId == 7) %>%
            arrange(desc(year))

canada_race_ID <- canada %>%
                pull(raceId)

#############################################

uk <- past_2022_races %>% 
            filter(circuitId == 9) %>%
            arrange(desc(year))


uk_race_ID <- uk %>%
                pull(raceId)

#############################################

austria <- past_2022_races %>% 
            filter(circuitId == 70) %>%
            arrange(desc(year))


austria_race_ID <- austria %>%
                pull(raceId)

#############################################

france <- past_2022_races %>% 
            filter(circuitId == 34) %>%
            arrange(desc(year))


france_race_ID <- france %>%
                pull(raceId)

#############################################

hungary <- past_2022_races %>% 
            filter(circuitId == 11) %>%
            arrange(desc(year))


hungary_race_ID <- hungary %>%
                pull(raceId)

#############################################

belgium <- past_2022_races %>% 
            filter(circuitId == 13) %>%
            arrange(desc(year))


belgium_race_ID <- belgium %>%
                pull(raceId)

#############################################

netherlands <- past_2022_races %>% 
            filter(circuitId == 39) %>%
            arrange(desc(year))


netherlands_race_ID <- netherlands %>%
                pull(raceId)

#############################################

monza <- past_2022_races %>% 
            filter(circuitId == 14) %>%
            arrange(desc(year))

monza_race_ID <- monza %>%
                pull(raceId)

#############################################

singapore <- past_2022_races %>% 
            filter(circuitId == 15) %>%
            arrange(desc(year))

singapore_race_ID <- singapore %>%
                pull(raceId)

#############################################

japan <- past_2022_races %>% 
            filter(circuitId == 22) %>%
            arrange(desc(year))

japan_race_ID <- japan %>%
                pull(raceId)

#############################################

austin <- past_2022_races %>% 
            filter(circuitId == 69) %>%
            arrange(desc(year))

austin_race_ID <- austin %>%
                pull(raceId)

#############################################

mexico <- past_2022_races %>% 
            filter(circuitId == 32) %>%
            arrange(desc(year))

mexico_race_ID <- mexico %>%
                pull(raceId)

#############################################

brazil <- past_2022_races %>% 
            filter(circuitId == 18) %>%
            arrange(desc(year))

brazil_race_ID <- brazil %>%
                pull(raceId)

#############################################

uae <- past_2022_races %>% 
            filter(circuitId == 24) %>%
            arrange(desc(year))

uae_race_ID <- uae %>%
                pull(raceId)

In [8]:
# Filtering Lap Data For 2022 Drivers

lap_data <- lap_times %>%
            filter(driverId %in% driver_ids) %>%
            filter(raceId %in% race_ids)

# Filtering Lap Data For Individual Driver

rus_laps <- lap_data %>%
            filter(driverId == 847)

In [9]:
#### George Russell


#####################################################  BAHRAIN 

gr_bahrain <- rus_laps %>%
                filter(raceId %in% bahrain_race_ID) 

gr_bahrain_clean <- gr_bahrain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
gr_bahrain_clean
gr_bahrain_clean_ID <- gr_bahrain_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_bahrain_races <- rus_laps %>%
                    filter(raceId %in% gr_bahrain_clean_ID)

gr_bahrain_split <- initial_split(gr_bahrain_races, prop = 0.75, strata = milliseconds)

gr_bahrain_train <- training(gr_bahrain_split)

gr_bahrain_test <- testing(gr_bahrain_split) 


### USING DATA

gr_bahrain_lap_times <- gr_bahrain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_bahrain_avg_race_time <- gr_bahrain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Saudi Arabia

gr_saudi <- rus_laps %>%
                filter(raceId %in% saudi_race_ID) 

gr_saudi_clean <- gr_saudi %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_saudi_clean
gr_saudi_clean_ID <- gr_saudi_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_saudi_races <- rus_laps %>%
                    filter(raceId %in% gr_saudi_clean_ID)

gr_saudi_split <- initial_split(gr_saudi_races, prop = 0.75, strata = milliseconds)

gr_saudi_train <- training(gr_saudi_split)

gr_saudi_test <- testing(gr_saudi_split) 


### USING DATA

gr_saudi_lap_times <- gr_saudi_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_saudi_avg_race_time <- gr_saudi_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Australia

gr_aus <- rus_laps %>%
                filter(raceId %in% aus_race_ID) 

gr_aus_clean <- gr_aus %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_aus_clean
gr_aus_clean_ID <- gr_aus_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_aus_races <- rus_laps %>%
                    filter(raceId %in% gr_aus_clean_ID)

gr_aus_split <- initial_split(gr_aus_races, prop = 0.75, strata = milliseconds)

gr_aus_train <- training(gr_aus_split)

gr_aus_test <- testing(gr_aus_split) 


### USING DATA

gr_aus_lap_times <- gr_aus_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_aus_avg_race_time <- gr_aus_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Italy, Imola

gr_imola <- rus_laps %>%
                filter(raceId %in% imola_race_ID) 

gr_imola_clean <- gr_imola %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_imola_clean
gr_imola_clean_ID <- gr_imola_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_imola_races <- rus_laps %>%
                    filter(raceId %in% gr_imola_clean_ID)

gr_imola_split <- initial_split(gr_imola_races, prop = 0.75, strata = milliseconds)

gr_imola_train <- training(gr_imola_split)

gr_imola_test <- testing(gr_imola_split) 


### USING DATA

gr_imola_lap_times <- gr_imola_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_imola_avg_race_time <- gr_imola_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Spain

gr_spain <- rus_laps %>%
                filter(raceId %in% spain_race_ID) 

gr_spain_clean <- gr_spain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_spain_clean
gr_spain_clean_ID <- gr_spain_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_spain_races <- rus_laps %>%
                    filter(raceId %in% gr_spain_clean_ID)

gr_spain_split <- initial_split(gr_spain_races, prop = 0.75, strata = milliseconds)

gr_spain_train <- training(gr_spain_split)

gr_spain_test <- testing(gr_spain_split) 


### USING DATA

gr_spain_lap_times <- gr_spain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_spain_avg_race_time <- gr_spain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################   Monaco

gr_monaco <- rus_laps %>%
                filter(raceId %in% monaco_race_ID) 

gr_monaco_clean <- gr_monaco %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_monaco_clean
gr_monaco_clean_ID <- gr_monaco_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_monaco_races <- rus_laps %>%
                    filter(raceId %in% gr_monaco_clean_ID)

gr_monaco_split <- initial_split(gr_monaco_races, prop = 0.75, strata = milliseconds)

gr_monaco_train <- training(gr_monaco_split)

gr_monaco_test <- testing(gr_monaco_split) 


### USING DATA

gr_monaco_lap_times <- gr_monaco_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_monaco_avg_race_time <- gr_monaco_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Azerbaijan

gr_azerbaijan <- rus_laps %>%
                filter(raceId %in% azerbaijan_race_ID) 

gr_azerbaijan_clean <- gr_azerbaijan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_azerbaijan_clean
gr_azerbaijan_clean_ID <- gr_azerbaijan_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_azerbaijan_races <- rus_laps %>%
                    filter(raceId %in% gr_azerbaijan_clean_ID)

gr_azerbaijan_split <- initial_split(gr_azerbaijan_races, prop = 0.75, strata = milliseconds)

gr_azerbaijan_train <- training(gr_azerbaijan_split)

gr_azerbaijan_test <- testing(gr_azerbaijan_split) 


### USING DATA

gr_azerbaijan_lap_times <- gr_azerbaijan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_azerbaijan_avg_race_time <- gr_azerbaijan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Canada

gr_canada <- rus_laps %>%
                filter(raceId %in% canada_race_ID) 

gr_canada_clean <- gr_canada %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_canada_clean
gr_canada_clean_ID <- gr_canada_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_canada_races <- rus_laps %>%
                    filter(raceId %in% gr_canada_clean_ID)

gr_canada_split <- initial_split(gr_canada_races, prop = 0.75, strata = milliseconds)

gr_canada_train <- training(gr_canada_split)

gr_canada_test <- testing(gr_canada_split) 


### USING DATA

gr_canada_lap_times <- gr_canada_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_canada_avg_race_time <- gr_canada_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Great Britain

gr_uk <- rus_laps %>%
                filter(raceId %in% uk_race_ID) 

gr_uk_clean <- gr_uk %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

gr_uk_clean_ID <- gr_uk_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_uk_races <- rus_laps %>%
                    filter(raceId %in% gr_uk_clean_ID)

gr_uk_split <- initial_split(gr_uk_races, prop = 0.75, strata = milliseconds)

gr_uk_train <- training(gr_uk_split)

gr_uk_test <- testing(gr_uk_split) 


### USING DATA

gr_uk_lap_times <- gr_uk_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_uk_avg_race_time <- gr_uk_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Austria

gr_austria <- rus_laps %>%
                filter(raceId %in% austria_race_ID) 

gr_austria_clean <- gr_austria %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

gr_austria_clean_ID <- gr_austria_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_austria_races <- rus_laps %>%
                    filter(raceId %in% gr_austria_clean_ID)

gr_austria_split <- initial_split(gr_austria_races, prop = 0.75, strata = milliseconds)

gr_austria_train <- training(gr_austria_split)

gr_austria_test <- testing(gr_austria_split) 


### USING DATA

gr_austria_lap_times <- gr_austria_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_austria_avg_race_time <- gr_austria_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  France

gr_france <- rus_laps %>%
                filter(raceId %in% france_race_ID) 

gr_france_clean <- gr_france %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_france_clean
gr_france_clean_ID <- gr_france_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_france_races <- rus_laps %>%
                    filter(raceId %in% gr_france_clean_ID)

gr_france_split <- initial_split(gr_france_races, prop = 0.75, strata = milliseconds)

gr_france_train <- training(gr_france_split)

gr_france_test <- testing(gr_france_split) 


### USING DATA

gr_france_lap_times <- gr_france_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_france_avg_race_time <- gr_france_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Hungary

gr_hungary <- rus_laps %>%
                filter(raceId %in% hungary_race_ID) 

gr_hungary_clean <- gr_hungary %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
                     

gr_hungary_clean_ID <- gr_hungary_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_hungary_races <- rus_laps %>%
                    filter(raceId %in% gr_hungary_clean_ID)

gr_hungary_split <- initial_split(gr_hungary_races, prop = 0.75, strata = milliseconds)

gr_hungary_train <- training(gr_hungary_split)

gr_hungary_test <- testing(gr_hungary_split) 


### USING DATA

gr_hungary_lap_times <- gr_hungary_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_hungary_avg_race_time <- gr_hungary_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Belgium

gr_belgium <- rus_laps %>%
                filter(raceId %in% belgium_race_ID) 

gr_belgium_clean <- gr_belgium %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_belgium_clean
gr_belgium_clean_ID <- gr_belgium_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_belgium_races <- rus_laps %>%
                    filter(raceId %in% gr_belgium_clean_ID)

gr_belgium_split <- initial_split(gr_belgium_races, prop = 0.75, strata = milliseconds)

gr_belgium_train <- training(gr_belgium_split)

gr_belgium_test <- testing(gr_belgium_split) 


### USING DATA

gr_belgium_lap_times <- gr_belgium_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_belgium_avg_race_time <- gr_belgium_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Netherlands

gr_netherlands <- rus_laps %>%
                filter(raceId %in% netherlands_race_ID) 

gr_netherlands_clean <- gr_netherlands %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_netherlands_clean
gr_netherlands_clean_ID <- gr_netherlands_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_netherlands_races <- rus_laps %>%
                    filter(raceId %in% gr_netherlands_clean_ID)

gr_netherlands_split <- initial_split(gr_netherlands_races, prop = 0.75, strata = milliseconds)

gr_netherlands_train <- training(gr_netherlands_split)

gr_netherlands_test <- testing(gr_netherlands_split) 


### USING DATA

gr_netherlands_lap_times <- gr_netherlands_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_netherlands_avg_race_time <- gr_netherlands_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Italy, Monza

gr_monza <- rus_laps %>%
                filter(raceId %in% monza_race_ID) 

gr_monza_clean <- gr_monza %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
gr_monza_clean
gr_monza_clean_ID <- gr_monza_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_monza_races <- rus_laps %>%
                    filter(raceId %in% gr_monza_clean_ID)

gr_monza_split <- initial_split(gr_monza_races, prop = 0.75, strata = milliseconds)

gr_monza_train <- training(gr_monza_split)

gr_monza_test <- testing(gr_monza_split) 


### USING DATA

gr_monza_lap_times <- gr_monza_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_monza_avg_race_time <- gr_monza_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Singapore

gr_singapore <- rus_laps %>%
                filter(raceId %in% singapore_race_ID) 

gr_singapore_clean <- gr_singapore %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

gr_singapore_clean_ID <- gr_singapore_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_singapore_races <- rus_laps %>%
                    filter(raceId %in% gr_singapore_clean_ID)

gr_singapore_split <- initial_split(gr_singapore_races, prop = 0.75, strata = milliseconds)

gr_singapore_train <- training(gr_singapore_split)

gr_singapore_test <- testing(gr_singapore_split) 


### USING DATA

gr_singapore_lap_times <- gr_singapore_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_singapore_avg_race_time <- gr_singapore_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Japan

gr_japan <- rus_laps %>%
                filter(raceId %in% japan_race_ID) 

gr_japan_clean <- gr_japan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_japan_clean_ID <- gr_japan_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_japan_races <- rus_laps %>%
                    filter(raceId %in% gr_japan_clean_ID)

gr_japan_split <- initial_split(gr_japan_races, prop = 0.75, strata = milliseconds)

gr_japan_train <- training(gr_japan_split)

gr_japan_test <- testing(gr_japan_split) 


### USING DATA

gr_japan_lap_times <- gr_japan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_japan_avg_race_time <- gr_japan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  USA, Austin

gr_austin <- rus_laps %>%
                filter(raceId %in% austin_race_ID) 

gr_austin_clean <- gr_austin %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

gr_austin_clean_ID <- gr_austin_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_austin_races <- rus_laps %>%
                    filter(raceId %in% gr_austin_clean_ID)

gr_austin_split <- initial_split(gr_austin_races, prop = 0.75, strata = milliseconds)

gr_austin_train <- training(gr_austin_split)

gr_austin_test <- testing(gr_austin_split) 


### USING DATA

gr_austin_lap_times <- gr_austin_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_austin_avg_race_time <- gr_austin_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Mexico

gr_mexico <- rus_laps %>%
                filter(raceId %in% mexico_race_ID) 

gr_mexico_clean <- gr_mexico %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

gr_mexico_clean_ID <- gr_mexico_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_mexico_races <- rus_laps %>%
                    filter(raceId %in% gr_mexico_clean_ID)

gr_mexico_split <- initial_split(gr_mexico_races, prop = 0.75, strata = milliseconds)

gr_mexico_train <- training(gr_mexico_split)

gr_mexico_test <- testing(gr_mexico_split) 


### USING DATA

gr_mexico_lap_times <- gr_mexico_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_mexico_avg_race_time <- gr_mexico_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Brazil

gr_brazil <- rus_laps %>%
                filter(raceId %in% brazil_race_ID) 

gr_brazil_clean <- gr_brazil %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

gr_brazil_clean_ID <- gr_brazil_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_brazil_races <- rus_laps %>%
                    filter(raceId %in% gr_brazil_clean_ID)

gr_brazil_split <- initial_split(gr_brazil_races, prop = 0.75, strata = milliseconds)

gr_brazil_train <- training(gr_brazil_split)

gr_brazil_test <- testing(gr_brazil_split) 


### USING DATA

gr_brazil_lap_times <- gr_brazil_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_brazil_avg_race_time <- gr_brazil_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Abu Dhabi

gr_uae <- rus_laps %>%
                filter(raceId %in% uae_race_ID) 

gr_uae_clean <- gr_uae %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_uae_clean
gr_uae_clean_ID <- gr_uae_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_uae_races <- rus_laps %>%
                    filter(raceId %in% gr_uae_clean_ID)

gr_uae_split <- initial_split(gr_uae_races, prop = 0.75, strata = milliseconds)

gr_uae_train <- training(gr_uae_split)

gr_uae_test <- testing(gr_uae_split) 


### USING DATA

gr_uae_lap_times <- gr_uae_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

gr_uae_avg_race_time <- gr_uae_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1 1046   87
2 1011   56
3 1045   56
4 1052   55

  raceId n
1 1072   14

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 0 breaks instead.”
Warning message:
“Too little data to stratify.
* Resampling will be unstratified.”

  raceId n
1 1010   56

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

  raceId n
1 1043   51
2 1053   30

  raceId n
1 1014   65
2 1036   65
3 1055   65

  raceId n
1 1015   77
2 1056   77

  raceId n
1 1013   49
2 1057   48

  raceId n
1 1016   68

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 3 breaks instead.”

  raceId n
1 1059   52
2 1017   51

  raceId n
1 1022   43
2 1037    9
3 1063    1

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

  raceId n
1 1064   69

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 3 breaks instead.”

  raceId n
1 1038   53
2 1065   53
3 1023   52

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 1 breaks instead.”
Warning message:
“Too little data to stratify.
* Resampling will be unstratified.”
Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

  raceId n
1 1030   54
2 1047   54
3 1073   26