# George Russell

<img src="https://www.formula1.com/content/fom-website/en/drivers/george-russell/_jcr_content/image.img.1920.medium.jpg/1646750994602.jpg" width="300">

### Team: Mercedes

<img src ="https://www.formula1.com/content/fom-website/en/drivers/george-russell/_jcr_content/helmet.img.png/1646824823304.png" width="200">

In [1]:
library (tidyverse)
library (tidymodels)
source("source/master_functions.r")
source("source/regression.r")
set.seed(620)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

Warning message:
“package ‘tidyr’ was built under R version 4.1.2”
Warning message:
“package ‘readr’ was built under R version 4.1.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Registered S3 method overwritten by 'tune':
  method                   from
  required_pkgs.model_spec parsnip

── Attaching packages ────────────────────────────────────── tidymodels 0.1.3 ──

✔ broom        0.7.12     ✔ rsample      0.1.1
✔ dials        0.1.0      ✔ tune         0.1.6
✔ infer        1.0.0      ✔ workflows    0.2.4
✔ modeldata    0.1.1      ✔ workflowsets 0.1.0
✔ parsnip      0.1.7      ✔ yardstick    0.0.9
✔ recipes      0.1.17

Warning message:
“package ‘broom’ was built under R version 4.1.2”
Warning message:
“package ‘dials’ was built under R version 4.1.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [7]:
# Filtering Lap Data For 2022 Drivers

lap_data <- lap_times %>%
            filter(driverId %in% driver_ids) %>%
            filter(raceId %in% race_ids)

# Filtering Lap Data For Individual Driver

rus_laps <- lap_data %>%
            filter(driverId == 847)

# Season Analysis

In [9]:
#1. BAHRAIN 

gr_bahrain <- rus_laps %>%
                filter(raceId %in% bahrain_race_ID) 

gr_bahrain_clean <- gr_bahrain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
gr_bahrain_clean
gr_bahrain_clean_ID <- gr_bahrain_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_bahrain_races <- rus_laps %>%
                    filter(raceId %in% gr_bahrain_clean_ID)

formulaone_split <- initial_split(gr_bahrain_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

  raceId n
1 1046   87
2 1011   56
3 1045   56
4 1052   55

  raceId n
1 1072   14

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 0 breaks instead.”
Warning message:
“Too little data to stratify.
* Resampling will be unstratified.”

  raceId n
1 1010   56

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

  raceId n
1 1043   51
2 1053   30

  raceId n
1 1014   65
2 1036   65
3 1055   65

  raceId n
1 1015   77
2 1056   77

  raceId n
1 1013   49
2 1057   48

  raceId n
1 1016   68

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 3 breaks instead.”

  raceId n
1 1059   52
2 1017   51

  raceId n
1 1022   43
2 1037    9
3 1063    1

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

  raceId n
1 1064   69

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 3 breaks instead.”

  raceId n
1 1038   53
2 1065   53
3 1023   52

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 1 breaks instead.”
Warning message:
“Too little data to stratify.
* Resampling will be unstratified.”
Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

  raceId n
1 1030   54
2 1047   54
3 1073   26

In [ ]:
#2. Saudi Arabia

gr_saudi <- rus_laps %>%
                filter(raceId %in% saudi_race_ID) 

gr_saudi_clean <- gr_saudi %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_saudi_clean
gr_saudi_clean_ID <- gr_saudi_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_saudi_races <- rus_laps %>%
                    filter(raceId %in% gr_saudi_clean_ID)

formulaone_split <- initial_split(gr_saudi_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#3. Australia

gr_aus <- rus_laps %>%
                filter(raceId %in% aus_race_ID) 

gr_aus_clean <- gr_aus %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_aus_clean
gr_aus_clean_ID <- gr_aus_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_aus_races <- rus_laps %>%
                    filter(raceId %in% gr_aus_clean_ID)

formulaone_split <- initial_split(gr_aus_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#4. Italy, Imola

gr_imola <- rus_laps %>%
                filter(raceId %in% imola_race_ID) 

gr_imola_clean <- gr_imola %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_imola_clean
gr_imola_clean_ID <- gr_imola_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_imola_races <- rus_laps %>%
                    filter(raceId %in% gr_imola_clean_ID)

formulaone_split <- initial_split(gr_imola_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#6. Spain

gr_spain <- rus_laps %>%
                filter(raceId %in% spain_race_ID) 

gr_spain_clean <- gr_spain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_spain_clean
gr_spain_clean_ID <- gr_spain_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_spain_races <- rus_laps %>%
                    filter(raceId %in% gr_spain_clean_ID)

formulaone_split <- initial_split(gr_spain_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#7.   Monaco

gr_monaco <- rus_laps %>%
                filter(raceId %in% monaco_race_ID) 

gr_monaco_clean <- gr_monaco %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_monaco_clean
gr_monaco_clean_ID <- gr_monaco_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_monaco_races <- rus_laps %>%
                    filter(raceId %in% gr_monaco_clean_ID)

formulaone_split <- initial_split(gr_monaco_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#8.  Azerbaijan

gr_azerbaijan <- rus_laps %>%
                filter(raceId %in% azerbaijan_race_ID) 

gr_azerbaijan_clean <- gr_azerbaijan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_azerbaijan_clean
gr_azerbaijan_clean_ID <- gr_azerbaijan_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_azerbaijan_races <- rus_laps %>%
                    filter(raceId %in% gr_azerbaijan_clean_ID)

formulaone_split <- initial_split(gr_azerbaijan_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#9.  Canada

gr_canada <- rus_laps %>%
                filter(raceId %in% canada_race_ID) 

gr_canada_clean <- gr_canada %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_canada_clean
gr_canada_clean_ID <- gr_canada_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_canada_races <- rus_laps %>%
                    filter(raceId %in% gr_canada_clean_ID)

formulaone_split <- initial_split(gr_canada_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#10.  Great Britain

gr_uk <- rus_laps %>%
                filter(raceId %in% uk_race_ID) 

gr_uk_clean <- gr_uk %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

gr_uk_clean_ID <- gr_uk_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_uk_races <- rus_laps %>%
                    filter(raceId %in% gr_uk_clean_ID)

formulaone_split <- initial_split(gr_uk_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#11.  Austria

gr_austria <- rus_laps %>%
                filter(raceId %in% austria_race_ID) 

gr_austria_clean <- gr_austria %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

gr_austria_clean_ID <- gr_austria_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_austria_races <- rus_laps %>%
                    filter(raceId %in% gr_austria_clean_ID)

formulaone_split <- initial_split(gr_austria_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#12.  France

gr_france <- rus_laps %>%
                filter(raceId %in% france_race_ID) 

gr_france_clean <- gr_france %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_france_clean
gr_france_clean_ID <- gr_france_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_france_races <- rus_laps %>%
                    filter(raceId %in% gr_france_clean_ID)

formulaone_split <- initial_split(gr_france_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#13.  Hungary

gr_hungary <- rus_laps %>%
                filter(raceId %in% hungary_race_ID) 

gr_hungary_clean <- gr_hungary %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
                     

gr_hungary_clean_ID <- gr_hungary_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_hungary_races <- rus_laps %>%
                    filter(raceId %in% gr_hungary_clean_ID)

formulaone_split <- initial_split(gr_hungary_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#14. Belgium

gr_belgium <- rus_laps %>%
                filter(raceId %in% belgium_race_ID) 

gr_belgium_clean <- gr_belgium %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_belgium_clean
gr_belgium_clean_ID <- gr_belgium_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_belgium_races <- rus_laps %>%
                    filter(raceId %in% gr_belgium_clean_ID)

formulaone_split <- initial_split(gr_belgium_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#15.  Netherlands

gr_netherlands <- rus_laps %>%
                filter(raceId %in% netherlands_race_ID) 

gr_netherlands_clean <- gr_netherlands %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_netherlands_clean
gr_netherlands_clean_ID <- gr_netherlands_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_netherlands_races <- rus_laps %>%
                    filter(raceId %in% gr_netherlands_clean_ID)

formulaone_split <- initial_split(gr_netherlands_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#16.  Italy, Monza

gr_monza <- rus_laps %>%
                filter(raceId %in% monza_race_ID) 

gr_monza_clean <- gr_monza %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
gr_monza_clean
gr_monza_clean_ID <- gr_monza_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_monza_races <- rus_laps %>%
                    filter(raceId %in% gr_monza_clean_ID)

formulaone_split <- initial_split(gr_monza_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#17.  Singapore

gr_singapore <- rus_laps %>%
                filter(raceId %in% singapore_race_ID) 

gr_singapore_clean <- gr_singapore %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

gr_singapore_clean_ID <- gr_singapore_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_singapore_races <- rus_laps %>%
                    filter(raceId %in% gr_singapore_clean_ID)

formulaone_split <- initial_split(gr_singapore_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#18.  Japan

gr_japan <- rus_laps %>%
                filter(raceId %in% japan_race_ID) 

gr_japan_clean <- gr_japan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_japan_clean_ID <- gr_japan_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_japan_races <- rus_laps %>%
                    filter(raceId %in% gr_japan_clean_ID)

formulaone_split <- initial_split(gr_japan_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#19.  USA, Austin

gr_austin <- rus_laps %>%
                filter(raceId %in% austin_race_ID) 

gr_austin_clean <- gr_austin %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

gr_austin_clean_ID <- gr_austin_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_austin_races <- rus_laps %>%
                    filter(raceId %in% gr_austin_clean_ID)

formulaone_split <- initial_split(gr_austin_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#20. Mexico

gr_mexico <- rus_laps %>%
                filter(raceId %in% mexico_race_ID) 

gr_mexico_clean <- gr_mexico %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

gr_mexico_clean_ID <- gr_mexico_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_mexico_races <- rus_laps %>%
                    filter(raceId %in% gr_mexico_clean_ID)

formulaone_split <- initial_split(gr_mexico_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [ ]:
#21.  Brazil

gr_brazil <- rus_laps %>%
                filter(raceId %in% brazil_race_ID) 

gr_brazil_clean <- gr_brazil %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

gr_brazil_clean_ID <- gr_brazil_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_brazil_races <- rus_laps %>%
                    filter(raceId %in% gr_brazil_clean_ID)

formulaone_split <- initial_split(gr_brazil_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

In [8]:
#22.  Abu Dhabi

gr_uae <- rus_laps %>%
                filter(raceId %in% uae_race_ID) 

gr_uae_clean <- gr_uae %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
gr_uae_clean
gr_uae_clean_ID <- gr_uae_clean %>%
                        pull(raceId)


### SPLITTING DATA

gr_uae_races <- rus_laps %>%
                    filter(raceId %in% gr_uae_clean_ID)

formulaone_split <- initial_split(gr_uae_races, prop = 0.75, strata = milliseconds)

initiate_split_data()

### RUNS REGRESSION

initiate_linear_regression()

  raceId n
1 1030   54
2 1047   54
3 1073   26