# Lewis Hamilton

<img src="https://www.formula1.com/content/fom-website/en/drivers/lewis-hamilton/_jcr_content/image.img.1920.medium.jpg/1641811370907.jpg" width="300">

### Team: Mercedes

<img src ="https://www.formula1.com/content/fom-website/en/drivers/lewis-hamilton/_jcr_content/helmet.img.png/1646824671908.png" width="200">

In [8]:
library (tidyverse)
library (tidymodels)

In [9]:
# Reading dataset files

circuits <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/circuits.csv")

constructor_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_standings.csv") 

constructor_results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_results.csv") 
    
constructors <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructors.csv")

drivers <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/drivers.csv")

driver_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv")

lap_times <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv") 

pit_stops <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/pit_stops.csv")
           
qualifying <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/qualifying.csv") 

results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv") 

races <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/races.csv") 

status <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/status.csv")

Rows: 79 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (6): circuitRef, name, location, country, alt, url
dbl (3): circuitId, lat, lng


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 12716 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): positionText
dbl (6): constructorStandingsId, raceId, constructorId, points, position, wins


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 11950 Columns: 5

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): status
dbl (4): constructorResultsId, raceId, constructorId, points


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 211 Columns: 5

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): constructorRef, name, nationality, url
dbl (1): constructorId


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 854 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): driverRef, number, code, forename, surname, nationality, url
dbl  (1): driverId
date (1): dob


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 33394 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): positionText
dbl (6): driverStandingsId, raceId, driverId, points, position, wins


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 514592 Columns: 6

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl  (5): raceId, driverId, lap, position, milliseconds
time (1): time


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 8828 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): duration
dbl  (5): raceId, driverId, stop, lap, milliseconds
time (1): time


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 9135 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): q1, q2, q3
dbl (6): qualifyId, raceId, driverId, constructorId, number, position


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Warning message:
“One or more parsing issues, see `problems()` for details”
Rows: 25399 Columns: 18

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (8): position, positionText, time, milliseconds, fastestLap, rank, fast...
dbl (10): resultId, raceId, driverId, constructorId, number, grid, positionO...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 1080 Columns: 8

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): name, time, url
dbl  (4): raceId, year, round, circuitId
date (1): date


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 137 Columns: 2

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): status
dbl (1): statusId


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [10]:
# Filtering 2022 Constructors

team_names <- c("Alfa Romeo", "AlphaTauri", "Alpine F1 Team", "Aston Martin", "Ferrari", 
                "Haas F1 Team", "McLaren", "Mercedes", "Red Bull", "Williams")

teams_2022 <- constructors %>%
                 filter(name %in% team_names)

# Extracting 2022 Constructor ID's

constructor_ids <- teams_2022 %>%
              pull(constructorId)

In [11]:
# Filtering 2022 GP circuits 

# Vector of 2022 GP locations

locations_2022 <- c("Sakhir", "Jeddah", "Melbourne", "Imola", "Miami", "Montmeló", "Monte-Carlo", "Baku", "Montreal", "Silverstone", "Spielberg", 
                    "Le Castellet", "Budapest", "Spa", "Zandvoort", "Monza", "Sochi", "Marina Bay", "Suzuka", "Austin", "Mexico City", "São Paulo", "Abu Dhabi")

# Filtering circuit data set by locations vector 

circuits_2022 <- circuits %>% 
           filter(location %in% locations_2022) %>%
           filter(name != "A1-Ring") %>%
           select(circuitId:alt)


# Extracting 2022 circuit ID's 


circuit_ids <- circuits_2022 %>%
              pull(circuitId)

# Extracting 2022 circuit name and ID's


circuits_IDS <- circuits_2022 %>%
                select(circuitId, name, country, location) %>% 
                arrange(country)

In [12]:
# Filtering 2022 Drivers

driver_surnames <- c("Hamilton", "Russell", "Albon", "Zhou", "Bottas", "Gasly", "Tsunoda", "Alonso", "Ocon", "Vettel", "Stroll", 
                     "Leclerc", "Sainz", "Magnussen", "Schumacher", "Ricciardo", "Norris", "Verstappen", "Pérez", "Latifi")
 
drivers_2022 <- drivers %>%
                filter(surname %in% driver_surnames) %>%
                filter(!(forename %in% c("Ralf", "Michael", "Jos", "Duncan", "Jan")))

# Extracting Driver IDS

driver_ids <- drivers_2022 %>%
              pull(driverId)

# Extracting Driver Codes

driver_codes <- drivers_2022 %>%
              pull(code)

# Combining IDS and Codes

driver_id_code <- data.frame(driver_ids, driver_codes)

In [13]:
#### Filtering Race Data for 2022 Races

past_2022_races <- races %>%
                    filter(circuitId %in% circuit_ids) %>%
                    filter(year != "2022")

##### Extracting Race ID's

race_ids <- past_2022_races %>%
            pull(raceId)


##### Filtering Race Data For All 23 Circuits

#############################################

bahrain <- past_2022_races %>% 
            filter(circuitId == 3) %>%
            arrange(desc(year))

bahrain_race_ID <- bahrain %>%
                pull(raceId)

#############################################

sa <- past_2022_races %>% 
            filter(circuitId == 77) %>%
            arrange(desc(year))

saudi_race_ID <- sa %>%
                pull(raceId)

#############################################

aus <- past_2022_races %>% 
            filter(circuitId == 1) %>%
            arrange(desc(year))

aus_race_ID <- aus %>%
                pull(raceId)

#############################################

imola <- past_2022_races %>% 
            filter(circuitId == 21) %>%
            arrange(desc(year))

imola_race_ID <- imola %>%
                pull(raceId)

#############################################

miami <- past_2022_races %>% 
            filter(circuitId == 79) %>%
            arrange(desc(year))

miami_race_ID <- miami %>%
                pull(raceId)

#############################################

spain <- past_2022_races %>% 
            filter(circuitId == 4) %>%
            arrange(desc(year))

spain_race_ID <- spain %>%
                pull(raceId)

#############################################

monaco <- past_2022_races %>% 
            filter(circuitId == 6) %>%
            arrange(desc(year))

monaco_race_ID <- monaco %>%
                pull(raceId)

#############################################

azerbaijan <- past_2022_races %>% 
            filter(circuitId == 73) %>%
            arrange(desc(year))

azerbaijan_race_ID <- azerbaijan %>%
                pull(raceId)

#############################################

canada <- past_2022_races %>% 
            filter(circuitId == 7) %>%
            arrange(desc(year))

canada_race_ID <- canada %>%
                pull(raceId)

#############################################

uk <- past_2022_races %>% 
            filter(circuitId == 9) %>%
            arrange(desc(year))


uk_race_ID <- uk %>%
                pull(raceId)

#############################################

austria <- past_2022_races %>% 
            filter(circuitId == 70) %>%
            arrange(desc(year))


austria_race_ID <- austria %>%
                pull(raceId)

#############################################

france <- past_2022_races %>% 
            filter(circuitId == 34) %>%
            arrange(desc(year))


france_race_ID <- france %>%
                pull(raceId)

#############################################

hungary <- past_2022_races %>% 
            filter(circuitId == 11) %>%
            arrange(desc(year))


hungary_race_ID <- hungary %>%
                pull(raceId)

#############################################

belgium <- past_2022_races %>% 
            filter(circuitId == 13) %>%
            arrange(desc(year))


belgium_race_ID <- belgium %>%
                pull(raceId)

#############################################

netherlands <- past_2022_races %>% 
            filter(circuitId == 39) %>%
            arrange(desc(year))


netherlands_race_ID <- netherlands %>%
                pull(raceId)

#############################################

monza <- past_2022_races %>% 
            filter(circuitId == 14) %>%
            arrange(desc(year))

monza_race_ID <- monza %>%
                pull(raceId)

#############################################

singapore <- past_2022_races %>% 
            filter(circuitId == 15) %>%
            arrange(desc(year))

singapore_race_ID <- singapore %>%
                pull(raceId)

#############################################

japan <- past_2022_races %>% 
            filter(circuitId == 22) %>%
            arrange(desc(year))

japan_race_ID <- japan %>%
                pull(raceId)

#############################################

austin <- past_2022_races %>% 
            filter(circuitId == 69) %>%
            arrange(desc(year))

austin_race_ID <- austin %>%
                pull(raceId)

#############################################

mexico <- past_2022_races %>% 
            filter(circuitId == 32) %>%
            arrange(desc(year))

mexico_race_ID <- mexico %>%
                pull(raceId)

#############################################

brazil <- past_2022_races %>% 
            filter(circuitId == 18) %>%
            arrange(desc(year))

brazil_race_ID <- brazil %>%
                pull(raceId)

#############################################

uae <- past_2022_races %>% 
            filter(circuitId == 24) %>%
            arrange(desc(year))

uae_race_ID <- uae %>%
                pull(raceId)

In [14]:
# Filtering Lap Data For 2022 Drivers

lap_data <- lap_times %>%
            filter(driverId %in% driver_ids) %>%
            filter(raceId %in% race_ids)

# Filtering Lap Data For Individual Driver

ham_laps <- lap_data %>%
            filter(driverId == 1)

# Season Analysis

In [15]:
#1.  Bahrain 

lh_bahrain <- ham_laps %>%
                filter(raceId %in% bahrain_race_ID) 

lh_bahrain_clean <- lh_bahrain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter(n != 49)

lh_bahrain_clean_ID <- lh_bahrain_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_bahrain_races <- ham_laps %>%
                    filter(raceId %in% lh_bahrain_clean_ID)

lh_bahrain_split <- initial_split(lh_bahrain_races, prop = 0.75, strata = milliseconds)

lh_bahrain_train <- training(lh_bahrain_split)

lh_bahrain_test <- testing(lh_bahrain_split) 


### USING DATA

lh_bahrain_lap_times <- lh_bahrain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_bahrain_avg_race_time <- lh_bahrain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [16]:
#2.  Saudi Arabia

lh_saudi <- ham_laps %>%
                filter(raceId %in% saudi_race_ID) 

lh_saudi_clean <- lh_saudi %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
lh_saudi_clean
lh_saudi_clean_ID <- lh_saudi_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_saudi_races <- ham_laps %>%
                    filter(raceId %in% lh_saudi_clean_ID)

lh_saudi_split <- initial_split(lh_saudi_races, prop = 0.75, strata = milliseconds)

lh_saudi_train <- training(lh_saudi_split)

lh_saudi_test <- testing(lh_saudi_split) 


### USING DATA

lh_saudi_lap_times <- lh_saudi_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_saudi_avg_race_time <- lh_saudi_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1 1072   50

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

In [17]:
#3.  Australia

lh_aus <- ham_laps %>%
                filter(raceId %in% aus_race_ID) 

lh_aus_clean <- lh_aus %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter(n != 2)
lh_aus_clean
lh_aus_clean_ID <- lh_aus_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_aus_races <- ham_laps %>%
                    filter(raceId %in% lh_aus_clean_ID)

lh_aus_split <- initial_split(lh_aus_races, prop = 0.75, strata = milliseconds)

lh_aus_train <- training(lh_aus_split)

lh_aus_test <- testing(lh_aus_split) 


### USING DATA

lh_aus_lap_times <- lh_aus_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_aus_avg_race_time <- lh_aus_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

   raceId n
1     1   58
2    18   58
3    36   58
4   338   58
5   841   58
6   860   58
7   880   58
8   926   58
9   989   58
10 1010   58
11  948   57
12  969   57

In [18]:
#4.  Italy, Imola

lh_imola <- ham_laps %>%
                filter(raceId %in% imola_race_ID) 

lh_imola_clean <- lh_imola %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
lh_imola_clean
lh_imola_clean_ID <- lh_imola_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_imola_races <- ham_laps %>%
                    filter(raceId %in% lh_imola_clean_ID)

lh_imola_split <- initial_split(lh_imola_races, prop = 0.75, strata = milliseconds)

lh_imola_train <- training(lh_imola_split)

lh_imola_test <- testing(lh_imola_split) 


### USING DATA

lh_imola_lap_times <- lh_imola_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_imola_avg_race_time <- lh_imola_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1 1043   63
2 1053   63

In [19]:
#6.  Spain

lh_spain <- ham_laps %>%
                filter(raceId %in% spain_race_ID) 

lh_spain_clean <- lh_spain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
lh_spain_clean
lh_spain_clean_ID <- lh_spain_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_spain_races <- ham_laps %>%
                    filter(raceId %in% lh_spain_clean_ID)

lh_spain_split <- initial_split(lh_spain_races, prop = 0.75, strata = milliseconds)

lh_spain_train <- training(lh_spain_split)

lh_spain_test <- testing(lh_spain_split) 


### USING DATA

lh_spain_lap_times <- lh_spain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_spain_avg_race_time <- lh_spain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

   raceId n
1    21   66
2   845   66
3   864   66
4   904   66
5   930   66
6   973   66
7   993   66
8  1014   66
9  1036   66
10 1055   66
11    5   65
12   39   65
13  884   65
14  341   64

In [20]:
#7.   Monaco

lh_monaco <- ham_laps %>%
                filter(raceId %in% monaco_race_ID) 

lh_monaco_clean <- lh_monaco %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
lh_monaco_clean
lh_monaco_clean_ID <- lh_monaco_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_monaco_races <- ham_laps %>%
                    filter(raceId %in% lh_monaco_clean_ID)

lh_monaco_split <- initial_split(lh_monaco_races, prop = 0.75, strata = milliseconds)

lh_monaco_train <- training(lh_monaco_split)

lh_monaco_test <- testing(lh_monaco_split) 


### USING DATA

lh_monaco_lap_times <- lh_monaco_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_monaco_avg_race_time <- lh_monaco_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

   raceId n
1    40   78
2   342   78
3   846   78
4   865   78
5   885   78
6   905   78
7   931   78
8   953   78
9   974   78
10  994   78
11 1015   78
12 1056   78
13    6   77
14   23   76

In [21]:
#8.  Azerbaijan

lh_azerbaijan <- ham_laps %>%
                filter(raceId %in% azerbaijan_race_ID) 

lh_azerbaijan_clean <- lh_azerbaijan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
lh_azerbaijan_clean
lh_azerbaijan_clean_ID <- lh_azerbaijan_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_azerbaijan_races <- ham_laps %>%
                    filter(raceId %in% lh_azerbaijan_clean_ID)

lh_azerbaijan_split <- initial_split(lh_azerbaijan_races, prop = 0.75, strata = milliseconds)

lh_azerbaijan_train <- training(lh_azerbaijan_split)

lh_azerbaijan_test <- testing(lh_azerbaijan_split) 


### USING DATA

lh_azerbaijan_lap_times <- lh_azerbaijan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_azerbaijan_avg_race_time <- lh_azerbaijan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1  955   51
2  976   51
3  992   51
4 1013   51
5 1057   51

In [22]:
#9.  Canada

lh_canada <- ham_laps %>%
                filter(raceId %in% canada_race_ID) 

lh_canada_clean <- lh_canada %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter (n == 68 | n == 70)
lh_canada_clean
lh_canada_clean_ID <- lh_canada_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_canada_races <- ham_laps %>%
                    filter(raceId %in% lh_canada_clean_ID)

lh_canada_split <- initial_split(lh_canada_races, prop = 0.75, strata = milliseconds)

lh_canada_train <- training(lh_canada_split)

lh_canada_test <- testing(lh_canada_split) 


### USING DATA

lh_canada_lap_times <- lh_canada_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_canada_avg_race_time <- lh_canada_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1   41   70
2  344   70
3  866   70
4  886   70
5  932   70
6  954   70
7  975   70
8 1016   70
9  995   68

In [23]:
#10.  Great Britain

lh_uk <- ham_laps %>%
                filter(raceId %in% uk_race_ID) 

lh_uk_clean <- lh_uk %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter (n == 52 | n == 51)

lh_uk_clean_ID <- lh_uk_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_uk_races <- ham_laps %>%
                    filter(raceId %in% lh_uk_clean_ID)

lh_uk_split <- initial_split(lh_uk_races, prop = 0.75, strata = milliseconds)

lh_uk_train <- training(lh_uk_split)

lh_uk_test <- testing(lh_uk_split) 


### USING DATA

lh_uk_lap_times <- lh_uk_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_uk_avg_race_time <- lh_uk_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [24]:
#11.  Austria

lh_austria <- ham_laps %>%
                filter(raceId %in% austria_race_ID) 

lh_austria_clean <- lh_austria %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter(n != 62)

lh_austria_clean_ID <- lh_austria_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_austria_races <- ham_laps %>%
                    filter(raceId %in% lh_austria_clean_ID)

lh_austria_split <- initial_split(lh_austria_races, prop = 0.75, strata = milliseconds)

lh_austria_train <- training(lh_austria_split)

lh_austria_test <- testing(lh_austria_split) 


### USING DATA

lh_austria_lap_times <- lh_austria_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_austria_avg_race_time <- lh_austria_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [25]:
#12.  France

lh_france <- ham_laps %>%
                filter(raceId %in% france_race_ID) 

lh_france_clean <- lh_france %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
lh_france_clean
lh_france_clean_ID <- lh_france_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_france_races <- ham_laps %>%
                    filter(raceId %in% lh_france_clean_ID)

lh_france_split <- initial_split(lh_france_races, prop = 0.75, strata = milliseconds)

lh_france_train <- training(lh_france_split)

lh_france_test <- testing(lh_france_split) 


### USING DATA

lh_france_lap_times <- lh_france_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_france_avg_race_time <- lh_france_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1  996   53
2 1017   53
3 1059   53

In [26]:
#13.  Hungary

lh_hungary <- ham_laps %>%
                filter(raceId %in% hungary_race_ID) 

lh_hungary_clean <- lh_hungary %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
                        filter(n != 23)

lh_hungary_clean_ID <- lh_hungary_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_hungary_races <- ham_laps %>%
                    filter(raceId %in% lh_hungary_clean_ID)

lh_hungary_split <- initial_split(lh_hungary_races, prop = 0.75, strata = milliseconds)

lh_hungary_train <- training(lh_hungary_split)

lh_hungary_test <- testing(lh_hungary_split) 


### USING DATA

lh_hungary_lap_times <- lh_hungary_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_hungary_avg_race_time <- lh_hungary_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

ERROR: Error in n != 23: comparison (2) is possible only for atomic and list types

In [27]:
#14.  Belgium

lh_belgium <- ham_laps %>%
                filter(raceId %in% belgium_race_ID) 

lh_belgium_clean <- lh_belgium %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter(n == 44 | n== 43)
lh_belgium_clean
lh_belgium_clean_ID <- lh_belgium_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_belgium_races <- ham_laps %>%
                    filter(raceId %in% lh_belgium_clean_ID)

lh_belgium_split <- initial_split(lh_belgium_races, prop = 0.75, strata = milliseconds)

lh_belgium_train <- training(lh_belgium_split)

lh_belgium_test <- testing(lh_belgium_split) 


### USING DATA

lh_belgium_lap_times <- lh_belgium_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_belgium_avg_race_time <- lh_belgium_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

   raceId n
1    30   44
2    49   44
3   349   44
4   891   44
5   960   44
6   980   44
7  1001   44
8  1022   44
9  1037   44
10  937   43

In [28]:
#15.  Netherlands

lh_netherlands <- ham_laps %>%
                filter(raceId %in% netherlands_race_ID) 

lh_netherlands_clean <- lh_netherlands %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
lh_netherlands_clean
lh_netherlands_clean_ID <- lh_netherlands_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_netherlands_races <- ham_laps %>%
                    filter(raceId %in% lh_netherlands_clean_ID)

lh_netherlands_split <- initial_split(lh_netherlands_races, prop = 0.75, strata = milliseconds)

lh_netherlands_train <- training(lh_netherlands_split)

lh_netherlands_test <- testing(lh_netherlands_split) 


### USING DATA

lh_netherlands_lap_times <- lh_netherlands_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_netherlands_avg_race_time <- lh_netherlands_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1 1064   72

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 3 breaks instead.”

In [29]:
#16.  Italy, Monza

lh_monza <- ham_laps %>%
                filter(raceId %in% monza_race_ID) 

lh_monza_clean <- lh_monza %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter(n != 25)
lh_monza_clean
lh_monza_clean_ID <- lh_monza_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_monza_races <- ham_laps %>%
                    filter(raceId %in% lh_monza_clean_ID)

lh_monza_split <- initial_split(lh_monza_races, prop = 0.75, strata = milliseconds)

lh_monza_train <- training(lh_monza_split)

lh_monza_test <- testing(lh_monza_split) 


### USING DATA

lh_monza_lap_times <- lh_monza_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_monza_avg_race_time <- lh_monza_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

   raceId n
1    31   53
2    48   53
3   853   53
4   872   53
5   892   53
6   912   53
7   938   53
8   961   53
9   981   53
10 1002   53
11 1023   53
12 1038   53
13   13   52

In [30]:

#17.  Singapore

lh_singapore <- ham_laps %>%
                filter(raceId %in% singapore_race_ID) 

lh_singapore_clean <- lh_singapore %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter(n == 61| n == 60| n == 58)

lh_singapore_clean_ID <- lh_singapore_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_singapore_races <- ham_laps %>%
                    filter(raceId %in% lh_singapore_clean_ID)

lh_singapore_split <- initial_split(lh_singapore_races, prop = 0.75, strata = milliseconds)

lh_singapore_train <- training(lh_singapore_split)

lh_singapore_test <- testing(lh_singapore_split) 


### USING DATA

lh_singapore_lap_times <- lh_singapore_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_singapore_avg_race_time <- lh_singapore_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [31]:
#18.  Japan

lh_japan <- ham_laps %>%
                filter(raceId %in% japan_race_ID) 

lh_japan_clean <- lh_japan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter(n == 53| n == 52)

lh_japan_clean_ID <- lh_japan_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_japan_races <- ham_laps %>%
                    filter(raceId %in% lh_japan_clean_ID)

lh_japan_split <- initial_split(lh_japan_races, prop = 0.75, strata = milliseconds)

lh_japan_train <- training(lh_japan_split)

lh_japan_test <- testing(lh_japan_split) 


### USING DATA

lh_japan_lap_times <- lh_japan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_japan_avg_race_time <- lh_japan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [32]:
#19.  USA, Austin

lh_austin <- ham_laps %>%
                filter(raceId %in% austin_race_ID) 

lh_austin_clean <- lh_austin %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

lh_austin_clean_ID <- lh_austin_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_austin_races <- ham_laps %>%
                    filter(raceId %in% lh_austin_clean_ID)

lh_austin_split <- initial_split(lh_austin_races, prop = 0.75, strata = milliseconds)

lh_austin_train <- training(lh_austin_split)

lh_austin_test <- testing(lh_austin_split) 


### USING DATA

lh_austin_lap_times <- lh_austin_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_austin_avg_race_time <- lh_austin_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [33]:
#20.  Mexico

lh_mexico <- ham_laps %>%
                filter(raceId %in% mexico_race_ID) 

lh_mexico_clean <- lh_mexico %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

lh_mexico_clean_ID <- lh_mexico_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_mexico_races <- ham_laps %>%
                    filter(raceId %in% lh_mexico_clean_ID)

lh_mexico_split <- initial_split(lh_mexico_races, prop = 0.75, strata = milliseconds)

lh_mexico_train <- training(lh_mexico_split)

lh_mexico_test <- testing(lh_mexico_split) 


### USING DATA

lh_mexico_lap_times <- lh_mexico_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_mexico_avg_race_time <- lh_mexico_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [34]:
#21. Brazil

lh_brazil <- ham_laps %>%
                filter(raceId %in% brazil_race_ID) 

lh_brazil_clean <- lh_brazil %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter(n == 71| n == 70)

lh_brazil_clean_ID <- lh_brazil_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_brazil_races <- ham_laps %>%
                    filter(raceId %in% lh_brazil_clean_ID)

lh_brazil_split <- initial_split(lh_brazil_races, prop = 0.75, strata = milliseconds)

lh_brazil_train <- training(lh_brazil_split)

lh_brazil_test <- testing(lh_brazil_split) 


### USING DATA

lh_brazil_lap_times <- lh_brazil_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_brazil_avg_race_time <- lh_brazil_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

In [35]:
#22.  Abu Dhabi

lh_uae <- ham_laps %>%
                filter(raceId %in% uae_race_ID) 

lh_uae_clean <- lh_uae %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter(n == 55)
lh_uae_clean
lh_uae_clean_ID <- lh_uae_clean %>%
                        pull(raceId)


### SPLITTING DATA

lh_uae_races <- ham_laps %>%
                    filter(raceId %in% lh_uae_clean_ID)

lh_uae_split <- initial_split(lh_uae_races, prop = 0.75, strata = milliseconds)

lh_uae_train <- training(lh_uae_split)

lh_uae_test <- testing(lh_uae_split) 


### USING DATA

lh_uae_lap_times <- lh_uae_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

lh_uae_avg_race_time <- lh_uae_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

   raceId n
1   355   55
2   858   55
3   897   55
4   918   55
5   945   55
6   968   55
7   988   55
8  1009   55
9  1030   55
10 1047   55