# Lando Norris
<img src="https://www.formula1.com/content/fom-website/en/drivers/lando-norris/_jcr_content/image.img.1920.medium.jpg/1646819013197.jpg" width="300">

### Team: McLaren

<img src ="https://www.formula1.com/content/fom-website/en/drivers/lando-norris/_jcr_content/helmet.img.png/1646824749193.png" width="200">

In [1]:
library (tidyverse)
library (tidymodels)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

Warning message:
“package ‘tidyr’ was built under R version 4.1.2”
Warning message:
“package ‘readr’ was built under R version 4.1.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Registered S3 method overwritten by 'tune':
  method                   from
  required_pkgs.model_spec parsnip

── Attaching packages ────────────────────────────────────── tidymodels 0.1.3 ──

✔ broom        0.7.12     ✔ rsample      0.1.1
✔ dials        0.1.0      ✔ tune         0.1.6
✔ infer        1.0.0      ✔ workflows    0.2.4
✔ modeldata    0.1.1      ✔ workflowsets 0.1.0
✔ parsnip      0.1.7      ✔ yardstick    0.0.9
✔ recipes      0.1.17

Warning message:
“package ‘broom’ was built under R version 4.1.2”
Warning message:
“package ‘dials’ was built under R version 4.1.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [2]:
# Reading dataset files

circuits <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/circuits.csv")

constructor_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_standings.csv") 

constructor_results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_results.csv") 
    
constructors <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructors.csv")

drivers <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/drivers.csv")

driver_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv")

lap_times <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv") 

pit_stops <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/pit_stops.csv")
           
qualifying <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/qualifying.csv") 

results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv") 

races <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/races.csv") 

status <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/status.csv")

Rows: 79 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (6): circuitRef, name, location, country, alt, url
dbl (3): circuitId, lat, lng


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 12716 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): positionText
dbl (6): constructorStandingsId, raceId, constructorId, points, position, wins


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 11950 Columns: 5

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): status
dbl (4): constructorResultsId, raceId, constructorId, points


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 211 Columns: 5

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): constructorRef, name, nationality, url
dbl (1): constructorId


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 854 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): driverRef, number, code, forename, surname, nationality, url
dbl  (1): driverId
date (1): dob


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 33394 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): positionText
dbl (6): driverStandingsId, raceId, driverId, points, position, wins


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 514592 Columns: 6

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl  (5): raceId, driverId, lap, position, milliseconds
time (1): time


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 8828 Columns: 7

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): duration
dbl  (5): raceId, driverId, stop, lap, milliseconds
time (1): time


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 9135 Columns: 9

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): q1, q2, q3
dbl (6): qualifyId, raceId, driverId, constructorId, number, position


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Warning message:
“One or more parsing issues, see `problems()` for details”
Rows: 25399 Columns: 18

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (8): position, positionText, time, milliseconds, fastestLap, rank, fast...
dbl (10): resultId, raceId, driverId, constructorId, number, grid, positionO...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 1080 Columns: 8

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): name, time, url
dbl  (4): raceId, year, round, circuitId
date (1): date


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 137 Columns: 2

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): status
dbl (1): statusId


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [4]:
# Filtering 2022 Constructors

team_names <- c("Alfa Romeo", "AlphaTauri", "Alpine F1 Team", "Aston Martin", "Ferrari", 
                "Haas F1 Team", "McLaren", "Mercedes", "Red Bull", "Williams")

teams_2022 <- constructors %>%
                 filter(name %in% team_names)

# Extracting 2022 Constructor ID's

constructor_ids <- teams_2022 %>%
              pull(constructorId)

In [5]:
# Filtering 2022 GP circuits 

# Vector of 2022 GP locations

locations_2022 <- c("Sakhir", "Jeddah", "Melbourne", "Imola", "Miami", "Montmeló", "Monte-Carlo", "Baku", "Montreal", "Silverstone", "Spielberg", 
                    "Le Castellet", "Budapest", "Spa", "Zandvoort", "Monza", "Sochi", "Marina Bay", "Suzuka", "Austin", "Mexico City", "São Paulo", "Abu Dhabi")

# Filtering circuit data set by locations vector 

circuits_2022 <- circuits %>% 
           filter(location %in% locations_2022) %>%
           filter(name != "A1-Ring") %>%
           select(circuitId:alt)


# Extracting 2022 circuit ID's 


circuit_ids <- circuits_2022 %>%
              pull(circuitId)

# Extracting 2022 circuit name and ID's


circuits_IDS <- circuits_2022 %>%
                select(circuitId, name, country, location) %>% 
                arrange(country)

In [6]:
# Filtering 2022 Drivers

driver_surnames <- c("Hamilton", "Russell", "Albon", "nor_lapsu", "Bottas", "Gasly", "Tsunoda", "Alonso", "Ocon", "Vettel", "Stroll", 
                     "Leclerc", "Sainz", "Magnussen", "Schumacher", "Ricciardo", "Norris", "Verstappen", "Pérez", "Latifi")
 
drivers_2022 <- drivers %>%
                filter(surname %in% driver_surnames) %>%
                filter(!(forename %in% c("Ralf", "Michael", "Jos", "Duncan", "Jan")))

# Extracting Driver IDS

driver_ids <- drivers_2022 %>%
              pull(driverId)

# Extracting Driver Codes

driver_codes <- drivers_2022 %>%
              pull(code)

# Combining IDS and Codes

driver_id_code <- data.frame(driver_ids, driver_codes)

In [7]:
#### Filtering Race Data for 2022 Races

past_2022_races <- races %>%
                    filter(circuitId %in% circuit_ids) %>%
                    filter(year != "2022")

##### Extracting Race ID's

race_ids <- past_2022_races %>%
            pull(raceId)


##### Filtering Race Data For All 23 Circuits

#############################################

bahrain <- past_2022_races %>% 
            filter(circuitId == 3) %>%
            arrange(desc(year))

bahrain_race_ID <- bahrain %>%
                pull(raceId)

#############################################

sa <- past_2022_races %>% 
            filter(circuitId == 77) %>%
            arrange(desc(year))

saudi_race_ID <- sa %>%
                pull(raceId)

#############################################

aus <- past_2022_races %>% 
            filter(circuitId == 1) %>%
            arrange(desc(year))

aus_race_ID <- aus %>%
                pull(raceId)

#############################################

imola <- past_2022_races %>% 
            filter(circuitId == 21) %>%
            arrange(desc(year))

imola_race_ID <- imola %>%
                pull(raceId)

#############################################

miami <- past_2022_races %>% 
            filter(circuitId == 79) %>%
            arrange(desc(year))

miami_race_ID <- miami %>%
                pull(raceId)

#############################################

spain <- past_2022_races %>% 
            filter(circuitId == 4) %>%
            arrange(desc(year))

spain_race_ID <- spain %>%
                pull(raceId)

#############################################

monaco <- past_2022_races %>% 
            filter(circuitId == 6) %>%
            arrange(desc(year))

monaco_race_ID <- monaco %>%
                pull(raceId)

#############################################

azerbaijan <- past_2022_races %>% 
            filter(circuitId == 73) %>%
            arrange(desc(year))

azerbaijan_race_ID <- azerbaijan %>%
                pull(raceId)

#############################################

canada <- past_2022_races %>% 
            filter(circuitId == 7) %>%
            arrange(desc(year))

canada_race_ID <- canada %>%
                pull(raceId)

#############################################

uk <- past_2022_races %>% 
            filter(circuitId == 9) %>%
            arrange(desc(year))


uk_race_ID <- uk %>%
                pull(raceId)

#############################################

austria <- past_2022_races %>% 
            filter(circuitId == 70) %>%
            arrange(desc(year))


austria_race_ID <- austria %>%
                pull(raceId)

#############################################

france <- past_2022_races %>% 
            filter(circuitId == 34) %>%
            arrange(desc(year))


france_race_ID <- france %>%
                pull(raceId)

#############################################

hungary <- past_2022_races %>% 
            filter(circuitId == 11) %>%
            arrange(desc(year))


hungary_race_ID <- hungary %>%
                pull(raceId)

#############################################

belgium <- past_2022_races %>% 
            filter(circuitId == 13) %>%
            arrange(desc(year))


belgium_race_ID <- belgium %>%
                pull(raceId)

#############################################

netherlands <- past_2022_races %>% 
            filter(circuitId == 39) %>%
            arrange(desc(year))


netherlands_race_ID <- netherlands %>%
                pull(raceId)

#############################################

monza <- past_2022_races %>% 
            filter(circuitId == 14) %>%
            arrange(desc(year))

monza_race_ID <- monza %>%
                pull(raceId)

#############################################

singapore <- past_2022_races %>% 
            filter(circuitId == 15) %>%
            arrange(desc(year))

singapore_race_ID <- singapore %>%
                pull(raceId)

#############################################

japan <- past_2022_races %>% 
            filter(circuitId == 22) %>%
            arrange(desc(year))

japan_race_ID <- japan %>%
                pull(raceId)

#############################################

austin <- past_2022_races %>% 
            filter(circuitId == 69) %>%
            arrange(desc(year))

austin_race_ID <- austin %>%
                pull(raceId)

#############################################

mexico <- past_2022_races %>% 
            filter(circuitId == 32) %>%
            arrange(desc(year))

mexico_race_ID <- mexico %>%
                pull(raceId)

#############################################

brazil <- past_2022_races %>% 
            filter(circuitId == 18) %>%
            arrange(desc(year))

brazil_race_ID <- brazil %>%
                pull(raceId)

#############################################

uae <- past_2022_races %>% 
            filter(circuitId == 24) %>%
            arrange(desc(year))

uae_race_ID <- uae %>%
                pull(raceId)

In [9]:
# Filtering Lap Data For 2022 Drivers

lap_data <- lap_times %>%
            filter(driverId %in% driver_ids) %>%
            filter(raceId %in% race_ids)

# Filtering Lap Data For Individual Driver

nor_laps <- lap_data %>%
            filter(driverId == 846)

In [10]:
#### Lando Norris


#####################################################  BAHRAIN 

ln_bahrain <- nor_laps %>%
                filter(raceId %in% bahrain_race_ID) 

ln_bahrain_clean <- ln_bahrain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
ln_bahrain_clean
ln_bahrain_clean_ID <- ln_bahrain_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_bahrain_races <- nor_laps %>%
                    filter(raceId %in% ln_bahrain_clean_ID)

ln_bahrain_split <- initial_split(ln_bahrain_races, prop = 0.75, strata = milliseconds)

ln_bahrain_train <- training(ln_bahrain_split)

ln_bahrain_test <- testing(ln_bahrain_split) 


### USING DATA

ln_bahrain_lap_times <- ln_bahrain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_bahrain_avg_race_time <- ln_bahrain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Saudi Arabia

ln_saudi <- nor_laps %>%
                filter(raceId %in% saudi_race_ID) 

ln_saudi_clean <- ln_saudi %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ln_saudi_clean
ln_saudi_clean_ID <- ln_saudi_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_saudi_races <- nor_laps %>%
                    filter(raceId %in% ln_saudi_clean_ID)

ln_saudi_split <- initial_split(ln_saudi_races, prop = 0.75, strata = milliseconds)

ln_saudi_train <- training(ln_saudi_split)

ln_saudi_test <- testing(ln_saudi_split) 


### USING DATA

ln_saudi_lap_times <- ln_saudi_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_saudi_avg_race_time <- ln_saudi_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Australia

ln_aus <- nor_laps %>%
                filter(raceId %in% aus_race_ID) 

ln_aus_clean <- ln_aus %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ln_aus_clean
ln_aus_clean_ID <- ln_aus_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_aus_races <- nor_laps %>%
                    filter(raceId %in% ln_aus_clean_ID)

ln_aus_split <- initial_split(ln_aus_races, prop = 0.75, strata = milliseconds)

ln_aus_train <- training(ln_aus_split)

ln_aus_test <- testing(ln_aus_split) 


### USING DATA

ln_aus_lap_times <- ln_aus_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_aus_avg_race_time <- ln_aus_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Italy, Imola

ln_imola <- nor_laps %>%
                filter(raceId %in% imola_race_ID) 

ln_imola_clean <- ln_imola %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ln_imola_clean
ln_imola_clean_ID <- ln_imola_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_imola_races <- nor_laps %>%
                    filter(raceId %in% ln_imola_clean_ID)

ln_imola_split <- initial_split(ln_imola_races, prop = 0.75, strata = milliseconds)

ln_imola_train <- training(ln_imola_split)

ln_imola_test <- testing(ln_imola_split) 


### USING DATA

ln_imola_lap_times <- ln_imola_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_imola_avg_race_time <- ln_imola_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Spain

ln_spain <- nor_laps %>%
                filter(raceId %in% spain_race_ID) 

ln_spain_clean <- ln_spain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ln_spain_clean
ln_spain_clean_ID <- ln_spain_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_spain_races <- nor_laps %>%
                    filter(raceId %in% ln_spain_clean_ID)

ln_spain_split <- initial_split(ln_spain_races, prop = 0.75, strata = milliseconds)

ln_spain_train <- training(ln_spain_split)

ln_spain_test <- testing(ln_spain_split) 


### USING DATA

ln_spain_lap_times <- ln_spain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_spain_avg_race_time <- ln_spain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################   Monaco

ln_monaco <- nor_laps %>%
                filter(raceId %in% monaco_race_ID) 

ln_monaco_clean <- ln_monaco %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ln_monaco_clean
ln_monaco_clean_ID <- ln_monaco_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_monaco_races <- nor_laps %>%
                    filter(raceId %in% ln_monaco_clean_ID)

ln_monaco_split <- initial_split(ln_monaco_races, prop = 0.75, strata = milliseconds)

ln_monaco_train <- training(ln_monaco_split)

ln_monaco_test <- testing(ln_monaco_split) 


### USING DATA

ln_monaco_lap_times <- ln_monaco_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_monaco_avg_race_time <- ln_monaco_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Azerbaijan

ln_azerbaijan <- nor_laps %>%
                filter(raceId %in% azerbaijan_race_ID) 

ln_azerbaijan_clean <- ln_azerbaijan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ln_azerbaijan_clean
ln_azerbaijan_clean_ID <- ln_azerbaijan_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_azerbaijan_races <- nor_laps %>%
                    filter(raceId %in% ln_azerbaijan_clean_ID)

ln_azerbaijan_split <- initial_split(ln_azerbaijan_races, prop = 0.75, strata = milliseconds)

ln_azerbaijan_train <- training(ln_azerbaijan_split)

ln_azerbaijan_test <- testing(ln_azerbaijan_split) 


### USING DATA

ln_azerbaijan_lap_times <- ln_azerbaijan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_azerbaijan_avg_race_time <- ln_azerbaijan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Canada

ln_canada <- nor_laps %>%
                filter(raceId %in% canada_race_ID) 

ln_canada_clean <- ln_canada %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ln_canada_clean
ln_canada_clean_ID <- ln_canada_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_canada_races <- nor_laps %>%
                    filter(raceId %in% ln_canada_clean_ID)

ln_canada_split <- initial_split(ln_canada_races, prop = 0.75, strata = milliseconds)

ln_canada_train <- training(ln_canada_split)

ln_canada_test <- testing(ln_canada_split) 


### USING DATA

ln_canada_lap_times <- ln_canada_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_canada_avg_race_time <- ln_canada_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Great Britain

ln_uk <- nor_laps %>%
                filter(raceId %in% uk_race_ID) 

ln_uk_clean <- ln_uk %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

ln_uk_clean_ID <- ln_uk_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_uk_races <- nor_laps %>%
                    filter(raceId %in% ln_uk_clean_ID)

ln_uk_split <- initial_split(ln_uk_races, prop = 0.75, strata = milliseconds)

ln_uk_train <- training(ln_uk_split)

ln_uk_test <- testing(ln_uk_split) 


### USING DATA

ln_uk_lap_times <- ln_uk_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_uk_avg_race_time <- ln_uk_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Austria

ln_austria <- nor_laps %>%
                filter(raceId %in% austria_race_ID) 

ln_austria_clean <- ln_austria %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

ln_austria_clean_ID <- ln_austria_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_austria_races <- nor_laps %>%
                    filter(raceId %in% ln_austria_clean_ID)

ln_austria_split <- initial_split(ln_austria_races, prop = 0.75, strata = milliseconds)

ln_austria_train <- training(ln_austria_split)

ln_austria_test <- testing(ln_austria_split) 


### USING DATA

ln_austria_lap_times <- ln_austria_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_austria_avg_race_time <- ln_austria_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  France

ln_france <- nor_laps %>%
                filter(raceId %in% france_race_ID) 

ln_france_clean <- ln_france %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ln_france_clean
ln_france_clean_ID <- ln_france_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_france_races <- nor_laps %>%
                    filter(raceId %in% ln_france_clean_ID)

ln_france_split <- initial_split(ln_france_races, prop = 0.75, strata = milliseconds)

ln_france_train <- training(ln_france_split)

ln_france_test <- testing(ln_france_split) 


### USING DATA

ln_france_lap_times <- ln_france_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_france_avg_race_time <- ln_france_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Hungary

ln_hungary <- nor_laps %>%
                filter(raceId %in% hungary_race_ID) 

ln_hungary_clean <- ln_hungary %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
                     

ln_hungary_clean_ID <- ln_hungary_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_hungary_races <- nor_laps %>%
                    filter(raceId %in% ln_hungary_clean_ID)

ln_hungary_split <- initial_split(ln_hungary_races, prop = 0.75, strata = milliseconds)

ln_hungary_train <- training(ln_hungary_split)

ln_hungary_test <- testing(ln_hungary_split) 


### USING DATA

ln_hungary_lap_times <- ln_hungary_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_hungary_avg_race_time <- ln_hungary_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Belgium

ln_belgium <- nor_laps %>%
                filter(raceId %in% belgium_race_ID) 

ln_belgium_clean <- ln_belgium %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ln_belgium_clean
ln_belgium_clean_ID <- ln_belgium_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_belgium_races <- nor_laps %>%
                    filter(raceId %in% ln_belgium_clean_ID)

ln_belgium_split <- initial_split(ln_belgium_races, prop = 0.75, strata = milliseconds)

ln_belgium_train <- training(ln_belgium_split)

ln_belgium_test <- testing(ln_belgium_split) 


### USING DATA

ln_belgium_lap_times <- ln_belgium_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_belgium_avg_race_time <- ln_belgium_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Netherlands

ln_netherlands <- nor_laps %>%
                filter(raceId %in% netherlands_race_ID) 

ln_netherlands_clean <- ln_netherlands %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ln_netherlands_clean
ln_netherlands_clean_ID <- ln_netherlands_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_netherlands_races <- nor_laps %>%
                    filter(raceId %in% ln_netherlands_clean_ID)

ln_netherlands_split <- initial_split(ln_netherlands_races, prop = 0.75, strata = milliseconds)

ln_netherlands_train <- training(ln_netherlands_split)

ln_netherlands_test <- testing(ln_netherlands_split) 


### USING DATA

ln_netherlands_lap_times <- ln_netherlands_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_netherlands_avg_race_time <- ln_netherlands_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Italy, Monza

ln_monza <- nor_laps %>%
                filter(raceId %in% monza_race_ID) 

ln_monza_clean <- ln_monza %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
ln_monza_clean
ln_monza_clean_ID <- ln_monza_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_monza_races <- nor_laps %>%
                    filter(raceId %in% ln_monza_clean_ID)

ln_monza_split <- initial_split(ln_monza_races, prop = 0.75, strata = milliseconds)

ln_monza_train <- training(ln_monza_split)

ln_monza_test <- testing(ln_monza_split) 


### USING DATA

ln_monza_lap_times <- ln_monza_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_monza_avg_race_time <- ln_monza_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Singapore

ln_singapore <- nor_laps %>%
                filter(raceId %in% singapore_race_ID) 

ln_singapore_clean <- ln_singapore %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

ln_singapore_clean_ID <- ln_singapore_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_singapore_races <- nor_laps %>%
                    filter(raceId %in% ln_singapore_clean_ID)

ln_singapore_split <- initial_split(ln_singapore_races, prop = 0.75, strata = milliseconds)

ln_singapore_train <- training(ln_singapore_split)

ln_singapore_test <- testing(ln_singapore_split) 


### USING DATA

ln_singapore_lap_times <- ln_singapore_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_singapore_avg_race_time <- ln_singapore_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Japan

ln_japan <- nor_laps %>%
                filter(raceId %in% japan_race_ID) 

ln_japan_clean <- ln_japan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ln_japan_clean_ID <- ln_japan_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_japan_races <- nor_laps %>%
                    filter(raceId %in% ln_japan_clean_ID)

ln_japan_split <- initial_split(ln_japan_races, prop = 0.75, strata = milliseconds)

ln_japan_train <- training(ln_japan_split)

ln_japan_test <- testing(ln_japan_split) 


### USING DATA

ln_japan_lap_times <- ln_japan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_japan_avg_race_time <- ln_japan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  USA, Austin

ln_austin <- nor_laps %>%
                filter(raceId %in% austin_race_ID) 

ln_austin_clean <- ln_austin %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

ln_austin_clean_ID <- ln_austin_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_austin_races <- nor_laps %>%
                    filter(raceId %in% ln_austin_clean_ID)

ln_austin_split <- initial_split(ln_austin_races, prop = 0.75, strata = milliseconds)

ln_austin_train <- training(ln_austin_split)

ln_austin_test <- testing(ln_austin_split) 


### USING DATA

ln_austin_lap_times <- ln_austin_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_austin_avg_race_time <- ln_austin_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Mexico

ln_mexico <- nor_laps %>%
                filter(raceId %in% mexico_race_ID) 

ln_mexico_clean <- ln_mexico %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

ln_mexico_clean_ID <- ln_mexico_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_mexico_races <- nor_laps %>%
                    filter(raceId %in% ln_mexico_clean_ID)

ln_mexico_split <- initial_split(ln_mexico_races, prop = 0.75, strata = milliseconds)

ln_mexico_train <- training(ln_mexico_split)

ln_mexico_test <- testing(ln_mexico_split) 


### USING DATA

ln_mexico_lap_times <- ln_mexico_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_mexico_avg_race_time <- ln_mexico_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Brazil

ln_brazil <- nor_laps %>%
                filter(raceId %in% brazil_race_ID) 

ln_brazil_clean <- ln_brazil %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 

ln_brazil_clean_ID <- ln_brazil_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_brazil_races <- nor_laps %>%
                    filter(raceId %in% ln_brazil_clean_ID)

ln_brazil_split <- initial_split(ln_brazil_races, prop = 0.75, strata = milliseconds)

ln_brazil_train <- training(ln_brazil_split)

ln_brazil_test <- testing(ln_brazil_split) 


### USING DATA

ln_brazil_lap_times <- ln_brazil_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_brazil_avg_race_time <- ln_brazil_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) 

######################################################  Abu Dhabi

ln_uae <- nor_laps %>%
                filter(raceId %in% uae_race_ID) 

ln_uae_clean <- ln_uae %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ln_uae_clean
ln_uae_clean_ID <- ln_uae_clean %>%
                        pull(raceId)


### SPLITTING DATA

ln_uae_races <- nor_laps %>%
                    filter(raceId %in% ln_uae_clean_ID)

ln_uae_split <- initial_split(ln_uae_races, prop = 0.75, strata = milliseconds)

ln_uae_train <- training(ln_uae_split)

ln_uae_test <- testing(ln_uae_split) 


### USING DATA

ln_uae_lap_times <- ln_uae_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ln_uae_avg_race_time <- ln_uae_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

  raceId n
1 1046   87
2 1011   57
3 1045   57
4 1052   56

  raceId n
1 1072   50

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

  raceId n
1 1010   57

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

  raceId n
1 1043   63
2 1053   63

  raceId n
1 1036   65
2 1055   65
3 1014   44

  raceId n
1 1015   78
2 1056   78

  raceId n
1 1013   51
2 1057   51

  raceId n
1 1016   8

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 0 breaks instead.”
Warning message:
“Too little data to stratify.
* Resampling will be unstratified.”

  raceId n
1 1059   53
2 1017   52

  raceId n
1 1037   44
2 1022   43
3 1063    1

  raceId n
1 1064   71

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 3 breaks instead.”

  raceId n
1 1038   53
2 1065   53
3 1023   52

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 3 breaks instead.”
Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
* Stratification will use 2 breaks instead.”

  raceId n
1 1073   58
2 1047   55
3 1030   54