# Lance Stroll
<img src="https://www.formula1.com/content/fom-website/en/drivers/lance-stroll/_jcr_content/image.img.1920.medium.jpg/1641828817373.jpg" width="300">

### Team: Aston Martin

<img src ="https://www.formula1.com/content/fom-website/en/drivers/lance-stroll/_jcr_content/helmet.img.png/1646824889978.png" width="200">

In [30]:
library (tidyverse)
library (tidymodels)

In [31]:
# Reading dataset files

circuits <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/circuits.csv")

constructor_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_standings.csv") 

constructor_results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_results.csv") 
    
constructors <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructors.csv")

drivers <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/drivers.csv")

driver_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv")

lap_times <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv") 

pit_stops <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/pit_stops.csv")
           
qualifying <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/qualifying.csv") 

results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv") 

races <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/races.csv") 

status <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/status.csv")

Parsed with column specification:
cols(
  circuitId = col_double(),
  circuitRef = col_character(),
  name = col_character(),
  location = col_character(),
  country = col_character(),
  lat = col_double(),
  lng = col_double(),
  alt = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  constructorStandingsId = col_double(),
  raceId = col_double(),
  constructorId = col_double(),
  points = col_double(),
  position = col_double(),
  positionText = col_character(),
  wins = col_double()
)

Parsed with column specification:
cols(
  constructorResultsId = col_double(),
  raceId = col_double(),
  constructorId = col_double(),
  points = col_double(),
  status = col_character()
)

Parsed with column specification:
cols(
  constructorId = col_double(),
  constructorRef = col_character(),
  name = col_character(),
  nationality = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  driverId = col_double(),
  driverRef = col_character(),
  number = col_character(),
  code = col_character(),
  forename = col_character(),
  surname = col_character(),
  dob = col_date(format = ""),
  nationality = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  driverStandingsId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  points = col_double(),
  position = col_double(),
  positionText = col_double(),
  wins = col_double()
)

Warning message:
“21 parsing failures.
  row          col expected actual                                                                                                      file
 4376 positionText a double      D 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33375 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33376 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33377 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33378 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
..... ............ ........ ...... .........................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  driverId = col_double(),
  lap = col_double(),
  position = col_double(),
  time = col_time(format = ""),
  milliseconds = col_double()
)

Warning message:
“223 parsing failures.
  row  col   expected    actual                                                                                               file
25038 time valid date 52:17.033 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25094 time valid date 52:17.014 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25150 time valid date 52:16.250 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25206 time valid date 52:16.891 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25262 time valid date 52:17.452 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
..... .... .......... ......... ..................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  driverId = col_double(),
  stop = col_double(),
  lap = col_double(),
  time = col_time(format = ""),
  duration = col_character(),
  milliseconds = col_double()
)

Parsed with column specification:
cols(
  qualifyId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  constructorId = col_double(),
  number = col_double(),
  position = col_double(),
  q1 = col_character(),
  q2 = col_character(),
  q3 = col_character()
)

Parsed with column specification:
cols(
  resultId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  constructorId = col_double(),
  number = col_double(),
  grid = col_double(),
  position = col_character(),
  positionText = col_character(),
  positionOrder = col_double(),
  points = col_double(),
  laps = col_double(),
  time = col_character(),
  milliseconds = col_character(),
  fastestLap = col_character(),
  rank = col_character(),
  fastestLapTime = col_character(),
  fastestLapSpeed = col_character(),
  statusId = col_double()
)

Warning message:
“6 parsing failures.
  row    col expected actual                                                                                             file
17716 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17717 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17718 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17719 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17940 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
..... ...... ........ ...... ................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  year = col_double(),
  round = col_double(),
  circuitId = col_double(),
  name = col_character(),
  date = col_date(format = ""),
  time = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  statusId = col_double(),
  status = col_character()
)

In [32]:
# Filtering 2022 GP circuits 

# Vector of 2022 GP locations

locations_2022 <- c("Sakhir", "Jeddah", "Melbourne", "Imola", "Miami", "Montmeló", "Monte-Carlo", "Baku", "Montreal", "Silverstone", "Spielberg", 
                    "Le Castellet", "Budapest", "Spa", "Zandvoort", "Monza", "Sochi", "Marina Bay", "Suzuka", "Austin", "Mexico City", "São Paulo", "Abu Dhabi")

# Filtering circuit data set by locations vector 

circuits_2022 <- circuits %>% 
           filter(location %in% locations_2022) %>%
           filter(name != "A1-Ring") %>%
           select(circuitId:alt)


# Extracting 2022 circuit ID's 


circuit_ids <- circuits_2022 %>%
              pull(circuitId)

# Extracting 2022 circuit name and ID's


circuits_IDS <- circuits_2022 %>%
                select(circuitId, name, country, location) %>% 
                arrange(country)

In [33]:
# Filtering 2022 Constructors

team_names <- c("Alfa Romeo", "AlphaTauri", "Alpine F1 Team", "Aston Martin", "Ferrari", 
                "Haas F1 Team", "McLaren", "Mercedes", "Red Bull", "Williams")

teams_2022 <- constructors %>%
                 filter(name %in% team_names)

# Extracting 2022 Constructor ID's

constructor_ids <- teams_2022 %>%
              pull(constructorId)

In [34]:
# Filtering 2022 Drivers

driver_surnames <- c("Hamilton", "Russell", "Albon", "Zhou", "Bottas", "Gasly", "Tsunoda", "Alonso", "Ocon", "Vettel", "Stroll", 
                     "Leclerc", "Sainz", "Magnussen", "Schumacher", "Ricciardo", "Norris", "Verstappen", "Pérez", "Latifi")
 
drivers_2022 <- drivers %>%
                filter(surname %in% driver_surnames) %>%
                filter(!(forename %in% c("Ralf", "Michael", "Jos", "Duncan", "Jan")))

# Extracting Driver IDS

driver_ids <- drivers_2022 %>%
              pull(driverId)

# Extracting Driver Codes

driver_codes <- drivers_2022 %>%
              pull(code)

# Combining IDS and Codes

driver_id_code <- data.frame(driver_ids, driver_codes)

In [35]:
#### Filtering Race Data for 2022 Races

past_2022_races <- races %>%
                    filter(circuitId %in% circuit_ids) %>%
                    filter(year != "2022")

##### Extracting Race ID's

race_ids <- past_2022_races %>%
            pull(raceId)


##### Filtering Race Data For All 23 Circuits

#############################################

bahrain <- past_2022_races %>% 
            filter(circuitId == 3) %>%
            arrange(desc(year))

bahrain_race_ID <- bahrain %>%
                pull(raceId)

#############################################

sa <- past_2022_races %>% 
            filter(circuitId == 77) %>%
            arrange(desc(year))

saudi_race_ID <- sa %>%
                pull(raceId)

#############################################

aus <- past_2022_races %>% 
            filter(circuitId == 1) %>%
            arrange(desc(year))

aus_race_ID <- aus %>%
                pull(raceId)

#############################################

imola <- past_2022_races %>% 
            filter(circuitId == 21) %>%
            arrange(desc(year))

imola_race_ID <- imola %>%
                pull(raceId)

#############################################

miami <- past_2022_races %>% 
            filter(circuitId == 79) %>%
            arrange(desc(year))

miami_race_ID <- miami %>%
                pull(raceId)

#############################################

spain <- past_2022_races %>% 
            filter(circuitId == 4) %>%
            arrange(desc(year))

spain_race_ID <- spain %>%
                pull(raceId)

#############################################

monaco <- past_2022_races %>% 
            filter(circuitId == 6) %>%
            arrange(desc(year))

monaco_race_ID <- monaco %>%
                pull(raceId)

#############################################

azerbaijan <- past_2022_races %>% 
            filter(circuitId == 73) %>%
            arrange(desc(year))

azerbaijan_race_ID <- azerbaijan %>%
                pull(raceId)

#############################################

canada <- past_2022_races %>% 
            filter(circuitId == 7) %>%
            arrange(desc(year))

canada_race_ID <- canada %>%
                pull(raceId)

#############################################

uk <- past_2022_races %>% 
            filter(circuitId == 9) %>%
            arrange(desc(year))


uk_race_ID <- uk %>%
                pull(raceId)

#############################################

austria <- past_2022_races %>% 
            filter(circuitId == 70) %>%
            arrange(desc(year))


austria_race_ID <- austria %>%
                pull(raceId)

#############################################

france <- past_2022_races %>% 
            filter(circuitId == 34) %>%
            arrange(desc(year))


france_race_ID <- france %>%
                pull(raceId)

#############################################

hungary <- past_2022_races %>% 
            filter(circuitId == 11) %>%
            arrange(desc(year))


hungary_race_ID <- hungary %>%
                pull(raceId)

#############################################

belgium <- past_2022_races %>% 
            filter(circuitId == 13) %>%
            arrange(desc(year))


belgium_race_ID <- belgium %>%
                pull(raceId)

#############################################

netherlands <- past_2022_races %>% 
            filter(circuitId == 39) %>%
            arrange(desc(year))


netherlands_race_ID <- netherlands %>%
                pull(raceId)

#############################################

monza <- past_2022_races %>% 
            filter(circuitId == 14) %>%
            arrange(desc(year))

monza_race_ID <- monza %>%
                pull(raceId)

#############################################

singapore <- past_2022_races %>% 
            filter(circuitId == 15) %>%
            arrange(desc(year))

singapore_race_ID <- singapore %>%
                pull(raceId)

#############################################

japan <- past_2022_races %>% 
            filter(circuitId == 22) %>%
            arrange(desc(year))

japan_race_ID <- japan %>%
                pull(raceId)

#############################################

austin <- past_2022_races %>% 
            filter(circuitId == 69) %>%
            arrange(desc(year))

austin_race_ID <- austin %>%
                pull(raceId)

#############################################

mexico <- past_2022_races %>% 
            filter(circuitId == 32) %>%
            arrange(desc(year))

mexico_race_ID <- mexico %>%
                pull(raceId)

#############################################

brazil <- past_2022_races %>% 
            filter(circuitId == 18) %>%
            arrange(desc(year))

brazil_race_ID <- brazil %>%
                pull(raceId)

#############################################

uae <- past_2022_races %>% 
            filter(circuitId == 24) %>%
            arrange(desc(year))

uae_race_ID <- uae %>%
                pull(raceId)

In [36]:
# Filtering Lap Data For 2022 Drivers

lap_data <- lap_times %>%
            filter(driverId %in% driver_ids) %>%
            filter(raceId %in% race_ids)

str_laps <- lap_data %>%
            filter(driverId == 840)

In [37]:
#1. BAHRAIN 

ls_bahrain <- str_laps %>%
                filter(raceId %in% bahrain_race_ID) 

ls_bahrain_clean <- ls_bahrain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
ls_bahrain_clean
ls_bahrain_clean_ID <- ls_bahrain_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_bahrain_races <- str_laps %>%
                    filter(raceId %in% ls_bahrain_clean_ID)

ls_bahrain_split <- initial_split(ls_bahrain_races, prop = 0.75, strata = milliseconds)

ls_bahrain_train <- training(ls_bahrain_split)

ls_bahrain_test <- testing(ls_bahrain_split) 


### USING DATA

ls_bahrain_lap_times <- ls_bahrain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_bahrain_avg_race_time <- ls_bahrain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1046   87
2  990   56
3 1011   56
4 1052   56
5  971   12
6 1045    2

`summarise()` ungrouping output (override with `.groups` argument)

In [38]:
#2. Saudi Arabia

ls_saudi <- str_laps %>%
                filter(raceId %in% saudi_race_ID) 

ls_saudi_clean <- ls_saudi %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_saudi_clean
ls_saudi_clean_ID <- ls_saudi_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_saudi_races <- str_laps %>%
                    filter(raceId %in% ls_saudi_clean_ID)

ls_saudi_split <- initial_split(ls_saudi_races, prop = 0.75, strata = milliseconds)

ls_saudi_train <- training(ls_saudi_split)

ls_saudi_test <- testing(ls_saudi_split) 


### USING DATA

ls_saudi_lap_times <- ls_saudi_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_saudi_avg_race_time <- ls_saudi_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1072   50

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [39]:
#3. Australia

ls_aus <- str_laps %>%
                filter(raceId %in% aus_race_ID) 

ls_aus_clean <- ls_aus %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_aus_clean
ls_aus_clean_ID <- ls_aus_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_aus_races <- str_laps %>%
                    filter(raceId %in% ls_aus_clean_ID)

ls_aus_split <- initial_split(ls_aus_races, prop = 0.75, strata = milliseconds)

ls_aus_train <- training(ls_aus_split)

ls_aus_test <- testing(ls_aus_split) 


### USING DATA

ls_aus_lap_times <- ls_aus_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_aus_avg_race_time <- ls_aus_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  989   58
2 1010   57
3  969   40

`summarise()` ungrouping output (override with `.groups` argument)

In [40]:
#4. Italy, Imola

ls_imola <- str_laps %>%
                filter(raceId %in% imola_race_ID) 

ls_imola_clean <- ls_imola %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_imola_clean
ls_imola_clean_ID <- ls_imola_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_imola_races <- str_laps %>%
                    filter(raceId %in% ls_imola_clean_ID)

ls_imola_split <- initial_split(ls_imola_races, prop = 0.75, strata = milliseconds)

ls_imola_train <- training(ls_imola_split)

ls_imola_test <- testing(ls_imola_split) 


### USING DATA

ls_imola_lap_times <- ls_imola_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_imola_avg_race_time <- ls_imola_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1043   63
2 1053   63

`summarise()` ungrouping output (override with `.groups` argument)

In [41]:
#5. Spain

ls_spain <- str_laps %>%
                filter(raceId %in% spain_race_ID) 

ls_spain_clean <- ls_spain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_spain_clean
ls_spain_clean_ID <- ls_spain_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_spain_races <- str_laps %>%
                    filter(raceId %in% ls_spain_clean_ID)

ls_spain_split <- initial_split(ls_spain_races, prop = 0.75, strata = milliseconds)

ls_spain_train <- training(ls_spain_split)

ls_spain_test <- testing(ls_spain_split) 


### USING DATA

ls_spain_lap_times <- ls_spain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_spain_avg_race_time <- ls_spain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1036   65
2 1055   65
3  973   64
4  993   64
5 1014   44

`summarise()` ungrouping output (override with `.groups` argument)

In [42]:
#6. Monaco

ls_monaco <- str_laps %>%
                filter(raceId %in% monaco_race_ID) 

ls_monaco_clean <- ls_monaco %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_monaco_clean
ls_monaco_clean_ID <- ls_monaco_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_monaco_races <- str_laps %>%
                    filter(raceId %in% ls_monaco_clean_ID)

ls_monaco_split <- initial_split(ls_monaco_races, prop = 0.75, strata = milliseconds)

ls_monaco_train <- training(ls_monaco_split)

ls_monaco_test <- testing(ls_monaco_split) 


### USING DATA

ls_monaco_lap_times <- ls_monaco_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_monaco_avg_race_time <- ls_monaco_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1015   77
2 1056   77
3  994   76
4  974   71

`summarise()` ungrouping output (override with `.groups` argument)

In [43]:
#7. Azerbaijan

ls_azerbaijan <- str_laps %>%
                filter(raceId %in% azerbaijan_race_ID) 

ls_azerbaijan_clean <- ls_azerbaijan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_azerbaijan_clean
ls_azerbaijan_clean_ID <- ls_azerbaijan_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_azerbaijan_races <- str_laps %>%
                    filter(raceId %in% ls_azerbaijan_clean_ID)

ls_azerbaijan_split <- initial_split(ls_azerbaijan_races, prop = 0.75, strata = milliseconds)

ls_azerbaijan_train <- training(ls_azerbaijan_split)

ls_azerbaijan_test <- testing(ls_azerbaijan_split) 


### USING DATA

ls_azerbaijan_lap_times <- ls_azerbaijan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_azerbaijan_avg_race_time <- ls_azerbaijan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  976   51
2  992   51
3 1013   51
4 1057   29

`summarise()` ungrouping output (override with `.groups` argument)

In [44]:
#8. Canada

ls_canada <- str_laps %>%
                filter(raceId %in% canada_race_ID) 

ls_canada_clean <- ls_canada %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_canada_clean
ls_canada_clean_ID <- ls_canada_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_canada_races <- str_laps %>%
                    filter(raceId %in% ls_canada_clean_ID)

ls_canada_split <- initial_split(ls_canada_races, prop = 0.75, strata = milliseconds)

ls_canada_train <- training(ls_canada_split)

ls_canada_test <- testing(ls_canada_split) 


### USING DATA

ls_canada_lap_times <- ls_canada_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_canada_avg_race_time <- ls_canada_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  975   69
2 1016   69

`summarise()` ungrouping output (override with `.groups` argument)

In [45]:
#9. Great Britain

ls_uk <- str_laps %>%
                filter(raceId %in% uk_race_ID) 

ls_uk_clean <- ls_uk %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_uk_clean
ls_uk_clean_ID <- ls_uk_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_uk_races <- str_laps %>%
                    filter(raceId %in% ls_uk_clean_ID)

ls_uk_split <- initial_split(ls_uk_races, prop = 0.75, strata = milliseconds)

ls_uk_train <- training(ls_uk_split)

ls_uk_test <- testing(ls_uk_split) 


### USING DATA

ls_uk_lap_times <- ls_uk_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_uk_avg_race_time <- ls_uk_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  998   52
2 1019   52
3 1034   52
4 1035   52
5 1061   52
6  978   50

`summarise()` ungrouping output (override with `.groups` argument)

In [46]:
#10. Austria

ls_austria <- str_laps %>%
                filter(raceId %in% austria_race_ID) 

ls_austria_clean <- ls_austria %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_austria_clean
ls_austria_clean_ID <- ls_austria_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_austria_races <- str_laps %>%
                    filter(raceId %in% ls_austria_clean_ID)

ls_austria_split <- initial_split(ls_austria_races, prop = 0.75, strata = milliseconds)

ls_austria_train <- training(ls_austria_split)

ls_austria_test <- testing(ls_austria_split) 


### USING DATA

ls_austria_lap_times <- ls_austria_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_austria_avg_race_time <- ls_austria_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1032   71
2  977   70
3 1018   70
4 1058   70
5 1060   70
6  997   69
7 1031   20

`summarise()` ungrouping output (override with `.groups` argument)

In [47]:
#11. France

ls_france <- str_laps %>%
                filter(raceId %in% france_race_ID) 

ls_france_clean <- ls_france %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_france_clean
ls_france_clean_ID <- ls_france_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_france_races <- str_laps %>%
                    filter(raceId %in% ls_france_clean_ID)

ls_france_split <- initial_split(ls_france_races, prop = 0.75, strata = milliseconds)

ls_france_train <- training(ls_france_split)

ls_france_test <- testing(ls_france_split) 


### USING DATA

ls_france_lap_times <- ls_france_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_france_avg_race_time <- ls_france_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1059   53
2 1017   52
3  996   48

`summarise()` ungrouping output (override with `.groups` argument)

In [48]:
#12. Hungary

ls_hungary <- str_laps %>%
                filter(raceId %in% hungary_race_ID) 

ls_hungary_clean <- ls_hungary %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))                     
ls_hungary_clean
ls_hungary_clean_ID <- ls_hungary_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_hungary_races <- str_laps %>%
                    filter(raceId %in% ls_hungary_clean_ID)

ls_hungary_split <- initial_split(ls_hungary_races, prop = 0.75, strata = milliseconds)

ls_hungary_train <- training(ls_hungary_split)

ls_hungary_test <- testing(ls_hungary_split) 


### USING DATA

ls_hungary_lap_times <- ls_hungary_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_hungary_avg_race_time <- ls_hungary_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1033   70
2  979   69
3 1000   68
4 1021   68

`summarise()` ungrouping output (override with `.groups` argument)

In [49]:
#13. Belgium

ls_belgium <- str_laps %>%
                filter(raceId %in% belgium_race_ID) 

ls_belgium_clean <- ls_belgium %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_belgium_clean
ls_belgium_clean_ID <- ls_belgium_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_belgium_races <- str_laps %>%
                    filter(raceId %in% ls_belgium_clean_ID)

ls_belgium_split <- initial_split(ls_belgium_races, prop = 0.75, strata = milliseconds)

ls_belgium_train <- training(ls_belgium_split)

ls_belgium_test <- testing(ls_belgium_split) 


### USING DATA

ls_belgium_lap_times <- ls_belgium_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_belgium_avg_race_time <- ls_belgium_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  980   44
2 1022   44
3 1037   44
4 1001   43
5 1063    1

`summarise()` ungrouping output (override with `.groups` argument)

In [50]:
#14. Netherlands

ls_netherlands <- str_laps %>%
                filter(raceId %in% netherlands_race_ID) 

ls_netherlands_clean <- ls_netherlands %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_netherlands_clean
ls_netherlands_clean_ID <- ls_netherlands_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_netherlands_races <- str_laps %>%
                    filter(raceId %in% ls_netherlands_clean_ID)

ls_netherlands_split <- initial_split(ls_netherlands_races, prop = 0.75, strata = milliseconds)

ls_netherlands_train <- training(ls_netherlands_split)

ls_netherlands_test <- testing(ls_netherlands_split) 


### USING DATA

ls_netherlands_lap_times <- ls_netherlands_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_netherlands_avg_race_time <- ls_netherlands_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1064   70

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [51]:
#15. Italy, Monza

ls_monza <- str_laps %>%
                filter(raceId %in% monza_race_ID) 

ls_monza_clean <- ls_monza %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
ls_monza_clean
ls_monza_clean_ID <- ls_monza_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_monza_races <- str_laps %>%
                    filter(raceId %in% ls_monza_clean_ID)

ls_monza_split <- initial_split(ls_monza_races, prop = 0.75, strata = milliseconds)

ls_monza_train <- training(ls_monza_split)

ls_monza_test <- testing(ls_monza_split) 


### USING DATA

ls_monza_lap_times <- ls_monza_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_monza_avg_race_time <- ls_monza_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  981   53
2 1038   53
3 1065   53
4 1002   52
5 1023   52

`summarise()` ungrouping output (override with `.groups` argument)

In [52]:
#16. Singapore

ls_singapore <- str_laps %>%
                filter(raceId %in% singapore_race_ID) 

ls_singapore_clean <- ls_singapore %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_singapore_clean
ls_singapore_clean_ID <- ls_singapore_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_singapore_races <- str_laps %>%
                    filter(raceId %in% ls_singapore_clean_ID)

ls_singapore_split <- initial_split(ls_singapore_races, prop = 0.75, strata = milliseconds)

ls_singapore_train <- training(ls_singapore_split)

ls_singapore_test <- testing(ls_singapore_split) 


### USING DATA

ls_singapore_lap_times <- ls_singapore_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_singapore_avg_race_time <- ls_singapore_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1024   61
2 1003   60
3  982   58

`summarise()` ungrouping output (override with `.groups` argument)

In [53]:
#17. Japan

ls_japan <- str_laps %>%
                filter(raceId %in% japan_race_ID) 

ls_japan_clean <- ls_japan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_japan_clean
ls_japan_clean_ID <- ls_japan_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_japan_races <- str_laps %>%
                    filter(raceId %in% ls_japan_clean_ID)

ls_japan_split <- initial_split(ls_japan_races, prop = 0.75, strata = milliseconds)

ls_japan_train <- training(ls_japan_split)

ls_japan_test <- testing(ls_japan_split) 


### USING DATA

ls_japan_lap_times <- ls_japan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_japan_avg_race_time <- ls_japan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1005   52
2 1026   51
3  984   45

`summarise()` ungrouping output (override with `.groups` argument)

In [54]:
#18. USA, Austin

ls_austin <- str_laps %>%
                filter(raceId %in% austin_race_ID) 

ls_austin_clean <- ls_austin %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_austin_clean
ls_austin_clean_ID <- ls_austin_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_austin_races <- str_laps %>%
                    filter(raceId %in% ls_austin_clean_ID)

ls_austin_split <- initial_split(ls_austin_races, prop = 0.75, strata = milliseconds)

ls_austin_train <- training(ls_austin_split)

ls_austin_test <- testing(ls_austin_split) 


### USING DATA

ls_austin_lap_times <- ls_austin_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_austin_avg_race_time <- ls_austin_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  985   55
2 1028   55
3 1069   55
4 1006   54

`summarise()` ungrouping output (override with `.groups` argument)

In [55]:
#19. Mexico

ls_mexico <- str_laps %>%
                filter(raceId %in% mexico_race_ID) 

ls_mexico_clean <- ls_mexico %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_mexico_clean
ls_mexico_clean_ID <- ls_mexico_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_mexico_races <- str_laps %>%
                    filter(raceId %in% ls_mexico_clean_ID)

ls_mexico_split <- initial_split(ls_mexico_races, prop = 0.75, strata = milliseconds)

ls_mexico_train <- training(ls_mexico_split)

ls_mexico_test <- testing(ls_mexico_split) 


### USING DATA

ls_mexico_lap_times <- ls_mexico_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_mexico_avg_race_time <- ls_mexico_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  986   70
2 1027   70
3 1007   69
4 1070   69

`summarise()` ungrouping output (override with `.groups` argument)

In [56]:
#20. Brazil

ls_brazil <- str_laps %>%
                filter(raceId %in% brazil_race_ID) 

ls_brazil_clean <- ls_brazil %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_brazil_clean
ls_brazil_clean_ID <- ls_brazil_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_brazil_races <- str_laps %>%
                    filter(raceId %in% ls_brazil_clean_ID)

ls_brazil_split <- initial_split(ls_brazil_races, prop = 0.75, strata = milliseconds)

ls_brazil_train <- training(ls_brazil_split)

ls_brazil_test <- testing(ls_brazil_split) 


### USING DATA

ls_brazil_lap_times <- ls_brazil_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_brazil_avg_race_time <- ls_brazil_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  987   69
2 1008   69
3 1029   65
4 1071   47

`summarise()` ungrouping output (override with `.groups` argument)

In [57]:
 #21. Abu Dhabi

ls_uae <- str_laps %>%
                filter(raceId %in% uae_race_ID) 

ls_uae_clean <- ls_uae %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ls_uae_clean
ls_uae_clean_ID <- ls_uae_clean %>%
                        pull(raceId)


### SPLITTING DATA

ls_uae_races <- str_laps %>%
                    filter(raceId %in% ls_uae_clean_ID)

ls_uae_split <- initial_split(ls_uae_races, prop = 0.75, strata = milliseconds)

ls_uae_train <- training(ls_uae_split)

ls_uae_test <- testing(ls_uae_split) 


### USING DATA

ls_uae_lap_times <- ls_uae_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ls_uae_avg_race_time <- ls_uae_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1073   57
2 1047   55
3  988   54
4 1009   54
5 1030   45

`summarise()` ungrouping output (override with `.groups` argument)