# Mick Schumacher
<img src="https://www.formula1.com/content/fom-website/en/drivers/mick-schumacher/_jcr_content/image.img.1920.medium.jpg/1641824836549.jpg" width="300">

### Team: Haas F1 Team

<img src ="https://www.formula1.com/content/fom-website/en/drivers/mick-schumacher/_jcr_content/helmet.img.png/1617101189118.png" width="200">

In [25]:
library (tidyverse)
library (tidymodels)

In [26]:
# Reading dataset files

circuits <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/circuits.csv")

constructor_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_standings.csv") 

constructor_results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_results.csv") 
    
constructors <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructors.csv")

drivers <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/drivers.csv")

driver_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv")

lap_times <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv") 

pit_stops <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/pit_stops.csv")
           
qualifying <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/qualifying.csv") 

results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv") 

races <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/races.csv") 

status <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/status.csv")

Parsed with column specification:
cols(
  circuitId = col_double(),
  circuitRef = col_character(),
  name = col_character(),
  location = col_character(),
  country = col_character(),
  lat = col_double(),
  lng = col_double(),
  alt = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  constructorStandingsId = col_double(),
  raceId = col_double(),
  constructorId = col_double(),
  points = col_double(),
  position = col_double(),
  positionText = col_character(),
  wins = col_double()
)

Parsed with column specification:
cols(
  constructorResultsId = col_double(),
  raceId = col_double(),
  constructorId = col_double(),
  points = col_double(),
  status = col_character()
)

Parsed with column specification:
cols(
  constructorId = col_double(),
  constructorRef = col_character(),
  name = col_character(),
  nationality = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  driverId = col_double(),
  driverRef = col_character(),
  number = col_character(),
  code = col_character(),
  forename = col_character(),
  surname = col_character(),
  dob = col_date(format = ""),
  nationality = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  driverStandingsId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  points = col_double(),
  position = col_double(),
  positionText = col_double(),
  wins = col_double()
)

Warning message:
“21 parsing failures.
  row          col expected actual                                                                                                      file
 4376 positionText a double      D 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33375 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33376 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33377 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33378 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
..... ............ ........ ...... .........................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  driverId = col_double(),
  lap = col_double(),
  position = col_double(),
  time = col_time(format = ""),
  milliseconds = col_double()
)

Warning message:
“223 parsing failures.
  row  col   expected    actual                                                                                               file
25038 time valid date 52:17.033 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25094 time valid date 52:17.014 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25150 time valid date 52:16.250 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25206 time valid date 52:16.891 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25262 time valid date 52:17.452 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
..... .... .......... ......... ..................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  driverId = col_double(),
  stop = col_double(),
  lap = col_double(),
  time = col_time(format = ""),
  duration = col_character(),
  milliseconds = col_double()
)

Parsed with column specification:
cols(
  qualifyId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  constructorId = col_double(),
  number = col_double(),
  position = col_double(),
  q1 = col_character(),
  q2 = col_character(),
  q3 = col_character()
)

Parsed with column specification:
cols(
  resultId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  constructorId = col_double(),
  number = col_double(),
  grid = col_double(),
  position = col_character(),
  positionText = col_character(),
  positionOrder = col_double(),
  points = col_double(),
  laps = col_double(),
  time = col_character(),
  milliseconds = col_character(),
  fastestLap = col_character(),
  rank = col_character(),
  fastestLapTime = col_character(),
  fastestLapSpeed = col_character(),
  statusId = col_double()
)

Warning message:
“6 parsing failures.
  row    col expected actual                                                                                             file
17716 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17717 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17718 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17719 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17940 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
..... ...... ........ ...... ................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  year = col_double(),
  round = col_double(),
  circuitId = col_double(),
  name = col_character(),
  date = col_date(format = ""),
  time = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  statusId = col_double(),
  status = col_character()
)

In [27]:
# Filtering 2022 GP circuits 

# Vector of 2022 GP locations

locations_2022 <- c("Sakhir", "Jeddah", "Melbourne", "Imola", "Miami", "Montmeló", "Monte-Carlo", "Baku", "Montreal", "Silverstone", "Spielberg", 
                    "Le Castellet", "Budapest", "Spa", "Zandvoort", "Monza", "Sochi", "Marina Bay", "Suzuka", "Austin", "Mexico City", "São Paulo", "Abu Dhabi")

# Filtering circuit data set by locations vector 

circuits_2022 <- circuits %>% 
           filter(location %in% locations_2022) %>%
           filter(name != "A1-Ring") %>%
           select(circuitId:alt)


# Extracting 2022 circuit ID's 


circuit_ids <- circuits_2022 %>%
              pull(circuitId)

# Extracting 2022 circuit name and ID's


circuits_IDS <- circuits_2022 %>%
                select(circuitId, name, country, location) %>% 
                arrange(country)

In [28]:
# Filtering 2022 Constructors

team_names <- c("Alfa Romeo", "AlphaTauri", "Alpine F1 Team", "Aston Martin", "Ferrari", 
                "Haas F1 Team", "McLaren", "Mercedes", "Red Bull", "Williams")

teams_2022 <- constructors %>%
                 filter(name %in% team_names)

# Extracting 2022 Constructor ID's

constructor_ids <- teams_2022 %>%
              pull(constructorId)

In [29]:
# Filtering 2022 Drivers

driver_surnames <- c("Hamilton", "Russell", "Albon", "Zhou", "Bottas", "Gasly", "Tsunoda", "Alonso", "Ocon", "Vettel", "Stroll", 
                     "Leclerc", "Sainz", "Magnussen", "Schumacher", "Ricciardo", "Norris", "Verstappen", "Pérez", "Latifi")
 
drivers_2022 <- drivers %>%
                filter(surname %in% driver_surnames) %>%
                filter(!(forename %in% c("Ralf", "Michael", "Jos", "Duncan", "Jan")))

# Extracting Driver IDS

driver_ids <- drivers_2022 %>%
              pull(driverId)

# Extracting Driver Codes

driver_codes <- drivers_2022 %>%
              pull(code)

# Combining IDS and Codes

driver_id_code <- data.frame(driver_ids, driver_codes)

In [30]:
#### Filtering Race Data for 2022 Races

past_2022_races <- races %>%
                    filter(circuitId %in% circuit_ids) %>%
                    filter(year != "2022")

##### Extracting Race ID's

race_ids <- past_2022_races %>%
            pull(raceId)


##### Filtering Race Data For All 23 Circuits

#############################################

bahrain <- past_2022_races %>% 
            filter(circuitId == 3) %>%
            arrange(desc(year))

bahrain_race_ID <- bahrain %>%
                pull(raceId)

#############################################

sa <- past_2022_races %>% 
            filter(circuitId == 77) %>%
            arrange(desc(year))

saudi_race_ID <- sa %>%
                pull(raceId)

#############################################

aus <- past_2022_races %>% 
            filter(circuitId == 1) %>%
            arrange(desc(year))

aus_race_ID <- aus %>%
                pull(raceId)

#############################################

imola <- past_2022_races %>% 
            filter(circuitId == 21) %>%
            arrange(desc(year))

imola_race_ID <- imola %>%
                pull(raceId)

#############################################

miami <- past_2022_races %>% 
            filter(circuitId == 79) %>%
            arrange(desc(year))

miami_race_ID <- miami %>%
                pull(raceId)

#############################################

spain <- past_2022_races %>% 
            filter(circuitId == 4) %>%
            arrange(desc(year))

spain_race_ID <- spain %>%
                pull(raceId)

#############################################

monaco <- past_2022_races %>% 
            filter(circuitId == 6) %>%
            arrange(desc(year))

monaco_race_ID <- monaco %>%
                pull(raceId)

#############################################

azerbaijan <- past_2022_races %>% 
            filter(circuitId == 73) %>%
            arrange(desc(year))

azerbaijan_race_ID <- azerbaijan %>%
                pull(raceId)

#############################################

canada <- past_2022_races %>% 
            filter(circuitId == 7) %>%
            arrange(desc(year))

canada_race_ID <- canada %>%
                pull(raceId)

#############################################

uk <- past_2022_races %>% 
            filter(circuitId == 9) %>%
            arrange(desc(year))


uk_race_ID <- uk %>%
                pull(raceId)

#############################################

austria <- past_2022_races %>% 
            filter(circuitId == 70) %>%
            arrange(desc(year))


austria_race_ID <- austria %>%
                pull(raceId)

#############################################

france <- past_2022_races %>% 
            filter(circuitId == 34) %>%
            arrange(desc(year))


france_race_ID <- france %>%
                pull(raceId)

#############################################

hungary <- past_2022_races %>% 
            filter(circuitId == 11) %>%
            arrange(desc(year))


hungary_race_ID <- hungary %>%
                pull(raceId)

#############################################

belgium <- past_2022_races %>% 
            filter(circuitId == 13) %>%
            arrange(desc(year))


belgium_race_ID <- belgium %>%
                pull(raceId)

#############################################

netherlands <- past_2022_races %>% 
            filter(circuitId == 39) %>%
            arrange(desc(year))


netherlands_race_ID <- netherlands %>%
                pull(raceId)

#############################################

monza <- past_2022_races %>% 
            filter(circuitId == 14) %>%
            arrange(desc(year))

monza_race_ID <- monza %>%
                pull(raceId)

#############################################

singapore <- past_2022_races %>% 
            filter(circuitId == 15) %>%
            arrange(desc(year))

singapore_race_ID <- singapore %>%
                pull(raceId)

#############################################

japan <- past_2022_races %>% 
            filter(circuitId == 22) %>%
            arrange(desc(year))

japan_race_ID <- japan %>%
                pull(raceId)

#############################################

austin <- past_2022_races %>% 
            filter(circuitId == 69) %>%
            arrange(desc(year))

austin_race_ID <- austin %>%
                pull(raceId)

#############################################

mexico <- past_2022_races %>% 
            filter(circuitId == 32) %>%
            arrange(desc(year))

mexico_race_ID <- mexico %>%
                pull(raceId)

#############################################

brazil <- past_2022_races %>% 
            filter(circuitId == 18) %>%
            arrange(desc(year))

brazil_race_ID <- brazil %>%
                pull(raceId)

#############################################

uae <- past_2022_races %>% 
            filter(circuitId == 24) %>%
            arrange(desc(year))

uae_race_ID <- uae %>%
                pull(raceId)

In [31]:
# Filtering Lap Data For 2022 Drivers

lap_data <- lap_times %>%
            filter(driverId %in% driver_ids) %>%
            filter(raceId %in% race_ids)

msc_laps <- lap_data %>%
            filter(driverId == 854)

In [32]:
#1. BAHRAIN 

ms_bahrain <- msc_laps %>%
                filter(raceId %in% bahrain_race_ID) 

ms_bahrain_clean <- ms_bahrain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
ms_bahrain_clean
ms_bahrain_clean_ID <- ms_bahrain_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_bahrain_races <- msc_laps %>%
                    filter(raceId %in% ms_bahrain_clean_ID)

ms_bahrain_split <- initial_split(ms_bahrain_races, prop = 0.75, strata = milliseconds)

ms_bahrain_train <- training(ms_bahrain_split)

ms_bahrain_test <- testing(ms_bahrain_split) 


### USING DATA

ms_bahrain_lap_times <- ms_bahrain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_bahrain_avg_race_time <- ms_bahrain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1052   55

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [33]:
#2. Saudi Arabia

ms_saudi <- msc_laps %>%
                filter(raceId %in% saudi_race_ID) 

ms_saudi_clean <- ms_saudi %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ms_saudi_clean
ms_saudi_clean_ID <- ms_saudi_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_saudi_races <- msc_laps %>%
                    filter(raceId %in% ms_saudi_clean_ID)

ms_saudi_split <- initial_split(ms_saudi_races, prop = 0.75, strata = milliseconds)

ms_saudi_train <- training(ms_saudi_split)

ms_saudi_test <- testing(ms_saudi_split) 


### USING DATA

ms_saudi_lap_times <- ms_saudi_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_saudi_avg_race_time <- ms_saudi_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1072   8

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 0 breaks instead.”
Warning message:
“Too little data to stratify. Unstratified resampling will be used.”
`summarise()` ungrouping output (override with `.groups` argument)

In [34]:
# #3. Australia

# ms_aus <- msc_laps %>%
#                 filter(raceId %in% aus_race_ID) 

# ms_aus_clean <- ms_aus %>%
#                         group_by(raceId) %>%
#                         summarize(n = n()) %>%
#                         arrange(desc(n)) 
# ms_aus_clean
# ms_aus_clean_ID <- ms_aus_clean %>%
#                         pull(raceId)


# ### SPLITTING DATA

# ms_aus_races <- msc_laps %>%
#                     filter(raceId %in% ms_aus_clean_ID)

# ms_aus_split <- initial_split(ms_aus_races, prop = 0.75, strata = milliseconds)

# ms_aus_train <- training(ms_aus_split)

# ms_aus_test <- testing(ms_aus_split) 


# ### USING DATA

# ms_aus_lap_times <- ms_aus_train %>%
#                         group_by(lap) %>%
#                         summarize(lap_time_avg = mean(milliseconds)) 
                        

# ms_aus_avg_race_time <- ms_aus_lap_times %>%
#                             mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
#                             select(lap_time_avg_mins) %>%
#                             map(sum)

In [35]:
#4. Italy, Imola

ms_imola <- msc_laps %>%
                filter(raceId %in% imola_race_ID) 

ms_imola_clean <- ms_imola %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ms_imola_clean
ms_imola_clean_ID <- ms_imola_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_imola_races <- msc_laps %>%
                    filter(raceId %in% ms_imola_clean_ID)

ms_imola_split <- initial_split(ms_imola_races, prop = 0.75, strata = milliseconds)

ms_imola_train <- training(ms_imola_split)

ms_imola_test <- testing(ms_imola_split) 


### USING DATA

ms_imola_lap_times <- ms_imola_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_imola_avg_race_time <- ms_imola_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1053   61

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [36]:
#5. Spain

ms_spain <- msc_laps %>%
                filter(raceId %in% spain_race_ID) 

ms_spain_clean <- ms_spain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ms_spain_clean
ms_spain_clean_ID <- ms_spain_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_spain_races <- msc_laps %>%
                    filter(raceId %in% ms_spain_clean_ID)

ms_spain_split <- initial_split(ms_spain_races, prop = 0.75, strata = milliseconds)

ms_spain_train <- training(ms_spain_split)

ms_spain_test <- testing(ms_spain_split) 


### USING DATA

ms_spain_lap_times <- ms_spain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_spain_avg_race_time <- ms_spain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1055   64

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [37]:
#6. Monaco

ms_monaco <- msc_laps %>%
                filter(raceId %in% monaco_race_ID) 

ms_monaco_clean <- ms_monaco %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ms_monaco_clean
ms_monaco_clean_ID <- ms_monaco_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_monaco_races <- msc_laps %>%
                    filter(raceId %in% ms_monaco_clean_ID)

ms_monaco_split <- initial_split(ms_monaco_races, prop = 0.75, strata = milliseconds)

ms_monaco_train <- training(ms_monaco_split)

ms_monaco_test <- testing(ms_monaco_split) 


### USING DATA

ms_monaco_lap_times <- ms_monaco_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_monaco_avg_race_time <- ms_monaco_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1056   75

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [38]:
#7. Azerbaijan

ms_azerbaijan <- msc_laps %>%
                filter(raceId %in% azerbaijan_race_ID) 

ms_azerbaijan_clean <- ms_azerbaijan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ms_azerbaijan_clean
ms_azerbaijan_clean_ID <- ms_azerbaijan_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_azerbaijan_races <- msc_laps %>%
                    filter(raceId %in% ms_azerbaijan_clean_ID)

ms_azerbaijan_split <- initial_split(ms_azerbaijan_races, prop = 0.75, strata = milliseconds)

ms_azerbaijan_train <- training(ms_azerbaijan_split)

ms_azerbaijan_test <- testing(ms_azerbaijan_split) 


### USING DATA

ms_azerbaijan_lap_times <- ms_azerbaijan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_azerbaijan_avg_race_time <- ms_azerbaijan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1057   51

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [39]:
# #8. Canada

# ms_canada <- msc_laps %>%
#                 filter(raceId %in% canada_race_ID) 

# ms_canada_clean <- ms_canada %>%
#                         group_by(raceId) %>%
#                         summarize(n = n()) %>%
#                         arrange(desc(n)) 
# ms_canada_clean
# ms_canada_clean_ID <- ms_canada_clean %>%
#                         pull(raceId)


# ### SPLITTING DATA

# ms_canada_races <- msc_laps %>%
#                     filter(raceId %in% ms_canada_clean_ID)

# ms_canada_split <- initial_split(ms_canada_races, prop = 0.75, strata = milliseconds)

# ms_canada_train <- training(ms_canada_split)

# ms_canada_test <- testing(ms_canada_split) 


# ### USING DATA

# ms_canada_lap_times <- ms_canada_train %>%
#                         group_by(lap) %>%
#                         summarize(lap_time_avg = mean(milliseconds)) 
                        

# ms_canada_avg_race_time <- ms_canada_lap_times %>%
#                             mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
#                             select(lap_time_avg_mins) %>%
#                             map(sum)

In [40]:
#9. Great Britain

ms_uk <- msc_laps %>%
                filter(raceId %in% uk_race_ID) 

ms_uk_clean <- ms_uk %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ms_uk_clean
ms_uk_clean_ID <- ms_uk_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_uk_races <- msc_laps %>%
                    filter(raceId %in% ms_uk_clean_ID)

ms_uk_split <- initial_split(ms_uk_races, prop = 0.75, strata = milliseconds)

ms_uk_train <- training(ms_uk_split)

ms_uk_test <- testing(ms_uk_split) 


### USING DATA

ms_uk_lap_times <- ms_uk_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_uk_avg_race_time <- ms_uk_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1061   51

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [41]:
#10. Austria

ms_austria <- msc_laps %>%
                filter(raceId %in% austria_race_ID) 

ms_austria_clean <- ms_austria %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ms_austria_clean
ms_austria_clean_ID <- ms_austria_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_austria_races <- msc_laps %>%
                    filter(raceId %in% ms_austria_clean_ID)

ms_austria_split <- initial_split(ms_austria_races, prop = 0.75, strata = milliseconds)

ms_austria_train <- training(ms_austria_split)

ms_austria_test <- testing(ms_austria_split) 


### USING DATA

ms_austria_lap_times <- ms_austria_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_austria_avg_race_time <- ms_austria_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1058   69
2 1060   69

`summarise()` ungrouping output (override with `.groups` argument)

In [42]:
#11. France

ms_france <- msc_laps %>%
                filter(raceId %in% france_race_ID) 

ms_france_clean <- ms_france %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ms_france_clean
ms_france_clean_ID <- ms_france_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_france_races <- msc_laps %>%
                    filter(raceId %in% ms_france_clean_ID)

ms_france_split <- initial_split(ms_france_races, prop = 0.75, strata = milliseconds)

ms_france_train <- training(ms_france_split)

ms_france_test <- testing(ms_france_split) 


### USING DATA

ms_france_lap_times <- ms_france_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_france_avg_race_time <- ms_france_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1059   52

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [43]:
#12. Hungary

ms_hungary <- msc_laps %>%
                filter(raceId %in% hungary_race_ID) 

ms_hungary_clean <- ms_hungary %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))                      
ms_hungary_clean
ms_hungary_clean_ID <- ms_hungary_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_hungary_races <- msc_laps %>%
                    filter(raceId %in% ms_hungary_clean_ID)

ms_hungary_split <- initial_split(ms_hungary_races, prop = 0.75, strata = milliseconds)

ms_hungary_train <- training(ms_hungary_split)

ms_hungary_test <- testing(ms_hungary_split) 


### USING DATA

ms_hungary_lap_times <- ms_hungary_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_hungary_avg_race_time <- ms_hungary_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1062   69

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [44]:
# #13. Belgium

# ms_belgium <- msc_laps %>%
#                 filter(raceId %in% belgium_race_ID) 

# ms_belgium_clean <- ms_belgium %>%
#                         group_by(raceId) %>%
#                         summarize(n = n()) %>%
#                         arrange(desc(n)) 
# ms_belgium_clean
# ms_belgium_clean_ID <- ms_belgium_clean %>%
#                         pull(raceId)


# ### SPLITTING DATA

# ms_belgium_races <- msc_laps %>%
#                     filter(raceId %in% ms_belgium_clean_ID)

# ms_belgium_split <- initial_split(ms_belgium_races, prop = 0.75, strata = milliseconds)

# ms_belgium_train <- training(ms_belgium_split)

# ms_belgium_test <- testing(ms_belgium_split) 


# ### USING DATA

# ms_belgium_lap_times <- ms_belgium_train %>%
#                         group_by(lap) %>%
#                         summarize(lap_time_avg = mean(milliseconds)) 
                        

# ms_belgium_avg_race_time <- ms_belgium_lap_times %>%
#                             mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
#                             select(lap_time_avg_mins) %>%
#                             map(sum)

In [45]:
#14. Netherlands

ms_netherlands <- msc_laps %>%
                filter(raceId %in% netherlands_race_ID) 

ms_netherlands_clean <- ms_netherlands %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ms_netherlands_clean
ms_netherlands_clean_ID <- ms_netherlands_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_netherlands_races <- msc_laps %>%
                    filter(raceId %in% ms_netherlands_clean_ID)

ms_netherlands_split <- initial_split(ms_netherlands_races, prop = 0.75, strata = milliseconds)

ms_netherlands_train <- training(ms_netherlands_split)

ms_netherlands_test <- testing(ms_netherlands_split) 


### USING DATA

ms_netherlands_lap_times <- ms_netherlands_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_netherlands_avg_race_time <- ms_netherlands_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1064   69

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [46]:
#15. Italy, Monza

ms_monza <- msc_laps %>%
                filter(raceId %in% monza_race_ID) 

ms_monza_clean <- ms_monza %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
ms_monza_clean
ms_monza_clean_ID <- ms_monza_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_monza_races <- msc_laps %>%
                    filter(raceId %in% ms_monza_clean_ID)

ms_monza_split <- initial_split(ms_monza_races, prop = 0.75, strata = milliseconds)

ms_monza_train <- training(ms_monza_split)

ms_monza_test <- testing(ms_monza_split) 


### USING DATA

ms_monza_lap_times <- ms_monza_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_monza_avg_race_time <- ms_monza_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1065   53

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [47]:
# #16. Singapore

# ms_singapore <- msc_laps %>%
#                 filter(raceId %in% singapore_race_ID) 

# ms_singapore_clean <- ms_singapore %>%
#                         group_by(raceId) %>%
#                         summarize(n = n()) %>%
#                         arrange(desc(n)) 
# ms_singapore_clean
# ms_singapore_clean_ID <- ms_singapore_clean %>%
#                         pull(raceId)


# ### SPLITTING DATA

# ms_singapore_races <- msc_laps %>%
#                     filter(raceId %in% ms_singapore_clean_ID)

# ms_singapore_split <- initial_split(ms_singapore_races, prop = 0.75, strata = milliseconds)

# ms_singapore_train <- training(ms_singapore_split)

# ms_singapore_test <- testing(ms_singapore_split) 


# ### USING DATA

# ms_singapore_lap_times <- ms_singapore_train %>%
#                         group_by(lap) %>%
#                         summarize(lap_time_avg = mean(milliseconds)) 
                        

# ms_singapore_avg_race_time <- ms_singapore_lap_times %>%
#                             mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
#                             select(lap_time_avg_mins) %>%
#                             map(sum)

In [48]:
# #17. Japan

# ms_japan <- msc_laps %>%
#                 filter(raceId %in% japan_race_ID) 

# ms_japan_clean <- ms_japan %>%
#                         group_by(raceId) %>%
#                         summarize(n = n()) %>%
#                         arrange(desc(n))
# ms_japan_clean
# ms_japan_clean_ID <- ms_japan_clean %>%
#                         pull(raceId)


# ### SPLITTING DATA

# ms_japan_races <- msc_laps %>%
#                     filter(raceId %in% ms_japan_clean_ID)

# ms_japan_split <- initial_split(ms_japan_races, prop = 0.75, strata = milliseconds)

# ms_japan_train <- training(ms_japan_split)

# ms_japan_test <- testing(ms_japan_split) 


# ### USING DATA

# ms_japan_lap_times <- ms_japan_train %>%
#                         group_by(lap) %>%
#                         summarize(lap_time_avg = mean(milliseconds)) 
                        

# ms_japan_avg_race_time <- ms_japan_lap_times %>%
#                             mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
#                             select(lap_time_avg_mins) %>%
#                             map(sum)

In [49]:
#18. USA, Austin

ms_austin <- msc_laps %>%
                filter(raceId %in% austin_race_ID) 

ms_austin_clean <- ms_austin %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ms_austin_clean
ms_austin_clean_ID <- ms_austin_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_austin_races <- msc_laps %>%
                    filter(raceId %in% ms_austin_clean_ID)

ms_austin_split <- initial_split(ms_austin_races, prop = 0.75, strata = milliseconds)

ms_austin_train <- training(ms_austin_split)

ms_austin_test <- testing(ms_austin_split) 


### USING DATA

ms_austin_lap_times <- ms_austin_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_austin_avg_race_time <- ms_austin_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1069   54

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [50]:
# #19. Mexico

# ms_mexico <- msc_laps %>%
#                 filter(raceId %in% mexico_race_ID) 

# ms_mexico_clean <- ms_mexico %>%
#                         group_by(raceId) %>%
#                         summarize(n = n()) %>%
#                         arrange(desc(n)) 
# ms_mexico_clean
# ms_mexico_clean_ID <- ms_mexico_clean %>%
#                         pull(raceId)


# ### SPLITTING DATA

# ms_mexico_races <- msc_laps %>%
#                     filter(raceId %in% ms_mexico_clean_ID)

# ms_mexico_split <- initial_split(ms_mexico_races, prop = 0.75, strata = milliseconds)

# ms_mexico_train <- training(ms_mexico_split)

# ms_mexico_test <- testing(ms_mexico_split) 


# ### USING DATA

# ms_mexico_lap_times <- ms_mexico_train %>%
#                         group_by(lap) %>%
#                         summarize(lap_time_avg = mean(milliseconds)) 
                        

# ms_mexico_avg_race_time <- ms_mexico_lap_times %>%
#                             mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
#                             select(lap_time_avg_mins) %>%
#                             map(sum)

In [51]:
#20. Brazil

ms_brazil <- msc_laps %>%
                filter(raceId %in% brazil_race_ID) 

ms_brazil_clean <- ms_brazil %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ms_brazil_clean
ms_brazil_clean_ID <- ms_brazil_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_brazil_races <- msc_laps %>%
                    filter(raceId %in% ms_brazil_clean_ID)

ms_brazil_split <- initial_split(ms_brazil_races, prop = 0.75, strata = milliseconds)

ms_brazil_train <- training(ms_brazil_split)

ms_brazil_test <- testing(ms_brazil_split) 


### USING DATA

ms_brazil_lap_times <- ms_brazil_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_brazil_avg_race_time <- ms_brazil_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1071   69

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [52]:
#21. Abu Dhabi

ms_uae <- msc_laps %>%
                filter(raceId %in% uae_race_ID) 

ms_uae_clean <- ms_uae %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
ms_uae_clean
ms_uae_clean_ID <- ms_uae_clean %>%
                        pull(raceId)


### SPLITTING DATA

ms_uae_races <- msc_laps %>%
                    filter(raceId %in% ms_uae_clean_ID)

ms_uae_split <- initial_split(ms_uae_races, prop = 0.75, strata = milliseconds)

ms_uae_train <- training(ms_uae_split)

ms_uae_test <- testing(ms_uae_split) 


### USING DATA

ms_uae_lap_times <- ms_uae_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

ms_uae_avg_race_time <- ms_uae_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1073   57

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)