# Nicholas Latifi
<img src="https://www.formula1.com/content/fom-website/en/drivers/nicholas-latifi/_jcr_content/image.img.1920.medium.jpg/1646819118069.jpg" width="300">

### Team: Williams

<img src ="https://www.formula1.com/content/fom-website/en/drivers/nicholas-latifi/_jcr_content/helmet.img.png/1646824698284.png" width="200">

In [29]:
library (tidyverse)
library (tidymodels)

In [30]:
# Reading dataset files

circuits <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/circuits.csv")

constructor_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_standings.csv") 

constructor_results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_results.csv") 
    
constructors <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructors.csv")

drivers <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/drivers.csv")

driver_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv")

lap_times <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv") 

pit_stops <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/pit_stops.csv")
           
qualifying <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/qualifying.csv") 

results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv") 

races <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/races.csv") 

status <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/status.csv")

Parsed with column specification:
cols(
  circuitId = col_double(),
  circuitRef = col_character(),
  name = col_character(),
  location = col_character(),
  country = col_character(),
  lat = col_double(),
  lng = col_double(),
  alt = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  constructorStandingsId = col_double(),
  raceId = col_double(),
  constructorId = col_double(),
  points = col_double(),
  position = col_double(),
  positionText = col_character(),
  wins = col_double()
)

Parsed with column specification:
cols(
  constructorResultsId = col_double(),
  raceId = col_double(),
  constructorId = col_double(),
  points = col_double(),
  status = col_character()
)

Parsed with column specification:
cols(
  constructorId = col_double(),
  constructorRef = col_character(),
  name = col_character(),
  nationality = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  driverId = col_double(),
  driverRef = col_character(),
  number = col_character(),
  code = col_character(),
  forename = col_character(),
  surname = col_character(),
  dob = col_date(format = ""),
  nationality = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  driverStandingsId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  points = col_double(),
  position = col_double(),
  positionText = col_double(),
  wins = col_double()
)

Warning message:
“21 parsing failures.
  row          col expected actual                                                                                                      file
 4376 positionText a double      D 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33375 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33376 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33377 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33378 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
..... ............ ........ ...... .........................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  driverId = col_double(),
  lap = col_double(),
  position = col_double(),
  time = col_time(format = ""),
  milliseconds = col_double()
)

Warning message:
“223 parsing failures.
  row  col   expected    actual                                                                                               file
25038 time valid date 52:17.033 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25094 time valid date 52:17.014 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25150 time valid date 52:16.250 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25206 time valid date 52:16.891 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25262 time valid date 52:17.452 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
..... .... .......... ......... ..................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  driverId = col_double(),
  stop = col_double(),
  lap = col_double(),
  time = col_time(format = ""),
  duration = col_character(),
  milliseconds = col_double()
)

Parsed with column specification:
cols(
  qualifyId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  constructorId = col_double(),
  number = col_double(),
  position = col_double(),
  q1 = col_character(),
  q2 = col_character(),
  q3 = col_character()
)

Parsed with column specification:
cols(
  resultId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  constructorId = col_double(),
  number = col_double(),
  grid = col_double(),
  position = col_character(),
  positionText = col_character(),
  positionOrder = col_double(),
  points = col_double(),
  laps = col_double(),
  time = col_character(),
  milliseconds = col_character(),
  fastestLap = col_character(),
  rank = col_character(),
  fastestLapTime = col_character(),
  fastestLapSpeed = col_character(),
  statusId = col_double()
)

Warning message:
“6 parsing failures.
  row    col expected actual                                                                                             file
17716 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17717 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17718 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17719 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17940 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
..... ...... ........ ...... ................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  year = col_double(),
  round = col_double(),
  circuitId = col_double(),
  name = col_character(),
  date = col_date(format = ""),
  time = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  statusId = col_double(),
  status = col_character()
)

In [31]:
# Filtering 2022 GP circuits 

# Vector of 2022 GP locations

locations_2022 <- c("Sakhir", "Jeddah", "Melbourne", "Imola", "Miami", "Montmeló", "Monte-Carlo", "Baku", "Montreal", "Silverstone", "Spielberg", 
                    "Le Castellet", "Budapest", "Spa", "Zandvoort", "Monza", "Sochi", "Marina Bay", "Suzuka", "Austin", "Mexico City", "São Paulo", "Abu Dhabi")

# Filtering circuit data set by locations vector 

circuits_2022 <- circuits %>% 
           filter(location %in% locations_2022) %>%
           filter(name != "A1-Ring") %>%
           select(circuitId:alt)


# Extracting 2022 circuit ID's 


circuit_ids <- circuits_2022 %>%
              pull(circuitId)

# Extracting 2022 circuit name and ID's


circuits_IDS <- circuits_2022 %>%
                select(circuitId, name, country, location) %>% 
                arrange(country)

In [32]:
# Filtering 2022 Constructors

team_names <- c("Alfa Romeo", "AlphaTauri", "Alpine F1 Team", "Aston Martin", "Ferrari", 
                "Haas F1 Team", "McLaren", "Mercedes", "Red Bull", "Williams")

teams_2022 <- constructors %>%
                 filter(name %in% team_names)

# Extracting 2022 Constructor ID's

constructor_ids <- teams_2022 %>%
              pull(constructorId)

In [33]:
# Filtering 2022 Drivers

driver_surnames <- c("Hamilton", "Russell", "Albon", "Zhou", "Bottas", "Gasly", "Tsunoda", "Alonso", "Ocon", "Vettel", "Stroll", 
                     "Leclerc", "Sainz", "Magnussen", "Schumacher", "Ricciardo", "Norris", "Verstappen", "Pérez", "Latifi")
 
drivers_2022 <- drivers %>%
                filter(surname %in% driver_surnames) %>%
                filter(!(forename %in% c("Ralf", "Michael", "Jos", "Duncan", "Jan")))

# Extracting Driver IDS

driver_ids <- drivers_2022 %>%
              pull(driverId)

# Extracting Driver Codes

driver_codes <- drivers_2022 %>%
              pull(code)

# Combining IDS and Codes

driver_id_code <- data.frame(driver_ids, driver_codes)

In [34]:
#### Filtering Race Data for 2022 Races

past_2022_races <- races %>%
                    filter(circuitId %in% circuit_ids) %>%
                    filter(year != "2022")

##### Extracting Race ID's

race_ids <- past_2022_races %>%
            pull(raceId)


##### Filtering Race Data For All 23 Circuits

#############################################

bahrain <- past_2022_races %>% 
            filter(circuitId == 3) %>%
            arrange(desc(year))

bahrain_race_ID <- bahrain %>%
                pull(raceId)

#############################################

sa <- past_2022_races %>% 
            filter(circuitId == 77) %>%
            arrange(desc(year))

saudi_race_ID <- sa %>%
                pull(raceId)

#############################################

aus <- past_2022_races %>% 
            filter(circuitId == 1) %>%
            arrange(desc(year))

aus_race_ID <- aus %>%
                pull(raceId)

#############################################

imola <- past_2022_races %>% 
            filter(circuitId == 21) %>%
            arrange(desc(year))

imola_race_ID <- imola %>%
                pull(raceId)

#############################################

miami <- past_2022_races %>% 
            filter(circuitId == 79) %>%
            arrange(desc(year))

miami_race_ID <- miami %>%
                pull(raceId)

#############################################

spain <- past_2022_races %>% 
            filter(circuitId == 4) %>%
            arrange(desc(year))

spain_race_ID <- spain %>%
                pull(raceId)

#############################################

monaco <- past_2022_races %>% 
            filter(circuitId == 6) %>%
            arrange(desc(year))

monaco_race_ID <- monaco %>%
                pull(raceId)

#############################################

azerbaijan <- past_2022_races %>% 
            filter(circuitId == 73) %>%
            arrange(desc(year))

azerbaijan_race_ID <- azerbaijan %>%
                pull(raceId)

#############################################

canada <- past_2022_races %>% 
            filter(circuitId == 7) %>%
            arrange(desc(year))

canada_race_ID <- canada %>%
                pull(raceId)

#############################################

uk <- past_2022_races %>% 
            filter(circuitId == 9) %>%
            arrange(desc(year))


uk_race_ID <- uk %>%
                pull(raceId)

#############################################

austria <- past_2022_races %>% 
            filter(circuitId == 70) %>%
            arrange(desc(year))


austria_race_ID <- austria %>%
                pull(raceId)

#############################################

france <- past_2022_races %>% 
            filter(circuitId == 34) %>%
            arrange(desc(year))


france_race_ID <- france %>%
                pull(raceId)

#############################################

hungary <- past_2022_races %>% 
            filter(circuitId == 11) %>%
            arrange(desc(year))


hungary_race_ID <- hungary %>%
                pull(raceId)

#############################################

belgium <- past_2022_races %>% 
            filter(circuitId == 13) %>%
            arrange(desc(year))


belgium_race_ID <- belgium %>%
                pull(raceId)

#############################################

netherlands <- past_2022_races %>% 
            filter(circuitId == 39) %>%
            arrange(desc(year))


netherlands_race_ID <- netherlands %>%
                pull(raceId)

#############################################

monza <- past_2022_races %>% 
            filter(circuitId == 14) %>%
            arrange(desc(year))

monza_race_ID <- monza %>%
                pull(raceId)

#############################################

singapore <- past_2022_races %>% 
            filter(circuitId == 15) %>%
            arrange(desc(year))

singapore_race_ID <- singapore %>%
                pull(raceId)

#############################################

japan <- past_2022_races %>% 
            filter(circuitId == 22) %>%
            arrange(desc(year))

japan_race_ID <- japan %>%
                pull(raceId)

#############################################

austin <- past_2022_races %>% 
            filter(circuitId == 69) %>%
            arrange(desc(year))

austin_race_ID <- austin %>%
                pull(raceId)

#############################################

mexico <- past_2022_races %>% 
            filter(circuitId == 32) %>%
            arrange(desc(year))

mexico_race_ID <- mexico %>%
                pull(raceId)

#############################################

brazil <- past_2022_races %>% 
            filter(circuitId == 18) %>%
            arrange(desc(year))

brazil_race_ID <- brazil %>%
                pull(raceId)

#############################################

uae <- past_2022_races %>% 
            filter(circuitId == 24) %>%
            arrange(desc(year))

uae_race_ID <- uae %>%
                pull(raceId)

In [35]:
lap_data <- lap_times %>%
            filter(driverId %in% driver_ids) %>%
            filter(raceId %in% race_ids)

lat_laps <- lap_data %>%
            filter(driverId == 849)

In [36]:
#1. Bahrain 

nl_bahrain <- lat_laps %>%
                filter(raceId %in% bahrain_race_ID) 

nl_bahrain_clean <- nl_bahrain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
nl_bahrain_clean
nl_bahrain_clean_ID <- nl_bahrain_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_bahrain_races <- lat_laps %>%
                    filter(raceId %in% nl_bahrain_clean_ID)

nl_bahrain_split <- initial_split(nl_bahrain_races, prop = 0.75, strata = milliseconds)

nl_bahrain_train <- training(nl_bahrain_split)

nl_bahrain_test <- testing(nl_bahrain_split) 


### USING DATA

nl_bahrain_lap_times <- nl_bahrain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_bahrain_avg_race_time <- nl_bahrain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1045   56
2 1046   52
3 1052   51

`summarise()` ungrouping output (override with `.groups` argument)

In [37]:
#2. Saudi Arabia

nl_saudi <- lat_laps %>%
                filter(raceId %in% saudi_race_ID) 

nl_saudi_clean <- nl_saudi %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_saudi_clean
nl_saudi_clean_ID <- nl_saudi_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_saudi_races <- lat_laps %>%
                    filter(raceId %in% nl_saudi_clean_ID)

nl_saudi_split <- initial_split(nl_saudi_races, prop = 0.75, strata = milliseconds)

nl_saudi_train <- training(nl_saudi_split)

nl_saudi_test <- testing(nl_saudi_split) 


### USING DATA

nl_saudi_lap_times <- nl_saudi_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_saudi_avg_race_time <- nl_saudi_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1072   50

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [38]:
# #3. Australia

# nl_aus <- lat_laps %>%
#                 filter(raceId %in% aus_race_ID) 

# nl_aus_clean <- nl_aus %>%
#                         group_by(raceId) %>%
#                         summarize(n = n()) %>%
#                         arrange(desc(n)) 
# nl_aus_clean
# nl_aus_clean_ID <- nl_aus_clean %>%
#                         pull(raceId)


# ### SPLITTING DATA

# nl_aus_races <- lat_laps %>%
#                     filter(raceId %in% nl_aus_clean_ID)

# nl_aus_split <- initial_split(nl_aus_races, prop = 0.75, strata = milliseconds)

# nl_aus_train <- training(nl_aus_split)

# nl_aus_test <- testing(nl_aus_split) 


# ### USING DATA

# nl_aus_lap_times <- nl_aus_train %>%
#                         group_by(lap) %>%
#                         summarize(lap_time_avg = mean(milliseconds)) 
                        

# nl_aus_avg_race_time <- nl_aus_lap_times %>%
#                             mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
#                             select(lap_time_avg_mins) %>%
#                             map(sum)

In [39]:
#4. Italy, Imola

nl_imola <- lat_laps %>%
                filter(raceId %in% imola_race_ID) 

nl_imola_clean <- nl_imola %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_imola_clean
nl_imola_clean_ID <- nl_imola_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_imola_races <- lat_laps %>%
                    filter(raceId %in% nl_imola_clean_ID)

nl_imola_split <- initial_split(nl_imola_races, prop = 0.75, strata = milliseconds)

nl_imola_train <- training(nl_imola_split)

nl_imola_test <- testing(nl_imola_split) 


### USING DATA

nl_imola_lap_times <- nl_imola_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_imola_avg_race_time <- nl_imola_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1043   63

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [40]:
#5. Spain

nl_spain <- lat_laps %>%
                filter(raceId %in% spain_race_ID) 

nl_spain_clean <- nl_spain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_spain_clean
nl_spain_clean_ID <- nl_spain_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_spain_races <- lat_laps %>%
                    filter(raceId %in% nl_spain_clean_ID)

nl_spain_split <- initial_split(nl_spain_races, prop = 0.75, strata = milliseconds)

nl_spain_train <- training(nl_spain_split)

nl_spain_test <- testing(nl_spain_split) 


### USING DATA

nl_spain_lap_times <- nl_spain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_spain_avg_race_time <- nl_spain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1055   65
2 1036   64

`summarise()` ungrouping output (override with `.groups` argument)

In [41]:
#6. Monaco

nl_monaco <- lat_laps %>%
                filter(raceId %in% monaco_race_ID) 

nl_monaco_clean <- nl_monaco %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_monaco_clean
nl_monaco_clean_ID <- nl_monaco_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_monaco_races <- lat_laps %>%
                    filter(raceId %in% nl_monaco_clean_ID)

nl_monaco_split <- initial_split(nl_monaco_races, prop = 0.75, strata = milliseconds)

nl_monaco_train <- training(nl_monaco_split)

nl_monaco_test <- testing(nl_monaco_split) 


### USING DATA

nl_monaco_lap_times <- nl_monaco_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_monaco_avg_race_time <- nl_monaco_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1056   77

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [42]:
#7. Azerbaijan

nl_azerbaijan <- lat_laps %>%
                filter(raceId %in% azerbaijan_race_ID) 

nl_azerbaijan_clean <- nl_azerbaijan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_azerbaijan_clean
nl_azerbaijan_clean_ID <- nl_azerbaijan_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_azerbaijan_races <- lat_laps %>%
                    filter(raceId %in% nl_azerbaijan_clean_ID)

nl_azerbaijan_split <- initial_split(nl_azerbaijan_races, prop = 0.75, strata = milliseconds)

nl_azerbaijan_train <- training(nl_azerbaijan_split)

nl_azerbaijan_test <- testing(nl_azerbaijan_split) 


### USING DATA

nl_azerbaijan_lap_times <- nl_azerbaijan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_azerbaijan_avg_race_time <- nl_azerbaijan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1057   51

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [43]:
# #8. Canada

# nl_canada <- lat_laps %>%
#                 filter(raceId %in% canada_race_ID) 

# nl_canada_clean <- nl_canada %>%
#                         group_by(raceId) %>%
#                         summarize(n = n()) %>%
#                         arrange(desc(n)) 
# nl_canada_clean
# nl_canada_clean_ID <- nl_canada_clean %>%
#                         pull(raceId)


# ### SPLITTING DATA

# nl_canada_races <- lat_laps %>%
#                     filter(raceId %in% nl_canada_clean_ID)

# nl_canada_split <- initial_split(nl_canada_races, prop = 0.75, strata = milliseconds)

# nl_canada_train <- training(nl_canada_split)

# nl_canada_test <- testing(nl_canada_split) 


# ### USING DATA

# nl_canada_lap_times <- nl_canada_train %>%
#                         group_by(lap) %>%
#                         summarize(lap_time_avg = mean(milliseconds)) 
                        

# nl_canada_avg_race_time <- nl_canada_lap_times %>%
#                             mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
#                             select(lap_time_avg_mins) %>%
#                             map(sum)

In [44]:
#9. Great Britain

nl_uk <- lat_laps %>%
                filter(raceId %in% uk_race_ID) 

nl_uk_clean <- nl_uk %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_uk_clean
nl_uk_clean_ID <- nl_uk_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_uk_races <- lat_laps %>%
                    filter(raceId %in% nl_uk_clean_ID)

nl_uk_split <- initial_split(nl_uk_races, prop = 0.75, strata = milliseconds)

nl_uk_train <- training(nl_uk_split)

nl_uk_test <- testing(nl_uk_split) 


### USING DATA

nl_uk_lap_times <- nl_uk_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_uk_avg_race_time <- nl_uk_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1034   52
2 1035   51
3 1061   51

`summarise()` ungrouping output (override with `.groups` argument)

In [45]:
#10. Austria

nl_austria <- lat_laps %>%
                filter(raceId %in% austria_race_ID) 

nl_austria_clean <- nl_austria %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_austria_clean
nl_austria_clean_ID <- nl_austria_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_austria_races <- lat_laps %>%
                    filter(raceId %in% nl_austria_clean_ID)

nl_austria_split <- initial_split(nl_austria_races, prop = 0.75, strata = milliseconds)

nl_austria_train <- training(nl_austria_split)

nl_austria_test <- testing(nl_austria_split) 


### USING DATA

nl_austria_lap_times <- nl_austria_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_austria_avg_race_time <- nl_austria_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1031   71
2 1060   70
3 1032   69
4 1058   68

`summarise()` ungrouping output (override with `.groups` argument)

In [46]:
#11. France

nl_france <- lat_laps %>%
                filter(raceId %in% france_race_ID) 

nl_france_clean <- nl_france %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_france_clean
nl_france_clean_ID <- nl_france_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_france_races <- lat_laps %>%
                    filter(raceId %in% nl_france_clean_ID)

nl_france_split <- initial_split(nl_france_races, prop = 0.75, strata = milliseconds)

nl_france_train <- training(nl_france_split)

nl_france_test <- testing(nl_france_split) 


### USING DATA

nl_france_lap_times <- nl_france_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_france_avg_race_time <- nl_france_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1059   52

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [47]:
#12. Hungary

nl_hungary <- lat_laps %>%
                filter(raceId %in% hungary_race_ID) 

nl_hungary_clean <- nl_hungary %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))                      
nl_hungary_clean
nl_hungary_clean_ID <- nl_hungary_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_hungary_races <- lat_laps %>%
                    filter(raceId %in% nl_hungary_clean_ID)

nl_hungary_split <- initial_split(nl_hungary_races, prop = 0.75, strata = milliseconds)

nl_hungary_train <- training(nl_hungary_split)

nl_hungary_test <- testing(nl_hungary_split) 


### USING DATA

nl_hungary_lap_times <- nl_hungary_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_hungary_avg_race_time <- nl_hungary_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1062   70
2 1033   65

`summarise()` ungrouping output (override with `.groups` argument)

In [48]:
#13. Belgium

nl_belgium <- lat_laps %>%
                filter(raceId %in% belgium_race_ID) 

nl_belgium_clean <- nl_belgium %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_belgium_clean
nl_belgium_clean_ID <- nl_belgium_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_belgium_races <- lat_laps %>%
                    filter(raceId %in% nl_belgium_clean_ID)

nl_belgium_split <- initial_split(nl_belgium_races, prop = 0.75, strata = milliseconds)

nl_belgium_train <- training(nl_belgium_split)

nl_belgium_test <- testing(nl_belgium_split) 


### USING DATA

nl_belgium_lap_times <- nl_belgium_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_belgium_avg_race_time <- nl_belgium_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1037   44
2 1063    1

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [49]:
#14. Netherlands

nl_netherlands <- lat_laps %>%
                filter(raceId %in% netherlands_race_ID) 

nl_netherlands_clean <- nl_netherlands %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_netherlands_clean
nl_netherlands_clean_ID <- nl_netherlands_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_netherlands_races <- lat_laps %>%
                    filter(raceId %in% nl_netherlands_clean_ID)

nl_netherlands_split <- initial_split(nl_netherlands_races, prop = 0.75, strata = milliseconds)

nl_netherlands_train <- training(nl_netherlands_split)

nl_netherlands_test <- testing(nl_netherlands_split) 


### USING DATA

nl_netherlands_lap_times <- nl_netherlands_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_netherlands_avg_race_time <- nl_netherlands_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1064   70

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [50]:
#15. Italy, Monza

nl_monza <- lat_laps %>%
                filter(raceId %in% monza_race_ID) 

nl_monza_clean <- nl_monza %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
nl_monza_clean
nl_monza_clean_ID <- nl_monza_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_monza_races <- lat_laps %>%
                    filter(raceId %in% nl_monza_clean_ID)

nl_monza_split <- initial_split(nl_monza_races, prop = 0.75, strata = milliseconds)

nl_monza_train <- training(nl_monza_split)

nl_monza_test <- testing(nl_monza_split) 


### USING DATA

nl_monza_lap_times <- nl_monza_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_monza_avg_race_time <- nl_monza_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1038   53
2 1065   53

`summarise()` ungrouping output (override with `.groups` argument)

In [51]:
# #16. Singapore

# nl_singapore <- lat_laps %>%
#                 filter(raceId %in% singapore_race_ID) 

# nl_singapore_clean <- nl_singapore %>%
#                         group_by(raceId) %>%
#                         summarize(n = n()) %>%
#                         arrange(desc(n)) 
# nl_singapore_clean
# nl_singapore_clean_ID <- nl_singapore_clean %>%
#                         pull(raceId)


# ### SPLITTING DATA

# nl_singapore_races <- lat_laps %>%
#                     filter(raceId %in% nl_singapore_clean_ID)

# nl_singapore_split <- initial_split(nl_singapore_races, prop = 0.75, strata = milliseconds)

# nl_singapore_train <- training(nl_singapore_split)

# nl_singapore_test <- testing(nl_singapore_split) 


# ### USING DATA

# nl_singapore_lap_times <- nl_singapore_train %>%
#                         group_by(lap) %>%
#                         summarize(lap_time_avg = mean(milliseconds)) 
                        

# nl_singapore_avg_race_time <- nl_singapore_lap_times %>%
#                             mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
#                             select(lap_time_avg_mins) %>%
#                             map(sum)

In [52]:
# #17. Japan

# nl_japan <- lat_laps %>%
#                 filter(raceId %in% japan_race_ID) 

# nl_japan_clean <- nl_japan %>%
#                         group_by(raceId) %>%
#                         summarize(n = n()) %>%
#                         arrange(desc(n))
# nl_japan_clean
# nl_japan_clean_ID <- nl_japan_clean %>%
#                         pull(raceId)


# ### SPLITTING DATA

# nl_japan_races <- lat_laps %>%
#                     filter(raceId %in% nl_japan_clean_ID)

# nl_japan_split <- initial_split(nl_japan_races, prop = 0.75, strata = milliseconds)

# nl_japan_train <- training(nl_japan_split)

# nl_japan_test <- testing(nl_japan_split) 


# ### USING DATA

# nl_japan_lap_times <- nl_japan_train %>%
#                         group_by(lap) %>%
#                         summarize(lap_time_avg = mean(milliseconds)) 
                        

# nl_japan_avg_race_time <- nl_japan_lap_times %>%
#                             mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
#                             select(lap_time_avg_mins) %>%
#                             map(sum)

In [53]:
#18 USA, Austin

nl_austin <- lat_laps %>%
                filter(raceId %in% austin_race_ID) 

nl_austin_clean <- nl_austin %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_austin_clean
nl_austin_clean_ID <- nl_austin_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_austin_races <- lat_laps %>%
                    filter(raceId %in% nl_austin_clean_ID)

nl_austin_split <- initial_split(nl_austin_races, prop = 0.75, strata = milliseconds)

nl_austin_train <- training(nl_austin_split)

nl_austin_test <- testing(nl_austin_split) 


### USING DATA

nl_austin_lap_times <- nl_austin_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_austin_avg_race_time <- nl_austin_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1069   55

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [54]:
#19. Mexico

nl_mexico <- lat_laps %>%
                filter(raceId %in% mexico_race_ID) 

nl_mexico_clean <- nl_mexico %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_mexico_clean
nl_mexico_clean_ID <- nl_mexico_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_mexico_races <- lat_laps %>%
                    filter(raceId %in% nl_mexico_clean_ID)

nl_mexico_split <- initial_split(nl_mexico_races, prop = 0.75, strata = milliseconds)

nl_mexico_train <- training(nl_mexico_split)

nl_mexico_test <- testing(nl_mexico_split) 


### USING DATA

nl_mexico_lap_times <- nl_mexico_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_mexico_avg_race_time <- nl_mexico_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1070   69

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [55]:
#20. Brazil

nl_brazil <- lat_laps %>%
                filter(raceId %in% brazil_race_ID) 

nl_brazil_clean <- nl_brazil %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_brazil_clean
nl_brazil_clean_ID <- nl_brazil_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_brazil_races <- lat_laps %>%
                    filter(raceId %in% nl_brazil_clean_ID)

nl_brazil_split <- initial_split(nl_brazil_races, prop = 0.75, strata = milliseconds)

nl_brazil_train <- training(nl_brazil_split)

nl_brazil_test <- testing(nl_brazil_split) 


### USING DATA

nl_brazil_lap_times <- nl_brazil_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_brazil_avg_race_time <- nl_brazil_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1071   70

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [56]:
#21. Abu Dhabi

nl_uae <- lat_laps %>%
                filter(raceId %in% uae_race_ID) 

nl_uae_clean <- nl_uae %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
nl_uae_clean
nl_uae_clean_ID <- nl_uae_clean %>%
                        pull(raceId)


### SPLITTING DATA

nl_uae_races <- lat_laps %>%
                    filter(raceId %in% nl_uae_clean_ID)

nl_uae_split <- initial_split(nl_uae_races, prop = 0.75, strata = milliseconds)

nl_uae_train <- training(nl_uae_split)

nl_uae_test <- testing(nl_uae_split) 


### USING DATA

nl_uae_lap_times <- nl_uae_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

nl_uae_avg_race_time <- nl_uae_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1047   54
2 1073   50

`summarise()` ungrouping output (override with `.groups` argument)