# Pierre Gasly
<img src="https://www.formula1.com/content/fom-website/en/drivers/pierre-gasly/_jcr_content/image.img.1920.medium.jpg/1646819179303.jpg" width="300">

### Team: AlphaTauri

<img src ="https://www.formula1.com/content/fom-website/en/drivers/pierre-gasly/_jcr_content/helmet.img.png/1646824648814.png" width="200">

In [30]:
library (tidyverse)
library (tidymodels)

In [31]:
# Reading dataset files

circuits <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/circuits.csv")

constructor_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_standings.csv") 

constructor_results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_results.csv") 
    
constructors <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructors.csv")

drivers <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/drivers.csv")

driver_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv")

lap_times <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv") 

pit_stops <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/pit_stops.csv")
           
qualifying <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/qualifying.csv") 

results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv") 

races <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/races.csv") 

status <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/status.csv")

Parsed with column specification:
cols(
  circuitId = col_double(),
  circuitRef = col_character(),
  name = col_character(),
  location = col_character(),
  country = col_character(),
  lat = col_double(),
  lng = col_double(),
  alt = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  constructorStandingsId = col_double(),
  raceId = col_double(),
  constructorId = col_double(),
  points = col_double(),
  position = col_double(),
  positionText = col_character(),
  wins = col_double()
)

Parsed with column specification:
cols(
  constructorResultsId = col_double(),
  raceId = col_double(),
  constructorId = col_double(),
  points = col_double(),
  status = col_character()
)

Parsed with column specification:
cols(
  constructorId = col_double(),
  constructorRef = col_character(),
  name = col_character(),
  nationality = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  driverId = col_double(),
  driverRef = col_character(),
  number = col_character(),
  code = col_character(),
  forename = col_character(),
  surname = col_character(),
  dob = col_date(format = ""),
  nationality = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  driverStandingsId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  points = col_double(),
  position = col_double(),
  positionText = col_double(),
  wins = col_double()
)

Warning message:
“21 parsing failures.
  row          col expected actual                                                                                                      file
 4376 positionText a double      D 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33375 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33376 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33377 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33378 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
..... ............ ........ ...... .........................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  driverId = col_double(),
  lap = col_double(),
  position = col_double(),
  time = col_time(format = ""),
  milliseconds = col_double()
)

Warning message:
“223 parsing failures.
  row  col   expected    actual                                                                                               file
25038 time valid date 52:17.033 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25094 time valid date 52:17.014 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25150 time valid date 52:16.250 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25206 time valid date 52:16.891 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25262 time valid date 52:17.452 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
..... .... .......... ......... ..................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  driverId = col_double(),
  stop = col_double(),
  lap = col_double(),
  time = col_time(format = ""),
  duration = col_character(),
  milliseconds = col_double()
)

Parsed with column specification:
cols(
  qualifyId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  constructorId = col_double(),
  number = col_double(),
  position = col_double(),
  q1 = col_character(),
  q2 = col_character(),
  q3 = col_character()
)

Parsed with column specification:
cols(
  resultId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  constructorId = col_double(),
  number = col_double(),
  grid = col_double(),
  position = col_character(),
  positionText = col_character(),
  positionOrder = col_double(),
  points = col_double(),
  laps = col_double(),
  time = col_character(),
  milliseconds = col_character(),
  fastestLap = col_character(),
  rank = col_character(),
  fastestLapTime = col_character(),
  fastestLapSpeed = col_character(),
  statusId = col_double()
)

Warning message:
“6 parsing failures.
  row    col expected actual                                                                                             file
17716 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17717 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17718 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17719 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17940 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
..... ...... ........ ...... ................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  year = col_double(),
  round = col_double(),
  circuitId = col_double(),
  name = col_character(),
  date = col_date(format = ""),
  time = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  statusId = col_double(),
  status = col_character()
)

In [32]:
# Filtering 2022 GP circuits 

# Vector of 2022 GP locations

locations_2022 <- c("Sakhir", "Jeddah", "Melbourne", "Imola", "Miami", "Montmeló", "Monte-Carlo", "Baku", "Montreal", "Silverstone", "Spielberg", 
                    "Le Castellet", "Budapest", "Spa", "Zandvoort", "Monza", "Sochi", "Marina Bay", "Suzuka", "Austin", "Mexico City", "São Paulo", "Abu Dhabi")

# Filtering circuit data set by locations vector 

circuits_2022 <- circuits %>% 
           filter(location %in% locations_2022) %>%
           filter(name != "A1-Ring") %>%
           select(circuitId:alt)


# Extracting 2022 circuit ID's 


circuit_ids <- circuits_2022 %>%
              pull(circuitId)

# Extracting 2022 circuit name and ID's


circuits_IDS <- circuits_2022 %>%
                select(circuitId, name, country, location) %>% 
                arrange(country)

In [33]:
# Filtering 2022 Constructors

team_names <- c("Alfa Romeo", "AlphaTauri", "Alpine F1 Team", "Aston Martin", "Ferrari", 
                "Haas F1 Team", "McLaren", "Mercedes", "Red Bull", "Williams")

teams_2022 <- constructors %>%
                 filter(name %in% team_names)

# Extracting 2022 Constructor ID's

constructor_ids <- teams_2022 %>%
              pull(constructorId)

In [34]:
# Filtering 2022 Drivers

driver_surnames <- c("Hamilton", "Russell", "Albon", "Zhou", "Bottas", "Gasly", "Tsunoda", "Alonso", "Ocon", "Vettel", "Stroll", 
                     "Leclerc", "Sainz", "Magnussen", "Schumacher", "Ricciardo", "Norris", "Verstappen", "Pérez", "Latifi")
 
drivers_2022 <- drivers %>%
                filter(surname %in% driver_surnames) %>%
                filter(!(forename %in% c("Ralf", "Michael", "Jos", "Duncan", "Jan")))

# Extracting Driver IDS

driver_ids <- drivers_2022 %>%
              pull(driverId)

# Extracting Driver Codes

driver_codes <- drivers_2022 %>%
              pull(code)

# Combining IDS and Codes

driver_id_code <- data.frame(driver_ids, driver_codes)

In [35]:
#### Filtering Race Data for 2022 Races

past_2022_races <- races %>%
                    filter(circuitId %in% circuit_ids) %>%
                    filter(year != "2022")

##### Extracting Race ID's

race_ids <- past_2022_races %>%
            pull(raceId)


##### Filtering Race Data For All 23 Circuits

#############################################

bahrain <- past_2022_races %>% 
            filter(circuitId == 3) %>%
            arrange(desc(year))

bahrain_race_ID <- bahrain %>%
                pull(raceId)

#############################################

sa <- past_2022_races %>% 
            filter(circuitId == 77) %>%
            arrange(desc(year))

saudi_race_ID <- sa %>%
                pull(raceId)

#############################################

aus <- past_2022_races %>% 
            filter(circuitId == 1) %>%
            arrange(desc(year))

aus_race_ID <- aus %>%
                pull(raceId)

#############################################

imola <- past_2022_races %>% 
            filter(circuitId == 21) %>%
            arrange(desc(year))

imola_race_ID <- imola %>%
                pull(raceId)

#############################################

miami <- past_2022_races %>% 
            filter(circuitId == 79) %>%
            arrange(desc(year))

miami_race_ID <- miami %>%
                pull(raceId)

#############################################

spain <- past_2022_races %>% 
            filter(circuitId == 4) %>%
            arrange(desc(year))

spain_race_ID <- spain %>%
                pull(raceId)

#############################################

monaco <- past_2022_races %>% 
            filter(circuitId == 6) %>%
            arrange(desc(year))

monaco_race_ID <- monaco %>%
                pull(raceId)

#############################################

azerbaijan <- past_2022_races %>% 
            filter(circuitId == 73) %>%
            arrange(desc(year))

azerbaijan_race_ID <- azerbaijan %>%
                pull(raceId)

#############################################

canada <- past_2022_races %>% 
            filter(circuitId == 7) %>%
            arrange(desc(year))

canada_race_ID <- canada %>%
                pull(raceId)

#############################################

uk <- past_2022_races %>% 
            filter(circuitId == 9) %>%
            arrange(desc(year))


uk_race_ID <- uk %>%
                pull(raceId)

#############################################

austria <- past_2022_races %>% 
            filter(circuitId == 70) %>%
            arrange(desc(year))


austria_race_ID <- austria %>%
                pull(raceId)

#############################################

france <- past_2022_races %>% 
            filter(circuitId == 34) %>%
            arrange(desc(year))


france_race_ID <- france %>%
                pull(raceId)

#############################################

hungary <- past_2022_races %>% 
            filter(circuitId == 11) %>%
            arrange(desc(year))


hungary_race_ID <- hungary %>%
                pull(raceId)

#############################################

belgium <- past_2022_races %>% 
            filter(circuitId == 13) %>%
            arrange(desc(year))


belgium_race_ID <- belgium %>%
                pull(raceId)

#############################################

netherlands <- past_2022_races %>% 
            filter(circuitId == 39) %>%
            arrange(desc(year))


netherlands_race_ID <- netherlands %>%
                pull(raceId)

#############################################

monza <- past_2022_races %>% 
            filter(circuitId == 14) %>%
            arrange(desc(year))

monza_race_ID <- monza %>%
                pull(raceId)

#############################################

singapore <- past_2022_races %>% 
            filter(circuitId == 15) %>%
            arrange(desc(year))

singapore_race_ID <- singapore %>%
                pull(raceId)

#############################################

japan <- past_2022_races %>% 
            filter(circuitId == 22) %>%
            arrange(desc(year))

japan_race_ID <- japan %>%
                pull(raceId)

#############################################

austin <- past_2022_races %>% 
            filter(circuitId == 69) %>%
            arrange(desc(year))

austin_race_ID <- austin %>%
                pull(raceId)

#############################################

mexico <- past_2022_races %>% 
            filter(circuitId == 32) %>%
            arrange(desc(year))

mexico_race_ID <- mexico %>%
                pull(raceId)

#############################################

brazil <- past_2022_races %>% 
            filter(circuitId == 18) %>%
            arrange(desc(year))

brazil_race_ID <- brazil %>%
                pull(raceId)

#############################################

uae <- past_2022_races %>% 
            filter(circuitId == 24) %>%
            arrange(desc(year))

uae_race_ID <- uae %>%
                pull(raceId)

In [36]:
# Filtering Lap Data For 2022 Drivers

lap_data <- lap_times %>%
            filter(driverId %in% driver_ids) %>%
            filter(raceId %in% race_ids)

gas_laps <- lap_data %>%
            filter(driverId == 842)

In [37]:
#1. Bahrain 

pg_bahrain <- gas_laps %>%
                filter(raceId %in% bahrain_race_ID) 

pg_bahrain_clean <- pg_bahrain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
pg_bahrain_clean
pg_bahrain_clean_ID <- pg_bahrain_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_bahrain_races <- gas_laps %>%
                    filter(raceId %in% pg_bahrain_clean_ID)

pg_bahrain_split <- initial_split(pg_bahrain_races, prop = 0.75, strata = milliseconds)

pg_bahrain_train <- training(pg_bahrain_split)

pg_bahrain_test <- testing(pg_bahrain_split) 


### USING DATA

pg_bahrain_lap_times <- pg_bahrain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_bahrain_avg_race_time <- pg_bahrain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1046   87
2  990   57
3 1011   57
4 1045   57
5 1052   52

`summarise()` ungrouping output (override with `.groups` argument)

In [38]:
#2. Saudi Arabia

pg_saudi <- gas_laps %>%
                filter(raceId %in% saudi_race_ID) 

pg_saudi_clean <- pg_saudi %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_saudi_clean
pg_saudi_clean_ID <- pg_saudi_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_saudi_races <- gas_laps %>%
                    filter(raceId %in% pg_saudi_clean_ID)

pg_saudi_split <- initial_split(pg_saudi_races, prop = 0.75, strata = milliseconds)

pg_saudi_train <- training(pg_saudi_split)

pg_saudi_test <- testing(pg_saudi_split) 


### USING DATA

pg_saudi_lap_times <- pg_saudi_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_saudi_avg_race_time <- pg_saudi_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1072   50

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [39]:
#3. Australia

pg_aus <- gas_laps %>%
                filter(raceId %in% aus_race_ID) 

pg_aus_clean <- pg_aus %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_aus_clean
pg_aus_clean_ID <- pg_aus_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_aus_races <- gas_laps %>%
                    filter(raceId %in% pg_aus_clean_ID)

pg_aus_split <- initial_split(pg_aus_races, prop = 0.75, strata = milliseconds)

pg_aus_train <- training(pg_aus_split)

pg_aus_test <- testing(pg_aus_split) 


### USING DATA

pg_aus_lap_times <- pg_aus_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_aus_avg_race_time <- pg_aus_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1010   57
2  989   13

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [40]:
#4. Italy, Imola

pg_imola <- gas_laps %>%
                filter(raceId %in% imola_race_ID) 

pg_imola_clean <- pg_imola %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_imola_clean
pg_imola_clean_ID <- pg_imola_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_imola_races <- gas_laps %>%
                    filter(raceId %in% pg_imola_clean_ID)

pg_imola_split <- initial_split(pg_imola_races, prop = 0.75, strata = milliseconds)

pg_imola_train <- training(pg_imola_split)

pg_imola_test <- testing(pg_imola_split) 


### USING DATA

pg_imola_lap_times <- pg_imola_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_imola_avg_race_time <- pg_imola_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1053   63
2 1043    8

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [41]:
#5. Spain

pg_spain <- gas_laps %>%
                filter(raceId %in% spain_race_ID) 

pg_spain_clean <- pg_spain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_spain_clean
pg_spain_clean_ID <- pg_spain_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_spain_races <- gas_laps %>%
                    filter(raceId %in% pg_spain_clean_ID)

pg_spain_split <- initial_split(pg_spain_races, prop = 0.75, strata = milliseconds)

pg_spain_train <- training(pg_spain_split)

pg_spain_test <- testing(pg_spain_split) 


### USING DATA

pg_spain_lap_times <- pg_spain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_spain_avg_race_time <- pg_spain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1014   66
2 1036   65
3 1055   65

`summarise()` ungrouping output (override with `.groups` argument)

In [42]:
#6. Monaco

pg_monaco <- gas_laps %>%
                filter(raceId %in% monaco_race_ID) 

pg_monaco_clean <- pg_monaco %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_monaco_clean
pg_monaco_clean_ID <- pg_monaco_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_monaco_races <- gas_laps %>%
                    filter(raceId %in% pg_monaco_clean_ID)

pg_monaco_split <- initial_split(pg_monaco_races, prop = 0.75, strata = milliseconds)

pg_monaco_train <- training(pg_monaco_split)

pg_monaco_test <- testing(pg_monaco_split) 


### USING DATA

pg_monaco_lap_times <- pg_monaco_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_monaco_avg_race_time <- pg_monaco_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  994   78
2 1015   78
3 1056   78

`summarise()` ungrouping output (override with `.groups` argument)

In [43]:
#7. Azerbaijan

pg_azerbaijan <- gas_laps %>%
                filter(raceId %in% azerbaijan_race_ID) 

pg_azerbaijan_clean <- pg_azerbaijan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_azerbaijan_clean
pg_azerbaijan_clean_ID <- pg_azerbaijan_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_azerbaijan_races <- gas_laps %>%
                    filter(raceId %in% pg_azerbaijan_clean_ID)

pg_azerbaijan_split <- initial_split(pg_azerbaijan_races, prop = 0.75, strata = milliseconds)

pg_azerbaijan_train <- training(pg_azerbaijan_split)

pg_azerbaijan_test <- testing(pg_azerbaijan_split) 


### USING DATA

pg_azerbaijan_lap_times <- pg_azerbaijan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_azerbaijan_avg_race_time <- pg_azerbaijan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  992   51
2 1057   51
3 1013   38

`summarise()` ungrouping output (override with `.groups` argument)

In [44]:
#8. Canada

pg_canada <- gas_laps %>%
                filter(raceId %in% canada_race_ID) 

pg_canada_clean <- pg_canada %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_canada_clean
pg_canada_clean_ID <- pg_canada_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_canada_races <- gas_laps %>%
                    filter(raceId %in% pg_canada_clean_ID)

pg_canada_split <- initial_split(pg_canada_races, prop = 0.75, strata = milliseconds)

pg_canada_train <- training(pg_canada_split)

pg_canada_test <- testing(pg_canada_split) 


### USING DATA

pg_canada_lap_times <- pg_canada_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_canada_avg_race_time <- pg_canada_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1016   69
2  995   67

`summarise()` ungrouping output (override with `.groups` argument)

In [45]:
#9. Great Britain

pg_uk <- gas_laps %>%
                filter(raceId %in% uk_race_ID) 

pg_uk_clean <- pg_uk %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_uk_clean
pg_uk_clean_ID <- pg_uk_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_uk_races <- gas_laps %>%
                    filter(raceId %in% pg_uk_clean_ID)

pg_uk_split <- initial_split(pg_uk_races, prop = 0.75, strata = milliseconds)

pg_uk_train <- training(pg_uk_split)

pg_uk_test <- testing(pg_uk_split) 


### USING DATA

pg_uk_lap_times <- pg_uk_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_uk_avg_race_time <- pg_uk_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  998   52
2 1019   52
3 1034   52
4 1035   52
5 1061   52

`summarise()` ungrouping output (override with `.groups` argument)

In [46]:
#10. Austria

pg_austria <- gas_laps %>%
                filter(raceId %in% austria_race_ID) 

pg_austria_clean <- pg_austria %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_austria_clean
pg_austria_clean_ID <- pg_austria_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_austria_races <- gas_laps %>%
                    filter(raceId %in% pg_austria_clean_ID)

pg_austria_split <- initial_split(pg_austria_races, prop = 0.75, strata = milliseconds)

pg_austria_train <- training(pg_austria_split)

pg_austria_test <- testing(pg_austria_split) 


### USING DATA

pg_austria_lap_times <- pg_austria_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_austria_avg_race_time <- pg_austria_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1031   71
2 1060   71
3  997   70
4 1018   70
5 1032   70
6 1058    1

`summarise()` ungrouping output (override with `.groups` argument)

In [47]:
#11. France

pg_france <- gas_laps %>%
                filter(raceId %in% france_race_ID) 

pg_france_clean <- pg_france %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_france_clean
pg_france_clean_ID <- pg_france_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_france_races <- gas_laps %>%
                    filter(raceId %in% pg_france_clean_ID)

pg_france_split <- initial_split(pg_france_races, prop = 0.75, strata = milliseconds)

pg_france_train <- training(pg_france_split)

pg_france_test <- testing(pg_france_split) 


### USING DATA

pg_france_lap_times <- pg_france_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_france_avg_race_time <- pg_france_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1059   53
2 1017   52

`summarise()` ungrouping output (override with `.groups` argument)

In [48]:
#12. Hungary

pg_hungary <- gas_laps %>%
                filter(raceId %in% hungary_race_ID) 

pg_hungary_clean <- pg_hungary %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))                      
pg_hungary_clean
pg_hungary_clean_ID <- pg_hungary_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_hungary_races <- gas_laps %>%
                    filter(raceId %in% pg_hungary_clean_ID)

pg_hungary_split <- initial_split(pg_hungary_races, prop = 0.75, strata = milliseconds)

pg_hungary_train <- training(pg_hungary_split)

pg_hungary_test <- testing(pg_hungary_split) 


### USING DATA

pg_hungary_lap_times <- pg_hungary_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_hungary_avg_race_time <- pg_hungary_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1000   70
2 1062   70
3 1021   69
4 1033   15

`summarise()` ungrouping output (override with `.groups` argument)

In [49]:
#13. Belgium

pg_belgium <- gas_laps %>%
                filter(raceId %in% belgium_race_ID) 

pg_belgium_clean <- pg_belgium %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_belgium_clean
pg_belgium_clean_ID <- pg_belgium_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_belgium_races <- gas_laps %>%
                    filter(raceId %in% pg_belgium_clean_ID)

pg_belgium_split <- initial_split(pg_belgium_races, prop = 0.75, strata = milliseconds)

pg_belgium_train <- training(pg_belgium_split)

pg_belgium_test <- testing(pg_belgium_split) 


### USING DATA

pg_belgium_lap_times <- pg_belgium_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_belgium_avg_race_time <- pg_belgium_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1001   44
2 1022   44
3 1037   44
4 1063    1

`summarise()` ungrouping output (override with `.groups` argument)

In [50]:
#14. Netherlands

pg_netherlands <- gas_laps %>%
                filter(raceId %in% netherlands_race_ID) 

pg_netherlands_clean <- pg_netherlands %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_netherlands_clean
pg_netherlands_clean_ID <- pg_netherlands_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_netherlands_races <- gas_laps %>%
                    filter(raceId %in% pg_netherlands_clean_ID)

pg_netherlands_split <- initial_split(pg_netherlands_races, prop = 0.75, strata = milliseconds)

pg_netherlands_train <- training(pg_netherlands_split)

pg_netherlands_test <- testing(pg_netherlands_split) 


### USING DATA

pg_netherlands_lap_times <- pg_netherlands_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_netherlands_avg_race_time <- pg_netherlands_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1064   71

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [51]:
#15. Italy, Monza

pg_monza <- gas_laps %>%
                filter(raceId %in% monza_race_ID) 

pg_monza_clean <- pg_monza %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
pg_monza_clean
pg_monza_clean_ID <- pg_monza_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_monza_races <- gas_laps %>%
                    filter(raceId %in% pg_monza_clean_ID)

pg_monza_split <- initial_split(pg_monza_races, prop = 0.75, strata = milliseconds)

pg_monza_train <- training(pg_monza_split)

pg_monza_test <- testing(pg_monza_split) 


### USING DATA

pg_monza_lap_times <- pg_monza_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_monza_avg_race_time <- pg_monza_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1038   53
2 1002   52
3 1023   52
4 1065    3

`summarise()` ungrouping output (override with `.groups` argument)

In [52]:
#16. Singapore

pg_singapore <- gas_laps %>%
                filter(raceId %in% singapore_race_ID) 

pg_singapore_clean <- pg_singapore %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_singapore_clean
pg_singapore_clean_ID <- pg_singapore_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_singapore_races <- gas_laps %>%
                    filter(raceId %in% pg_singapore_clean_ID)

pg_singapore_split <- initial_split(pg_singapore_races, prop = 0.75, strata = milliseconds)

pg_singapore_train <- training(pg_singapore_split)

pg_singapore_test <- testing(pg_singapore_split) 


### USING DATA

pg_singapore_lap_times <- pg_singapore_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_singapore_avg_race_time <- pg_singapore_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1024   61
2 1003   60

`summarise()` ungrouping output (override with `.groups` argument)

In [53]:
#17. Japan

pg_japan <- gas_laps %>%
                filter(raceId %in% japan_race_ID) 

pg_japan_clean <- pg_japan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_japan_clean
pg_japan_clean_ID <- pg_japan_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_japan_races <- gas_laps %>%
                    filter(raceId %in% pg_japan_clean_ID)

pg_japan_split <- initial_split(pg_japan_races, prop = 0.75, strata = milliseconds)

pg_japan_train <- training(pg_japan_split)

pg_japan_test <- testing(pg_japan_split) 


### USING DATA

pg_japan_lap_times <- pg_japan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_japan_avg_race_time <- pg_japan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  984   52
2 1005   52
3 1026   51

`summarise()` ungrouping output (override with `.groups` argument)

In [54]:
#18. USA, Austin

pg_austin <- gas_laps %>%
                filter(raceId %in% austin_race_ID) 

pg_austin_clean <- pg_austin %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_austin_clean
pg_austin_clean_ID <- pg_austin_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_austin_races <- gas_laps %>%
                    filter(raceId %in% pg_austin_clean_ID)

pg_austin_split <- initial_split(pg_austin_races, prop = 0.75, strata = milliseconds)

pg_austin_train <- training(pg_austin_split)

pg_austin_test <- testing(pg_austin_split) 


### USING DATA

pg_austin_lap_times <- pg_austin_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_austin_avg_race_time <- pg_austin_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1006   55
2 1028   54
3 1069   14

`summarise()` ungrouping output (override with `.groups` argument)

In [55]:
#19. Mexico

pg_mexico <- gas_laps %>%
                filter(raceId %in% mexico_race_ID) 

pg_mexico_clean <- pg_mexico %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_mexico_clean
pg_mexico_clean_ID <- pg_mexico_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_mexico_races <- gas_laps %>%
                    filter(raceId %in% pg_mexico_clean_ID)

pg_mexico_split <- initial_split(pg_mexico_races, prop = 0.75, strata = milliseconds)

pg_mexico_train <- training(pg_mexico_split)

pg_mexico_test <- testing(pg_mexico_split) 


### USING DATA

pg_mexico_lap_times <- pg_mexico_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_mexico_avg_race_time <- pg_mexico_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1070   71
2  986   70
3 1027   70
4 1007   69

`summarise()` ungrouping output (override with `.groups` argument)

In [56]:
#20. Brazil

pg_brazil <- gas_laps %>%
                filter(raceId %in% brazil_race_ID) 

pg_brazil_clean <- pg_brazil %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_brazil_clean
pg_brazil_clean_ID <- pg_brazil_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_brazil_races <- gas_laps %>%
                    filter(raceId %in% pg_brazil_clean_ID)

pg_brazil_split <- initial_split(pg_brazil_races, prop = 0.75, strata = milliseconds)

pg_brazil_train <- training(pg_brazil_split)

pg_brazil_test <- testing(pg_brazil_split) 


### USING DATA

pg_brazil_lap_times <- pg_brazil_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_brazil_avg_race_time <- pg_brazil_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1029   71
2  987   70
3 1008   70
4 1071   70

`summarise()` ungrouping output (override with `.groups` argument)

In [57]:
#21. Abu Dhabi

pg_uae <- gas_laps %>%
                filter(raceId %in% uae_race_ID) 

pg_uae_clean <- pg_uae %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) 
pg_uae_clean
pg_uae_clean_ID <- pg_uae_clean %>%
                        pull(raceId)


### SPLITTING DATA

pg_uae_races <- gas_laps %>%
                    filter(raceId %in% pg_uae_clean_ID)

pg_uae_split <- initial_split(pg_uae_races, prop = 0.75, strata = milliseconds)

pg_uae_train <- training(pg_uae_split)

pg_uae_test <- testing(pg_uae_split) 


### USING DATA

pg_uae_lap_times <- pg_uae_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

pg_uae_avg_race_time <- pg_uae_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum)

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1073   58
2 1047   55
3  988   54
4 1030   53
5 1009   46

`summarise()` ungrouping output (override with `.groups` argument)