# Sebastian Vettel
<img src="https://www.formula1.com/content/fom-website/en/drivers/sebastian-vettel/_jcr_content/image.img.1920.medium.jpg/1646818813887.jpg" width="300">

### Team: Aston Martin
<img src ="https://www.formula1.com/content/fom-website/en/drivers/sebastian-vettel/_jcr_content/helmet.img.png/1646824978505.png" width="200">

In [2]:
library (tidyverse)
library (tidymodels)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Warning message:
“package ‘tidymodels’ was built under R version 4.0.2”
── Attaching packages ────────────────────────────────────── tidymodels 0.1.1 ──

✔ broom     0.7.0      ✔ recipes   0.1.13
✔ dials     0.0.9      ✔ rsample   0.0.7
✔ infer     0.5.4      ✔ tune      0.1.1
✔ modeldata 0.0.2      ✔ workflows 0.2.0
✔ parsnip   0.1.3      ✔ yardstick 0.0.7

Warning message:
“package ‘broom’ was built under R version 4.0.2”
Warning message:
“package ‘dials’ was built under R version 4.0.2”
Warning message:
“package ‘infer’ was built under R version 4.0.3”
Warning message:
“package ‘modeldata’ was built under R version 4.0.1”
Warning message:
“package ‘parsnip’ was built under R version 4.0.2”
Warning message:
“package ‘recipes’ was built under R version 4.0.1”
Warning message:
“package ‘tune’ was built under R version 4.0.2”
Warning message:
“package ‘workflows’ was built under R version 4.0.2”
Warning message:
“package ‘yardstick’ was built under R version 4.0.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()

In [3]:
# Reading dataset files

circuits <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/circuits.csv")

constructor_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_standings.csv") 

constructor_results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructor_results.csv") 
    
constructors <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/constructors.csv")

drivers <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/drivers.csv")

driver_standings <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv")

lap_times <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv") 

pit_stops <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/pit_stops.csv")
           
qualifying <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/qualifying.csv") 

results <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv") 

races <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/races.csv") 

status <- read_csv("https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/status.csv")

Parsed with column specification:
cols(
  circuitId = col_double(),
  circuitRef = col_character(),
  name = col_character(),
  location = col_character(),
  country = col_character(),
  lat = col_double(),
  lng = col_double(),
  alt = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  constructorStandingsId = col_double(),
  raceId = col_double(),
  constructorId = col_double(),
  points = col_double(),
  position = col_double(),
  positionText = col_character(),
  wins = col_double()
)

Parsed with column specification:
cols(
  constructorResultsId = col_double(),
  raceId = col_double(),
  constructorId = col_double(),
  points = col_double(),
  status = col_character()
)

Parsed with column specification:
cols(
  constructorId = col_double(),
  constructorRef = col_character(),
  name = col_character(),
  nationality = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  driverId = col_double(),
  driverRef = col_character(),
  number = col_character(),
  code = col_character(),
  forename = col_character(),
  surname = col_character(),
  dob = col_date(format = ""),
  nationality = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  driverStandingsId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  points = col_double(),
  position = col_double(),
  positionText = col_double(),
  wins = col_double()
)

Warning message:
“21 parsing failures.
  row          col expected actual                                                                                                      file
 4376 positionText a double      D 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33375 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33376 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33377 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
33378 positionText a double      - 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/driver_standings.csv'
..... ............ ........ ...... .........................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  driverId = col_double(),
  lap = col_double(),
  position = col_double(),
  time = col_time(format = ""),
  milliseconds = col_double()
)

Warning message:
“223 parsing failures.
  row  col   expected    actual                                                                                               file
25038 time valid date 52:17.033 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25094 time valid date 52:17.014 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25150 time valid date 52:16.250 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25206 time valid date 52:16.891 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
25262 time valid date 52:17.452 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/lap_times.csv'
..... .... .......... ......... ..................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  driverId = col_double(),
  stop = col_double(),
  lap = col_double(),
  time = col_time(format = ""),
  duration = col_character(),
  milliseconds = col_double()
)

Parsed with column specification:
cols(
  qualifyId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  constructorId = col_double(),
  number = col_double(),
  position = col_double(),
  q1 = col_character(),
  q2 = col_character(),
  q3 = col_character()
)

Parsed with column specification:
cols(
  resultId = col_double(),
  raceId = col_double(),
  driverId = col_double(),
  constructorId = col_double(),
  number = col_double(),
  grid = col_double(),
  position = col_character(),
  positionText = col_character(),
  positionOrder = col_double(),
  points = col_double(),
  laps = col_double(),
  time = col_character(),
  milliseconds = col_character(),
  fastestLap = col_character(),
  rank = col_character(),
  fastestLapTime = col_character(),
  fastestLapSpeed = col_character(),
  statusId = col_double()
)

Warning message:
“6 parsing failures.
  row    col expected actual                                                                                             file
17716 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17717 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17718 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17719 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
17940 number a double    \N 'https://raw.githubusercontent.com/TaylorOglow/group_project_proposal/main/data_set/results.csv'
..... ...... ........ ...... ................................................................................................
See problems(...) for more details.
”
Parsed with column specification:
cols(
  raceId = col_double(),
  year = col_double(),
  round = col_double(),
  circuitId = col_double(),
  name = col_character(),
  date = col_date(format = ""),
  time = col_character(),
  url = col_character()
)

Parsed with column specification:
cols(
  statusId = col_double(),
  status = col_character()
)

In [4]:
# Filtering 2022 GP circuits 

# Vector of 2022 GP locations

locations_2022 <- c("Sakhir", "Jeddah", "Melbourne", "Imola", "Miami", "Montmeló", "Monte-Carlo", "Baku", "Montreal", "Silverstone", "Spielberg", 
                    "Le Castellet", "Budapest", "Spa", "Zandvoort", "Monza", "Sochi", "Marina Bay", "Suzuka", "Austin", "Mexico City", "São Paulo", "Abu Dhabi")

# Filtering circuit data set by locations vector 

circuits_2022 <- circuits %>% 
           filter(location %in% locations_2022) %>%
           filter(name != "A1-Ring") %>%
           select(circuitId:alt)


# Extracting 2022 circuit ID's 


circuit_ids <- circuits_2022 %>%
              pull(circuitId)

# Extracting 2022 circuit name and ID's


circuits_IDS <- circuits_2022 %>%
                select(circuitId, name, country, location) %>% 
                arrange(country)

In [5]:
# Filtering 2022 Constructors

team_names <- c("Alfa Romeo", "AlphaTauri", "Alpine F1 Team", "Aston Martin", "Ferrari", 
                "Haas F1 Team", "McLaren", "Mercedes", "Red Bull", "Williams")

teams_2022 <- constructors %>%
                 filter(name %in% team_names)

# Extracting 2022 Constructor ID's

constructor_ids <- teams_2022 %>%
              pull(constructorId)

In [6]:
# Filtering 2022 Drivers

driver_surnames <- c("Hamilton", "Russell", "Albon", "Zhou", "Bottas", "Gasly", "Tsunoda", "Alonso", "Ocon", "Vettel", "Stroll", 
                     "Leclerc", "Sainz", "Magnussen", "Schumacher", "Ricciardo", "Norris", "Verstappen", "Pérez", "Latifi")
 
drivers_2022 <- drivers %>%
                filter(surname %in% driver_surnames) %>%
                filter(!(forename %in% c("Ralf", "Michael", "Jos", "Duncan", "Jan")))

# Extracting Driver IDS

driver_ids <- drivers_2022 %>%
              pull(driverId)

# Extracting Driver Codes

driver_codes <- drivers_2022 %>%
              pull(code)

# Combining IDS and Codes

driver_id_code <- data.frame(driver_ids, driver_codes)

In [7]:
#### Filtering Race Data for 2022 Races

past_2022_races <- races %>%
                    filter(circuitId %in% circuit_ids) %>%
                    filter(year != "2022")

##### Extracting Race ID's

race_ids <- past_2022_races %>%
            pull(raceId)


##### Filtering Race Data For All 23 Circuits

#############################################

bahrain <- past_2022_races %>% 
            filter(circuitId == 3) %>%
            arrange(desc(year))

bahrain_race_ID <- bahrain %>%
                pull(raceId)

#############################################

sa <- past_2022_races %>% 
            filter(circuitId == 77) %>%
            arrange(desc(year))

saudi_race_ID <- sa %>%
                pull(raceId)

#############################################

aus <- past_2022_races %>% 
            filter(circuitId == 1) %>%
            arrange(desc(year))

aus_race_ID <- aus %>%
                pull(raceId)

#############################################

imola <- past_2022_races %>% 
            filter(circuitId == 21) %>%
            arrange(desc(year))

imola_race_ID <- imola %>%
                pull(raceId)

#############################################

miami <- past_2022_races %>% 
            filter(circuitId == 79) %>%
            arrange(desc(year))

miami_race_ID <- miami %>%
                pull(raceId)

#############################################

spain <- past_2022_races %>% 
            filter(circuitId == 4) %>%
            arrange(desc(year))

spain_race_ID <- spain %>%
                pull(raceId)

#############################################

monaco <- past_2022_races %>% 
            filter(circuitId == 6) %>%
            arrange(desc(year))

monaco_race_ID <- monaco %>%
                pull(raceId)

#############################################

azerbaijan <- past_2022_races %>% 
            filter(circuitId == 73) %>%
            arrange(desc(year))

azerbaijan_race_ID <- azerbaijan %>%
                pull(raceId)

#############################################

canada <- past_2022_races %>% 
            filter(circuitId == 7) %>%
            arrange(desc(year))

canada_race_ID <- canada %>%
                pull(raceId)

#############################################

uk <- past_2022_races %>% 
            filter(circuitId == 9) %>%
            arrange(desc(year))


uk_race_ID <- uk %>%
                pull(raceId)

#############################################

austria <- past_2022_races %>% 
            filter(circuitId == 70) %>%
            arrange(desc(year))


austria_race_ID <- austria %>%
                pull(raceId)

#############################################

france <- past_2022_races %>% 
            filter(circuitId == 34) %>%
            arrange(desc(year))


france_race_ID <- france %>%
                pull(raceId)

#############################################

hungary <- past_2022_races %>% 
            filter(circuitId == 11) %>%
            arrange(desc(year))


hungary_race_ID <- hungary %>%
                pull(raceId)

#############################################

belgium <- past_2022_races %>% 
            filter(circuitId == 13) %>%
            arrange(desc(year))


belgium_race_ID <- belgium %>%
                pull(raceId)

#############################################

netherlands <- past_2022_races %>% 
            filter(circuitId == 39) %>%
            arrange(desc(year))


netherlands_race_ID <- netherlands %>%
                pull(raceId)

#############################################

monza <- past_2022_races %>% 
            filter(circuitId == 14) %>%
            arrange(desc(year))

monza_race_ID <- monza %>%
                pull(raceId)

#############################################

singapore <- past_2022_races %>% 
            filter(circuitId == 15) %>%
            arrange(desc(year))

singapore_race_ID <- singapore %>%
                pull(raceId)

#############################################

japan <- past_2022_races %>% 
            filter(circuitId == 22) %>%
            arrange(desc(year))

japan_race_ID <- japan %>%
                pull(raceId)

#############################################

austin <- past_2022_races %>% 
            filter(circuitId == 69) %>%
            arrange(desc(year))

austin_race_ID <- austin %>%
                pull(raceId)

#############################################

mexico <- past_2022_races %>% 
            filter(circuitId == 32) %>%
            arrange(desc(year))

mexico_race_ID <- mexico %>%
                pull(raceId)

#############################################

brazil <- past_2022_races %>% 
            filter(circuitId == 18) %>%
            arrange(desc(year))

brazil_race_ID <- brazil %>%
                pull(raceId)

#############################################

uae <- past_2022_races %>% 
            filter(circuitId == 24) %>%
            arrange(desc(year))

uae_race_ID <- uae %>%
                pull(raceId)

In [8]:
# Filtering Lap Data For 2022 Drivers

lap_data <- lap_times %>%
            filter(driverId %in% driver_ids) %>%
            filter(raceId %in% race_ids)

vet_laps <- lap_data %>%
            filter(driverId == 20)

In [9]:
#1. Bahrain 

sv_bahrain <- vet_laps %>%
                filter(raceId %in% bahrain_race_ID) 

sv_bahrain_clean <- sv_bahrain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter (n != 49) %>%
                        filter (n != 87)
sv_bahrain_clean
sv_bahrain_clean_ID <- sv_bahrain_clean %>%
                        pull(raceId)

### SPLITTING DATA

sv_bahrain_races <- vet_laps %>%
                    filter(raceId %in% sv_bahrain_clean_ID)

sv_bahrain_split <- initial_split(sv_bahrain_races, prop = 0.75, strata = milliseconds)

sv_bahrain_train <- training(sv_bahrain_split)

sv_bahrain_test <- testing(sv_bahrain_split) 

### COMPUTING AVERAGE RACE TIME

sv_bahrain_lap_times <- sv_bahrain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_bahrain_avg_race_time <- sv_bahrain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

   raceId n
1     4   57
2   863   57
3   883   57
4   902   57
5   929   57
6   971   57
7   990   57
8  1011   57
9  1045   56
10 1052   55

`summarise()` ungrouping output (override with `.groups` argument)

In [10]:
#2. Saudi Arabia

sv_sa <- vet_laps %>%
                filter(raceId %in% saudi_race_ID) 

sv_sa_clean <- sv_sa %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
sv_sa_clean
sv_sa_clean_ID <- sv_sa_clean %>%
                        pull(raceId)

sv_sa_races <- vet_laps %>%
                    filter(raceId %in% sv_sa_clean_ID)

sv_sa_split <- initial_split(sv_sa_races, prop = 0.75, strata = milliseconds)

sv_sa_train <- training(sv_sa_split)

sv_sa_test <- testing(sv_sa_split) 

sv_sa_lap_times <- sv_sa_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_sa_avg_race_time <- sv_sa_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1072   44

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 2 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [11]:
#3. Austrailia

sv_aus <- vet_laps %>%
                filter(raceId %in% aus_race_ID) 

sv_aus_clean <- sv_aus %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        filter(n != 25) %>%
                        filter(n != 3)
sv_aus_clean
sv_aus_clean_ID <- sv_aus_clean %>%
                        pull(raceId)

sv_aus_races <- vet_laps %>%
                    filter(raceId %in% sv_aus_clean_ID)

sv_aus_split <- initial_split(sv_aus_races, prop = 0.75, strata = milliseconds)

sv_aus_train <- training(sv_aus_split)

sv_aus_test <- testing(sv_aus_split) 

sv_aus_lap_times <- sv_aus_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_aus_avg_race_time <- sv_aus_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  841   58
2  860   58
3  880   58
4  926   58
5  989   58
6 1010   58
7  948   57
8  969   57
9    1   56

`summarise()` ungrouping output (override with `.groups` argument)

In [12]:
#4. Imola, Italy

sv_imola <- vet_laps %>%
                filter(raceId %in% imola_race_ID) 

sv_imola_clean <- sv_imola %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
sv_imola_clean
sv_imola_clean_ID <- sv_imola_clean %>%
                        pull(raceId)

sv_imola_races <- vet_laps %>%
                    filter(raceId %in% sv_imola_clean_ID)

sv_imola_split <- initial_split(sv_imola_races, prop = 0.75, strata = milliseconds)

sv_imola_train <- training(sv_imola_split)

sv_imola_test <- testing(sv_imola_split) 


sv_imola_lap_times <- sv_imola_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_imola_avg_race_time <- sv_imola_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1043   63
2 1053   61

`summarise()` ungrouping output (override with `.groups` argument)

In [13]:
#5. Spain

sv_spain <- vet_laps %>%
                filter(raceId %in% spain_race_ID) 

sv_spain_clean <- sv_spain %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
sv_spain_clean
sv_spain_clean_ID <- sv_spain_clean %>%
                        pull(raceId)

sv_spain_races <- vet_laps %>%
                    filter(raceId %in% sv_spain_clean_ID)

sv_spain_split <- initial_split(sv_spain_races, prop = 0.75, strata = milliseconds)

sv_spain_train <- training(sv_spain_split)

sv_spain_test <- testing(sv_spain_split) 

sv_spain_lap_times <- sv_spain_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_spain_avg_race_time <- sv_spain_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

   raceId n
1     5   66
2   341   66
3   845   66
4   864   66
5   884   66
6   904   66
7   930   66
8   952   66
9   973   66
10  993   66
11 1014   66
12 1036   65
13 1055   65

`summarise()` ungrouping output (override with `.groups` argument)

In [14]:
#6. Monaco

sv_monaco <- vet_laps %>%
                filter(raceId %in% monaco_race_ID) 

sv_monaco_clean <- sv_monaco %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        head(n=10)
sv_monaco_clean
sv_monaco_clean_ID <- sv_monaco_clean %>%
                        pull(raceId)

sv_monaco_races <- vet_laps %>%
                    filter(raceId %in% sv_monaco_clean_ID)

sv_monaco_split <- initial_split(sv_monaco_races, prop = 0.75, strata = milliseconds)

sv_monaco_train <- training(sv_monaco_split)

sv_monaco_test <- testing(sv_monaco_split) 

sv_monaco_lap_times <- sv_monaco_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_monaco_avg_race_time <- sv_monaco_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

   raceId n
1   342   78
2   846   78
3   865   78
4   885   78
5   931   78
6   953   78
7   974   78
8   994   78
9  1015   78
10 1056   78

`summarise()` ungrouping output (override with `.groups` argument)

In [15]:
#7. Azerbaijan

sv_azerbaijan <- vet_laps %>%
                filter(raceId %in% azerbaijan_race_ID) 

sv_azerbaijan_clean <- sv_azerbaijan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
sv_azerbaijan_clean
sv_azerbaijan_clean_ID <- sv_azerbaijan_clean %>%
                        pull(raceId)

sv_azerbaijan_races <- vet_laps %>%
                    filter(raceId %in% sv_azerbaijan_clean_ID)

sv_azerbaijan_split <- initial_split(sv_azerbaijan_races, prop = 0.75, strata = milliseconds)

sv_azerbaijan_train <- training(sv_azerbaijan_split)

sv_azerbaijan_test <- testing(sv_azerbaijan_split) 

sv_azerbaijan_lap_times <- sv_azerbaijan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_azerbaijan_avg_race_time <- sv_azerbaijan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  955   51
2  976   51
3  992   51
4 1013   51
5 1057   51

`summarise()` ungrouping output (override with `.groups` argument)

In [16]:
#8. Canada

sv_canada <- vet_laps %>%
                filter(raceId %in% canada_race_ID) 

sv_canada_clean <- sv_canada %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        head(10)
sv_canada_clean
sv_canada_clean_ID <- sv_canada_clean %>%
                        pull(raceId)

sv_canada_races <- vet_laps %>%
                    filter(raceId %in% sv_canada_clean_ID)

sv_canada_split <- initial_split(sv_canada_races, prop = 0.75, strata = milliseconds)

sv_canada_train <- training(sv_canada_split)

sv_canada_test <- testing(sv_canada_split) 

sv_canada_lap_times <- sv_canada_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_canada_avg_race_time <- sv_canada_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

   raceId n
1    24   70
2   344   70
3   847   70
4   866   70
5   886   70
6   906   70
7   932   70
8   954   70
9   975   70
10 1016   70

`summarise()` ungrouping output (override with `.groups` argument)

In [17]:
#9. Great Britain

sv_uk <- vet_laps %>%
                filter(raceId %in% uk_race_ID) 

sv_uk_clean <- sv_uk %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        head(12) %>%
                        filter(n != 60)
sv_uk_clean
sv_uk_clean_ID <- sv_uk_clean %>%
                        pull(raceId)

sv_uk_races <- vet_laps %>%
                    filter(raceId %in% sv_uk_clean_ID)

sv_uk_split <- initial_split(sv_uk_races, prop = 0.75, strata = milliseconds)

sv_uk_train <- training(sv_uk_split)

sv_uk_test <- testing(sv_uk_split) 

sv_uk_lap_times <- sv_uk_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_uk_avg_race_time <- sv_uk_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

   raceId n
1   346   52
2   849   52
3   868   52
4   908   52
5   934   52
6   957   52
7   998   52
8  1034   52
9  1035   52
10  978   51
11 1019   51

`summarise()` ungrouping output (override with `.groups` argument)

In [18]:
#10. Austria

sv_austria <- vet_laps %>%
                filter(raceId %in% austria_race_ID) 

sv_austria_clean <- sv_austria %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        head(7)
sv_austria_clean
sv_austria_clean_ID <- sv_austria_clean %>%
                        pull(raceId) 

sv_austria_races <- vet_laps %>%
                    filter(raceId %in% sv_austria_clean_ID)

sv_austria_split <- initial_split(sv_austria_races, prop = 0.75, strata = milliseconds)

sv_austria_train <- training(sv_austria_split)

sv_austria_test <- testing(sv_austria_split) 

sv_austria_lap_times <- sv_austria_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_austria_avg_race_time <- sv_austria_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  933   71
2  977   71
3  997   71
4 1018   71
5 1031   71
6 1058   70
7 1060   69

`summarise()` ungrouping output (override with `.groups` argument)

In [19]:
#11. France

sv_france <- vet_laps %>%
                filter(raceId %in% france_race_ID) 

sv_france_clean <- sv_france %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
sv_france_clean
sv_france_clean_ID <- sv_france_clean %>%
                        pull(raceId)

sv_france_races <- vet_laps %>%
                    filter(raceId %in% sv_france_clean_ID)

sv_france_split <- initial_split(sv_france_races, prop = 0.75, strata = milliseconds)

sv_france_train <- training(sv_france_split)

sv_france_test <- testing(sv_france_split) 

sv_france_lap_times <- sv_france_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_france_avg_race_time <- sv_france_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  996   53
2 1017   53
3 1059   53

`summarise()` ungrouping output (override with `.groups` argument)

In [20]:
#12. Hungary

sv_hungary <- vet_laps %>%
                filter(raceId %in% hungary_race_ID) 

sv_hungary_clean <- sv_hungary %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        head(13)
sv_hungary_clean
sv_hungary_clean_ID <- sv_hungary_clean %>%
                        pull(raceId)

sv_hungary_races <- vet_laps %>%
                    filter(raceId %in% sv_hungary_clean_ID)

sv_hungary_split <- initial_split(sv_hungary_races, prop = 0.75, strata = milliseconds)

sv_hungary_train <- training(sv_hungary_split)

sv_hungary_test <- testing(sv_hungary_split) 

sv_hungary_lap_times <- sv_hungary_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_hungary_avg_race_time <- sv_hungary_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

   raceId n
1   348   70
2   851   70
3   890   70
4   910   70
5   958   70
6   979   70
7  1000   70
8  1021   70
9  1062   70
10   46   69
11  870   69
12  936   69
13 1033   69

`summarise()` ungrouping output (override with `.groups` argument)

In [21]:
#13. Belgium

sv_belgium <- vet_laps %>%
                filter(raceId %in% belgium_race_ID) 

sv_belgium_clean <- sv_belgium %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        head(13)
sv_belgium_clean
sv_belgium_clean_ID <- sv_belgium_clean %>%
                        pull(raceId)

sv_belgium_races <- vet_laps %>%
                    filter(raceId %in% sv_belgium_clean_ID)

sv_belgium_split <- initial_split(sv_belgium_races, prop = 0.75, strata = milliseconds)

sv_belgium_train <- training(sv_belgium_split)

sv_belgium_test <- testing(sv_belgium_split) 


sv_belgium_lap_times <- sv_belgium_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_belgium_avg_race_time <- sv_belgium_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

   raceId n
1    12   44
2    30   44
3   852   44
4   871   44
5   891   44
6   911   44
7   960   44
8   980   44
9  1001   44
10 1022   44
11 1037   44
12  349   42
13  937   42

`summarise()` ungrouping output (override with `.groups` argument)

In [22]:
#14. Netherlands

sv_netherlands <- vet_laps %>%
                filter(raceId %in% netherlands_race_ID) 

sv_netherlands_clean <- sv_netherlands %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
sv_netherlands_clean
sv_netherlands_clean_ID <- sv_netherlands_clean %>%
                        pull(raceId)

sv_netherlands_races <- vet_laps %>%
                    filter(raceId %in% sv_netherlands_clean_ID)

sv_netherlands_split <- initial_split(sv_netherlands_races, prop = 0.75, strata = milliseconds)

sv_netherlands_train <- training(sv_netherlands_split)

sv_netherlands_test <- testing(sv_netherlands_split) 

sv_netherlands_lap_times <- sv_netherlands_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_netherlands_avg_race_time <- sv_netherlands_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1 1064   70

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20. Stratification will be done with 3 breaks instead.”
`summarise()` ungrouping output (override with `.groups` argument)

In [23]:
#15. Monza, Italy

sv_monza <- vet_laps %>%
                filter(raceId %in% monza_race_ID) 

sv_monza_clean <- sv_monza %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        head(13)
sv_monza_clean
sv_monza_clean_ID <- sv_monza_clean %>%
                        pull(raceId)

sv_monza_races <- vet_laps %>%
                    filter(raceId %in% sv_monza_clean_ID)

sv_monza_split <- initial_split(sv_monza_races, prop = 0.75, strata = milliseconds)

sv_monza_train <- training(sv_monza_split)

sv_monza_test <- testing(sv_monza_split) 

sv_monza_lap_times <- sv_monza_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_monza_avg_race_time <- sv_monza_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

   raceId n
1    13   53
2    31   53
3   350   53
4   853   53
5   892   53
6   912   53
7   938   53
8   961   53
9   981   53
10 1002   53
11 1065   53
12   48   52
13 1023   52

`summarise()` ungrouping output (override with `.groups` argument)

In [24]:
#16. Singapore

sv_singapore <- vet_laps %>%
                filter(raceId %in% singapore_race_ID) 

sv_singapore_clean <- sv_singapore %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n))
sv_singapore_clean
sv_singapore_clean_ID <- sv_singapore_clean %>%
                        pull(raceId)

sv_singapore_races <- vet_laps %>%
                    filter(raceId %in% sv_singapore_clean_ID)

sv_singapore_split <- initial_split(sv_singapore_races, prop = 0.75, strata = milliseconds)

sv_singapore_train <- training(sv_singapore_split)

sv_singapore_test <- testing(sv_singapore_split) 

sv_singapore_lap_times <- sv_singapore_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_singapore_avg_race_time <- sv_singapore_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

   raceId n
1    14   61
2    32   61
3   351   61
4   854   61
5   893   61
6   939   61
7   962   61
8  1003   61
9  1024   61
10  913   60
11  873   59

`summarise()` ungrouping output (override with `.groups` argument)

In [25]:
#17. Japan

sv_japan <- vet_laps %>%
                filter(raceId %in% japan_race_ID) 

sv_japan_clean <- sv_japan %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        head(9)
sv_japan_clean
sv_japan_clean_ID <- sv_japan_clean %>%
                        pull(raceId)

sv_japan_races <- vet_laps %>%
                    filter(raceId %in% sv_japan_clean_ID)

sv_japan_split <- initial_split(sv_japan_races, prop = 0.75, strata = milliseconds)

sv_japan_train <- training(sv_japan_split)

sv_japan_test <- testing(sv_japan_split) 

sv_japan_lap_times <- sv_japan_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_japan_avg_race_time <- sv_japan_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1   15   53
2  352   53
3  855   53
4  874   53
5  895   53
6  940   53
7  964   53
8 1005   53
9 1026   52

`summarise()` ungrouping output (override with `.groups` argument)

In [26]:
#18. Austin

sv_austin <- vet_laps %>%
                filter(raceId %in% austin_race_ID) 

sv_austin_clean <- sv_austin %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        head(8)
sv_austin_clean
sv_austin_clean_ID <- sv_austin_clean %>%
                        pull(raceId)

sv_austin_races <- vet_laps %>%
                    filter(raceId %in% sv_austin_clean_ID)

sv_austin_split <- initial_split(sv_austin_races, prop = 0.75, strata = milliseconds)

sv_austin_train <- training(sv_austin_split)

sv_austin_test <- testing(sv_austin_split) 

sv_austin_lap_times <- sv_austin_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_austin_avg_race_time <- sv_austin_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  878   56
2  898   56
3  916   56
4  942   56
5  965   56
6  985   56
7 1006   56
8 1069   55

`summarise()` ungrouping output (override with `.groups` argument)

In [27]:
#19. Mexico

sv_mexico <- vet_laps %>%
                filter(raceId %in% mexico_race_ID) 

sv_mexico_clean <- sv_mexico %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        head(5)
sv_mexico_clean
sv_mexico_clean_ID <- sv_mexico_clean %>%
                        pull(raceId)

sv_mexico_races <- vet_laps %>%
                    filter(raceId %in% sv_mexico_clean_ID)

sv_mexico_split <- initial_split(sv_mexico_races, prop = 0.75, strata = milliseconds)

sv_mexico_train <- training(sv_mexico_split)

sv_mexico_test <- testing(sv_mexico_split) 

sv_mexico_lap_times <- sv_mexico_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_mexico_avg_race_time <- sv_mexico_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

  raceId n
1  966   71
2  986   71
3 1007   71
4 1027   71
5 1070   70

`summarise()` ungrouping output (override with `.groups` argument)

In [28]:
#20. Brazil

sv_brazil <- vet_laps %>%
                filter(raceId %in% brazil_race_ID) 

sv_brazil_clean <- sv_brazil %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        head(12)
sv_brazil_clean
sv_brazil_clean_ID <- sv_brazil_clean %>%
                        pull(raceId)

sv_brazil_races <- vet_laps %>%
                    filter(raceId %in% sv_brazil_clean_ID)

sv_brazil_split <- initial_split(sv_brazil_races, prop = 0.75, strata = milliseconds)

sv_brazil_train <- training(sv_brazil_split)

sv_brazil_test <- testing(sv_brazil_split) 

sv_brazil_lap_times <- sv_brazil_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        

sv_brazil_avg_race_time <- sv_brazil_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

   raceId n
1    16   71
2    35   71
3   354   71
4   859   71
5   879   71
6   899   71
7   917   71
8   944   71
9   967   71
10  987   71
11 1008   71
12 1071   70

`summarise()` ungrouping output (override with `.groups` argument)

In [29]:
#21. Abu Dhabi

sv_uae <- vet_laps %>%
                filter(raceId %in% uae_race_ID) 

sv_uae_clean <- sv_uae %>%
                        group_by(raceId) %>%
                        summarize(n = n()) %>%
                        arrange(desc(n)) %>%
                        head(12) %>%
                        filter(n != 58)
sv_uae_clean
sv_uae_clean_ID <- sv_uae_clean %>%
                        pull(raceId)

sv_uae_races <- vet_laps %>%
                    filter(raceId %in% sv_uae_clean_ID)

sv_uae_split <- initial_split(sv_uae_races, prop = 0.75, strata = milliseconds)

sv_uae_train <- training(sv_uae_split)

sv_uae_test <- testing(sv_uae_split) 

sv_uae_lap_times <- sv_uae_train %>%
                        group_by(lap) %>%
                        summarize(lap_time_avg = mean(milliseconds)) 
                        
sv_uae_avg_race_time <- sv_uae_lap_times %>%
                            mutate(lap_time_avg_mins = lap_time_avg / 60000) %>%
                            select(lap_time_avg_mins) %>%
                            map(sum) %>%
                            data.frame()

`summarise()` ungrouping output (override with `.groups` argument)

   raceId n
1    17   55
2   355   55
3   877   55
4   897   55
5   918   55
6   945   55
7   968   55
8   988   55
9  1009   55
10 1030   55
11 1047   54

`summarise()` ungrouping output (override with `.groups` argument)